<div class="modal fade modal" id="modalNewWindow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Folio</h5>
                <button type="button" class="btn-close" onclick="closeModalNewWindow()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="mui-button mui-button-search" onclick="CreateFolio();"> Create</button>
                    <button class="mui-button mui-button-clear" onclick="closeModalNewWindow();">Close</button>
                </div>
                <div class="row mt-2">
                    <label class="col-md-2">Window</label>
                    <select id="folioNoCreate" class="col-md-10">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>

                    </select>
                </div>
                <div class=" row mt-2">
                    <label class="col-md-2">Accunt</label>

                    <input class="col-md-10" id="nameFolioNo" />

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalNewWindow(){
        $('#folioNoCreate').val(listFolioNoID.length + 1);
        $('#nameFolioNo').val(lastname);
        $('#modalNewWindow').modal('show');
    }
    function closeModalNewWindow(){
        $('#modalNewWindow').modal('hide');
    }

    function CreateFolio() {
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('folioNo',  $('#folioNoCreate').val());
        formData.append('userID', userID);

        $.ajax({
            url: '/Billing/CreateFolio',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalNewWindow();
                    getFolioNo();
                    searchFolioDetail(0);
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }
            },
            error: function (xhr, statusText, err) { }
        });
    }
</script>