
<div class="modal fade" id="modalPaymentBilling" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border: 1px solid #bcbcbc">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionModalLabel">Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="button-group">
                <button type="button" class="mui-button mui-button-search" onclick="PostingPayment();">Post</button>
                <button type="button" class="mui-button mui-button-clear" data-bs-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="form-group">
                        <label for="code" class="form-label">Payment Code</label>
                        <select type="text" class="form-control" id="paymentCodePaymentBilling" style="margin-left:20px;padding-top:3px"></select>

                    </div>
                    <div class="form-group">
                        <label for="code" class="form-label">Currency</label>
                        <input type="text" class="form-control small-input" id="currencyPaymentBilling" value="VND" readonly>
                    </div>
                </div>
                <hr class="hr">
                <div class="form-group">
                    <label for="code" class="form-label">Amount</label>
                    <input type="text" class="form-control small-input" id="amountPaymentBilling" style="text-align:right">
                </div>
                <hr class="hr">
                <div class="form-group">
                    <label for="supplement" class="form-label">Supplement</label>
                    <input type="text" class="form-control" id="supplementPaymentBilling" style="margin-left:20px">
                </div>
                <div class="form-group">
                    <label for="reference" class="form-label">Reference</label>
                    <input type="text" class="form-control" id="referencePaymentBilling" style="margin-left:20px">
                </div>

                <hr class="hr">
                <div class="form-group">
                    <label for="reference" class="form-label">Credit Card No</label>
                    <input type="text" class="form-control" id="creditCardNoPaymentBilling" style="margin-left:20px">
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="crashier" class="form-label">Exp Date</label>
                            <input type="date" class="form-control medium-input" id="expDatePaymentBilling" >
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="winNo" class="form-label">Trans. Date</label>
                            <input type="date" class="form-control medium-input" id="transDatePaymentBilling">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getPaymentFO() {

        $.ajax({
            url: '/Billing/GetPaymentFO',
            type: 'get',
            dataType: 'json',

            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#paymentCodePaymentBilling').empty();
                var html = `<option value='0' selected>Select payment code</option>` ;
                if(result.length > 0){
                    for(var i = 0; i< result.length;i++){
                        html += `<option value='${result[i].id}'>${result[i].code} - ${result[i].description}</option>`;
                    }
                }
                $('#paymentCodePaymentBilling').append(html);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            }

        });
    }
    function openModalPaymentBilling(){
        getPaymentFO();
        clearPaymentBilling();
        $('#amountPaymentBilling').val(totalAmountBilling.toLocaleString('en-US'));
        $('#modalPaymentBilling').modal('show');
    }
    
    function closeModalPaymentBilling(){
        $('#modalPaymentBilling').modal('hide');

    }
    function clearPaymentBilling(){
        $('#supplementPaymentBilling').val('');
        $('#referencePaymentBilling').val('');
        $('#creditCardNoPaymentBilling').val('');

    }

    function PostingPayment() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        const shiftID = localStorage.getItem("shiftID");
        const shiftName = localStorage.getItem("shiftName");
        var formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('transID', $('#paymentCodePaymentBilling').val());
        formData.append('amount', parseFloat($('#amountPaymentBilling').val().replace(/,/g, '')));
        formData.append('supplement', $('#supplementPaymentBilling').val());
        formData.append('creditCardNo', $('#referencePaymentBilling').val());
        formData.append('transDate', $('#transDatePaymentBilling').val());
        formData.append('reference', $('#creditCardNoPaymentBilling').val());
        formData.append('userName', userName);
        formData.append('userID', userID);
        formData.append('folioNoID', folioNoID);
        formData.append('shiftID', shiftID);
        formData.append('shiftName', shiftName);
        $.ajax({
            url: '/Billing/PostPayment',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    clearPaymentBilling();
                    closeModalPaymentBilling();
                    searchFolioDetail(0);
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }
            },
            error: function (xhr, statusText, err) { }
        });
    }


</script>