
<link href="~/css/pages/Posting.css" rel="stylesheet" />
<div class="modal fade" id="modalPosting" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Posting Transaction - Article</h5>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="main-toolbar d-flex">
                        <button class="mui-button mui-button-export" id="btn-print">
                            <i class="fa-solid fa-print"></i><span> Print</span>
                        </button>
                        <button class="mui-button mui-button-save" id="btn-post" onclick="PostingService();">
                            <i class="fa-solid fa-save"></i><span> Post</span>
                        </button>
                        <button class="mui-button mui-button-new" id="btn-add" style="display: none">
                            <i class="fa-solid fa-plus"></i><span> Add</span>
                        </button>
                        <button class="mui-button mui-button-close" data-bs-dismiss="modal" id="btn-close">
                            <i class="fa-solid fa-xmark"></i><span> Close</span>
                        </button>
                    </div>

                    <div class="mobile-nav">
                        <button onclick="switchView('group')" id="nav-group">1. Group Trans.</button>
                        <button onclick="switchView('trans')" id="nav-trans">2. List Trans.</button>
                        <button onclick="switchView('form')" id="nav-form" class="active">3. Posting (F2/F3)</button>
                    </div>

                    <div class="container-fluid main-content">
                        <div class="row g-1 h-100">

                            <div class="col-md-3 h-100" id="view-group">
                                <div class="split-column">
                                    <div class="split-item">
                                        <div class="app-header">Group Transaction</div>
                                        <div class="scroll-area list-group list-group-flush" id="list-group-container">
                                        </div>
                                    </div>
                                    <div class="split-item">
                                        <div class="app-header">Subgroup Transaction</div>
                                        <div class="scroll-area list-group list-group-flush" id="list-subgroup-container">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 h-100" id="view-trans">
                                <div class="split-column">
                                    <div class="split-item">
                                        <div class="app-header">Transaction List</div>
                                        <div class="scroll-area list-group list-group-flush" id="list-transaction-container">
                                        </div>
                                    </div>
                                    <div class="split-item">
                                        <div class="app-header">Article List</div>
                                        <div class="scroll-area list-group list-group-flush" id="list-article-container">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 h-100 active-view" id="view-form">
                                <div class="form-container">
                                    <div class="d-flex bg-dark align-items-center justify-content-between pe-2">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item"><button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-pane" type="button">Post Detail (F2)</button></li>
                                            <li class="nav-item"><button class="nav-link" id="invoice-tab" data-bs-toggle="tab" data-bs-target="#invoice-pane" type="button">Post Invoice (F3)</button></li>
                                        </ul>
                                    </div>

                                    <div class="tab-content" id="postingTabsContent">
                                        <div class="tab-pane fade show active" id="detail-pane" role="tabpanel">
                                            <form class="d-flex flex-column h-100">
                                                <div class="form-body-scroll">
                                                    <div class="row g-1 mb-1 align-items-center">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">T/A .Code</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text" class="form-control form-control-sm js-trans-code" id="input-tacode" />
                                                        </div>
                                                        <div class="col-12 col-sm-7">
                                                            <input type="text" class="form-control form-control-sm js-trans-desc" id="input-desc" />
                                                        </div>
                                                    </div>

                                                    <div class="row g-1 mb-1 align-items-center js-row-article d-none">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label text-primary fw-bold">↳ Article</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text" class="form-control form-control-sm text-primary js-art-code" readonly />
                                                        </div>
                                                        <div class="col-12 col-sm-7">
                                                            <input type="text" class="form-control form-control-sm text-primary js-art-desc" readonly />
                                                        </div>
                                                    </div>

                                                    <div class="row g-1 mb-1">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Quantity</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text"
                                                                   id="input-quantity"
                                                                   class="form-control form-control-sm fw-bold text-end" value="1" />
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-end pe-2">
                                                            <label class="form-label">Bill No</label>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>

                                                    <div class="row g-1 mb-1">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Price ++</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text"
                                                                   id="input-price"
                                                                   class="form-control form-control-sm amount-display"
                                                                   value="0.00" />
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-end pe-2">
                                                            <label class="form-label fw-bold">Amount ++</label>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <input type="text" class="form-control form-control-sm amount-display bg-white" value="0.00" readonly />
                                                        </div>
                                                    </div>

                                                    <div class="row g-1 mb-1">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Price.Net</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text" class="form-control form-control-sm text-end text-muted js-price-input"
                                                                   id="input-price-net"
                                                                    value="0.00" />
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-end pe-2">
                                                            <label class="form-label fw-bold">Amount.Net</label>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <input type="text" class="form-control form-control-sm text-end text-muted bg-white" value="0.00" readonly />
                                                        </div>
                                                    </div>

                                                    <div class="row g-1 mb-1">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Currency</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <select name="currencyID" class="form-select form-select-sm currency-select">
                                                                <option value="">-- Loading... --</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-end pe-2">
                                                            <label class="form-label fw-bold">Win.No</label>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <input type="text" class="form-control form-control-sm text-end text-muted bg-white" value="1" readonly />
                                                        </div>
                                                    </div>

                                                    <div class="row g-1 mb-1 align-items-center">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">RmT.Charge</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                        <div class="col-12 col-sm-7">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>

                                                    <div class="row g-1 mb-1 align-items-center">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Reference</label>
                                                        </div>
                                                        <div class="col-12 col-sm-10">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>

                                                    <div class="row g-1 mb-1 align-items-center">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Supplement</label>
                                                        </div>
                                                        <div class="col-12 col-sm-10">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>

                                                    <div class="section-header">More Information</div>
                                                    <div class="express-box">
                                                        <div class="d-flex align-items-center gap-2 mb-1">
                                                            <input type="checkbox" class="form-check-input mt-0"/>
                                                            <label class="text-danger fw-bold small">Express Service</label>
                                                        </div>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <div class="input-group input-group-sm w-50 me-2" style="min-width: 150px;">
                                                                <span class="input-group-text">Pct</span>
                                                                <input type="text" class="form-control text-primary fw-bold text-end" value="50.00" />
                                                                <span class="input-group-text">%</span>
                                                            </div>
                                                            <div class="small mt-1 mt-sm-0">
                                                                <input type="radio" name="r1" /> 10%
                                                                <input type="radio" name="r1" checked /> 50%
                                                                <input type="radio" name="r1" /> 100%
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <fieldset class="border p-1 mt-1">
                                                        <legend class="float-none w-auto p-0 m-0 text-danger small fw-bold px-1">
                                                            Invoice Infor
                                                        </legend>
                                                        <div class="row g-1 mb-1">
                                                            <div class="col-12 col-sm-2">
                                                                <label class="form-label">Description</label>
                                                            </div>
                                                            <div class="col-12 col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" value="Invoicing Package" />
                                                            </div>
                                                        </div>
                                                        <div class="row g-1 mb-1">
                                                            <div class="col-12 col-sm-2">
                                                                <label class="form-label">Reference</label>
                                                            </div>
                                                            <div class="col-12 col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row g-1 mb-1">
                                                            <div class="col-12 col-sm-2">
                                                                <label class="form-label">Supplement</label>
                                                            </div>
                                                            <div class="col-12 col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row g-1 mb-1">
                                                            <div class="col-12 col-sm-2">
                                                                <label class="form-label">Check.No</label>
                                                            </div>
                                                            <div class="col-12 col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" />
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>

                                                <div class="form-footer-fixed">
                                                    <div class="footer-list-area">
                                                        <div class="footer-header text-danger">
                                                            <span class="fw-bold">Posted List</span>
                                                        </div>
                                                        <div class="d-flex justify-content-between px-2 py-1 bg-light border-bottom border-secondary">
                                                            <div class="small fw-bold">
                                                                Amount posted : <span class="text-primary">0.00</span>
                                                            </div>
                                                            <a class="clear-btn">Clear Posted</a>
                                                        </div>
                                                        <div class="footer-content"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="tab-pane fade" id="invoice-pane" role="tabpanel">
                                            <form class="d-flex flex-column h-100">
                                                <div class="form-body-scroll">
                                                    <div class="row g-1 mb-1 align-items-center">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">T/A .Code</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text" class="form-control form-control-sm js-trans-code" id="input-tacode" />
                                                        </div>
                                                        <div class="col-12 col-sm-7">
                                                            <input type="text" class="form-control form-control-sm js-trans-desc" id="input-desc" />
                                                        </div>
                                                    </div>
                                                    <div class="row g-1 mb-1 align-items-center js-row-article d-none">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label text-primary fw-bold">↳ Article</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text" class="form-control form-control-sm text-primary js-art-code" readonly />
                                                        </div>
                                                        <div class="col-12 col-sm-7">
                                                            <input type="text" class="form-control form-control-sm text-primary js-art-desc" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="row g-1 mb-1">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Quantity</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text"
                                                                   id="input-quantity"
                                                                   class="form-control form-control-sm fw-bold text-end" value="1" />
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-end pe-2">
                                                            <label class="form-label">Bill No</label>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>
                                                    <div class="row g-1 mb-1">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Price ++</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text"
                                                                   id="input-price"
                                                                   class="form-control form-control-sm amount-display"
                                                                   value="0.00" />
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-end pe-2">
                                                            <label class="form-label fw-bold">Amount ++</label>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <input type="text" class="form-control form-control-sm amount-display bg-white" value="0.00" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="row g-1 mb-1">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Price.Net</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text" class="form-control form-control-sm text-end text-muted js-price-input"
                                                                   id="input-price-net"
                                                                   value="0.00" />
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-end pe-2">
                                                            <label class="form-label fw-bold">Amount.Net</label>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <input type="number" class="form-control form-control-sm text-end text-muted bg-white" value="0.00" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="row g-1 mb-1">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Currency</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <select name="currencyID" class="form-select form-select-sm currency-select">
                                                                <option value="">-- Loading... --</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-end pe-2">
                                                            <label class="form-label fw-bold">Win.No</label>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <input type="text" class="form-control form-control-sm text-end text-muted bg-white" value="1" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="row g-1 mb-1 align-items-center">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">RmT.Charge</label>
                                                        </div>
                                                        <div class="col-12 col-sm-3">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                        <div class="col-12 col-sm-7">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>
                                                    <div class="row g-1 mb-1 align-items-center">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Reference</label>
                                                        </div>
                                                        <div class="col-12 col-sm-10">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>
                                                    <div class="row g-1 mb-1 align-items-center">
                                                        <div class="col-12 col-sm-2">
                                                            <label class="form-label">Supplement</label>
                                                        </div>
                                                        <div class="col-12 col-sm-10">
                                                            <input type="text" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>

                                                    <div class="section-header">More Information</div>
                                                    <div class="express-box">
                                                        <div class="d-flex align-items-center gap-2 mb-1">
                                                            <input type="checkbox" class="form-check-input mt-0"/>
                                                            <label class="text-danger fw-bold small">Express Service</label>
                                                        </div>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <div class="input-group input-group-sm w-50 me-2" style="min-width: 150px;">
                                                                <span class="input-group-text">Pct</span>
                                                                <input type="text" class="form-control text-primary fw-bold text-end" value="50.00" />
                                                                <span class="input-group-text">%</span>
                                                            </div>
                                                            <div class="small mt-1 mt-sm-0">
                                                                <input type="radio" name="r2" /> 10%
                                                                <input type="radio" name="r2" checked /> 50%
                                                                <input type="radio" name="r2" /> 100%
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <fieldset class="border p-1 mt-1">
                                                        <legend class="float-none w-auto p-0 m-0 text-danger small fw-bold px-1">
                                                            Invoice Infor
                                                        </legend>
                                                        <div class="row g-1 mb-1">
                                                            <div class="col-12 col-sm-2">
                                                                <label class="form-label">Description</label>
                                                            </div>
                                                            <div class="col-12 col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" value="Invoicing Package" />
                                                            </div>
                                                        </div>
                                                        <div class="row g-1 mb-1">
                                                            <div class="col-12 col-sm-2">
                                                                <label class="form-label">Reference</label>
                                                            </div>
                                                            <div class="col-12 col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row g-1 mb-1">
                                                            <div class="col-12 col-sm-2">
                                                                <label class="form-label">Supplement</label>
                                                            </div>
                                                            <div class="col-12 col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row g-1 mb-1">
                                                            <div class="col-12 col-sm-2">
                                                                <label class="form-label">Check.No</label>
                                                            </div>
                                                            <div class="col-12 col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" />
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>

                                                <div class="form-footer-fixed">
                                                    <div class="footer-list-area">
                                                        <div class="footer-header text-danger">
                                                            <span class="fw-bold">Transactions Posted to Invoice</span>
                                                        </div>
                                                        <div class="d-flex justify-content-between px-2 py-1 bg-light border-bottom border-secondary">
                                                            <div class="small fw-bold">
                                                                Total Amount : <span class="text-primary">0.00</span>
                                                            </div>
                                                            <a class="clear-btn">Clear Invoice</a>
                                                        </div>
                                                        <div class="footer-content"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //  CÁC HÀM FORMAT SỐ 
    function formatNumberWithComma(num) {
        if (num === null || num === undefined || isNaN(num) || num === '') return '0.00';
        return parseFloat(num).toLocaleString('en-US', {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });
    }

    function parseNumberWithComma(str) {
        if (!str) return 0;
        // Xóa dấu phẩy, giữ dấu chấm
        let cleanStr = str.toString().replace(/,/g, '');
        return parseFloat(cleanStr) || 0;
    }

    //  CÁC HÀM GỌI API TÍNH TOÁN

    // Hàm A: Nhập Net -> Gọi API -> Ra Gross (Price ++)
    function apiCalcPlusFromNet() {
        let tCode = $('#input-tacode').val();
        let rawNet = $('#input-price-net').val();
        let netVal = parseNumberWithComma(rawNet);

        if (!tCode) return; 

        $.ajax({
            url: '/Billing/CalculatePricePlusPlus',
            type: 'GET',
            data: { transactionCode: tCode, netPrice: netVal },
            success: function (res) {
                if (!isNaN(res)) {
                    let fmtGross = formatNumberWithComma(res);
                    $('#input-price').val(fmtGross);
                    $('.amount-display[readonly]').val(fmtGross);

                    $('#input-price-net').val(formatNumberWithComma(netVal));

                    calculateLineTotal();
                } else {
                    console.error("Lỗi tính toán từ server: " + res);
                }
            },
            error: function(err) { console.error(err); }
        });
    }

    // Hàm B: Nhập Gross (Price ++) -> Gọi API -> Ra Net
    function apiCalcNetFromPlus() {
        let tCode = $('#input-tacode').val();
        let rawGross = $('#input-price').val();
        let grossVal = parseNumberWithComma(rawGross);

        if (!tCode) return;

        $.ajax({
            url: '/Billing/CalculatePriceNet',
            type: 'GET',
            data: { transactionCode: tCode, grossPrice: grossVal },
            success: function (res) {
                if (!isNaN(res)) {
                    let fmtNet = formatNumberWithComma(res);
                    $('#input-price-net').val(fmtNet);

                    $('#input-price').val(formatNumberWithComma(grossVal));

                    calculateLineTotal();
                } else {
                    console.error("Lỗi tính toán từ server: " + res);
                }
            },
            error: function(err) { console.error(err); }
        });
    }

    // Hàm C: Tính tổng tiền (Amount = Qty * Price)
    function calculateLineTotal() {
        let qty = parseFloat($('#input-quantity').val()) || 0;

        let priceGross = parseNumberWithComma($('#input-price').val());
        let priceNet   = parseNumberWithComma($('#input-price-net').val());

        let totalGross = qty * priceGross;
        let totalNet   = qty * priceNet;

        $('.amount-display.bg-white').val(formatNumberWithComma(totalGross));

        // Amount Net (Tìm ô input readonly trong cùng dòng với Price Net)
        let $netRow = $('#input-price-net').closest('.row');
        $netRow.find('input[readonly]').val(formatNumberWithComma(totalNet));
    }

    // ============================================================
    //  XỬ LÝ SỰ KIỆN (MAIN)
    // ============================================================
    $(document).ready(function() {

        // --- XỬ LÝ Ô PRICE ++ (#input-price) ---
        $(document).on('blur keypress', '#input-price', function(e) {
            if (e.type === 'keypress' && e.which !== 13) return;

            if (e.type === 'keypress') {
                e.preventDefault(); 
                $(this).blur();     
                return;
            }

            apiCalcNetFromPlus();
        });

        // --- XỬ LÝ Ô PRICE NET (#input-price-net) ---
        $(document).on('blur keypress', '#input-price-net', function(e) {
            if (e.type === 'keypress' && e.which !== 13) return;

            if (e.type === 'keypress') {
                e.preventDefault();
                $(this).blur();
                return;
            }

            apiCalcPlusFromNet();
        });

        // --- XỬ LÝ Ô QUANTITY (Tính lại tổng tiền khi thay đổi số lượng) ---
        $(document).on('blur keypress', '#input-quantity', function(e) {
             if (e.type === 'keypress' && e.which !== 13) return;

             if (e.type === 'keypress') {
                 e.preventDefault();
                 $(this).blur();
                 return;
             }

             calculateLineTotal();
        });

        $('#input-price').on('focus click', function() {
            $(this).addClass('active-user-input');
            $('#input-price-net').removeClass('active-user-input');
        });

        $('#input-price-net').on('focus click', function() {
            $(this).addClass('active-user-input');
            $('#input-price').removeClass('active-user-input');
        });
    });

    //  các hàm hỗ trợ mở modal chuyển view v.v

    function openModalPosting() {
        localStorage.setItem("currentFromID", "modalPosting");
        const crashierLogin = localStorage.getItem("crashierLogin");
        if(crashierLogin == "NotYet"){
            openModalShilftLogin();
        } else {
            $('#modalPosting').modal('show');
        }
    }

    function switchView(viewName) {
        document.querySelectorAll(".mobile-nav button").forEach((btn) => btn.classList.remove("active"));
        document.getElementById("nav-" + viewName).classList.add("active");
        const cols = ["view-trans", "view-group", "view-form"];
        cols.forEach((id) => {
            const el = document.getElementById(id);
            if (id === "view-" + viewName) el.classList.add("active-view");
            else el.classList.remove("active-view");
        });
    }

    // Logic nút Add
    document.addEventListener("DOMContentLoaded", function () {
        const btnAdd = document.getElementById("btn-add");
        const tabEls = document.querySelectorAll('button[data-bs-toggle="tab"]');
        tabEls.forEach((tabEl) => {
            tabEl.addEventListener("shown.bs.tab", function (event) {
                if (event.target.id === "detail-tab") btnAdd.style.display = "none";
                else if (event.target.id === "invoice-tab") btnAdd.style.display = "flex";
                resetForm();
            });
        });
    });

    // F2/F3
    document.addEventListener("keydown", function (event) {
        if (event.key === "F2") {
            event.preventDefault();
            switchView("form");
            bootstrap.Tab.getOrCreateInstance(document.querySelector("#detail-tab")).show();
        }
        if (event.key === "F3") {
            event.preventDefault();
            switchView("form");
            bootstrap.Tab.getOrCreateInstance(document.querySelector("#invoice-tab")).show();
        }
    });

    // Load Data
    function loadCurrencies() {
        var $selects = $('.currency-select');
        $.ajax({
            url: '/Billing/GetCurrencies',
            type: 'GET',
            success: function (data) {
                if(data.error) return console.error(data.error);
                let html = '<option value="">-- Select --</option>';
                data.forEach(item => { html += `<option value="${item.id}">${item.id}</option>`; });
                $selects.html(html).val('VND');
            }
        });
    }

    function loadGroups() {
        $('#list-group-container').html('<div class="p-2">Loading...</div>');
        $.ajax({
            url: '/Billing/GetTransactionGroups',
            type: 'GET',
            success: function (data) {
                if (data.error) { alert(data.error); return; }
                let html = '';
                data.forEach(item => {
                    html += `<a href="javascript:void(0)" onclick="loadSubGroups(${item.id}, this)" class="list-group-item list-group-item-action">${item.description}</a>`;
                });
                $('#list-group-container').html(html);
            }
        });
    }

    function loadSubGroups(groupId, element) {
        highlightItem(element, '#list-group-container');
        $('#view-group').data('selected-group-id', groupId);
        $('#list-subgroup-container').html('Loading...');
        $('#list-transaction-container').empty();
        $('#list-article-container').empty();

        $.ajax({
            url: '/Billing/GetTransactionSubGroups',
            type: 'GET',
            data: { groupId: groupId },
            success: function (data) {
                let html = data.length === 0 ? '<div class="p-2 small text-muted">No Data</div>' : '';
                data.forEach(item => {
                    html += `<a href="javascript:void(0)" onclick="loadTransactions(${item.id}, this)" class="list-group-item list-group-item-action">${item.description}</a>`;
                });
                $('#list-subgroup-container').html(html);
            }
        });
    }

    function loadTransactions(subGroupId, element) {
        highlightItem(element, '#list-subgroup-container');
        let groupId = $('#view-group').data('selected-group-id');
        $('#list-transaction-container').html('<div class="p-2">Loading...</div>');
        $('#list-article-container').empty();

        $.ajax({
            url: '/Billing/GetTransactions',
            type: 'GET',
            data: { groupId: groupId, subGroupId: subGroupId },
            success: function (data) {
                let html = data.length === 0 ? '<div class="p-2 text-muted small">No Transactions</div>' : '';
                data.forEach(item => {
                    html += `<a href="javascript:void(0)" onclick="checkAndLoadArticles('${item.code}', '${item.description}', ${item.defaultPrice}, this)" class="list-group-item list-group-item-action">
                                <span class="text-danger fw-bold me-2">${item.code}</span> ${item.description}
                             </a>`;
                });
                $('#list-transaction-container').html(html);
            }
        });
    }

    function checkAndLoadArticles(transCode, transName, transPrice, element) {
        highlightItem(element, '#list-transaction-container');
        $('#list-article-container').html('<div class="p-2 text-muted">Loading...</div>');

        $.ajax({
            url: '/Billing/GetArticles',
            type: 'GET',
            data: { transactionCode: transCode },
            success: function (data) {
                if (data.length === 0) {
                    $('#list-article-container').html('<div class="p-2 small text-muted">No Articles. Selected Transaction.</div>');
                    // Không có article -> Load TransPrice vào và tính Net
                    fillToForm(transCode, transName, null, null, transPrice, null);
                } else {
                    let html = '';
                    data.forEach(item => {
                        let artPrice = item.defaultPrice || 0;
                        html += `<a href="javascript:void(0)"
                                    onclick="fillToForm('${transCode}', '${transName}', '${item.code}', '${item.description}', ${artPrice}, this)"
                                    class="list-group-item list-group-item-action">
                                    <span class="text-danger fw-bold me-2">${item.code}</span>
                                    <span>${item.description}</span>
                                    <span class="float-end text-danger small fw-bold">${formatNumberWithComma(artPrice)}</span>
                                 </a>`;
                    });
                    $('#list-article-container').html(html);
                }
            }
        });
    }

    // --- Cập nhật hàm fillToForm để trigger tính Net ngay khi chọn ---
    function fillToForm(tCode, tDesc, aCode, aDesc, price, element) {
        if (element) highlightItem(element, '#list-article-container');
        const activeForm = $('.tab-pane.active');

        activeForm.find('.js-trans-code').val(tCode);
        activeForm.find('.js-trans-desc').val(tDesc);

        if (aCode) {
            activeForm.find('.js-row-article').removeClass('d-none').addClass('d-flex');
            activeForm.find('.js-art-code').val(aCode);
            activeForm.find('.js-art-desc').val(aDesc);
        } else {
            activeForm.find('.js-row-article').addClass('d-none').removeClass('d-flex');
            activeForm.find('.js-art-code').val('');
            activeForm.find('.js-art-desc').val('');
        }

        $('#input-quantity').val('1');

        // Điền giá Gross (Price ++)
        let formattedPrice = formatNumberWithComma(price);
        activeForm.find('#input-price').val(formattedPrice);

        activeForm.find('#input-price').addClass('active-user-input');
        activeForm.find('#input-price-net').removeClass('active-user-input');

        apiCalcNetFromPlus();

        if (window.innerWidth < 768) switchView('form');
        setTimeout(function() {
            $('#input-quantity').focus().select();
        }, 100);

    }

    function highlightItem(element, containerId) {
        $(containerId + ' .list-group-item').removeClass('active-item-custom');
        $(element).addClass('active-item-custom');
    }

    function resetForm() {
        $('.tab-pane.active input[type="text"]').val('');

        $('#input-quantity').val('1');

        $('#input-price, #input-price-net').val('0.00');
        $('.amount-display').val('0.00');

        $('#input-price, #input-price-net').removeClass('active-user-input');

        $('.js-row-article').addClass('d-none').removeClass('d-flex');

        $('.list-group-item').removeClass('active-item-custom');

        $('.tab-pane.active .js-trans-code').focus();
    }

    $('#modalPosting').on('hidden.bs.modal', function () {
        resetForm(); 
        $('#list-subgroup-container').empty();
        $('#list-transaction-container').empty();
        $('#list-article-container').empty();

        var triggerEl = document.querySelector('#detail-tab');
        if(triggerEl) bootstrap.Tab.getOrCreateInstance(triggerEl).show();
    });

    $('#modalPosting').on('shown.bs.modal', function () {
        loadGroups();
        loadCurrencies();
    });
</script>
@* 
<script>
    var postType = 1;

    // === ĐỊNH DẠNG SỐ TIỀN DÙNG DẤU CHẤM ===
    function formatNumberWithDot(num) {
        if (isNaN(num)) return '0';
        return num.toLocaleString('vi-VN', { minimumFractionDigits: 0 });
    }

    function parseNumberWithDot(str) {
        if (!str) return 0;
        return parseFloat(str.replace(/\./g, '').replace(',', '.')) || 0;
    }

    function openModalPosting() {
        localStorage.setItem("currentFromID", "modalPosting");
        const crashierLogin = localStorage.getItem("crashierLogin");
        $('#winNoPostBilling').val(folioPosting);
        setGroupTransactionPosting();
        setSubGroupTransactionPosting($('#transactionGroupIDPosting').val());
        getTransactionPosting($('#transactionGroupIDPosting').val(), $('#subTransactionGroupIDPosting').val());
        if(crashierLogin == "NotYet"){
            openModalShilftLogin();
        }
        else{
            $('#modalPosting').modal('show');
        }
    }

    let selectedProductName = '';
    let isFiltersVisible = false;

    function toggleFilters() {
      const filtersContainer = document.getElementById('filtersContainer');
      const filterBar = document.querySelector('.filter-bar-post-billing-2');
      const productSearch = document.getElementById('productSearch');
      isFiltersVisible = !isFiltersVisible;
      filtersContainer.classList.toggle('filters-visible-post-billing-2', isFiltersVisible);
      if (isFiltersVisible) {
        if (!filtersContainer.contains(productSearch)) {
          filtersContainer.appendChild(productSearch);
        }
      } else {
        if (!filterBar.contains(productSearch)) {
          filterBar.appendChild(productSearch);
        }
      }
    }

    document.querySelectorAll('input[name="detailsToggle"]').forEach(radio => {
        radio.addEventListener('change', function () {
            const postDetails = document.getElementById('post-details');
            const invoiceDetails = document.getElementById('invoice-details');
            const postRadio = document.getElementById('post-details-radio');
            if (postRadio.checked) {
                postDetails.classList.add('active');
                invoiceDetails.classList.remove('active');
            } else {
                postDetails.classList.remove('active');
                invoiceDetails.classList.add('active');
            }
            const selectedValue = this.value;
            listCart = [];
            listSelected();
            resetInfoPost();
            postType = selectedValue === 'post-details' ? 1 : 2;
        });
    });

    function getTransactionPosting(groupTransactionID, subGroupTransactionID) {
         let filteredSubGroupTransaction = transactionList.filter(function (item) {
            if (groupTransactionID == 0 && subGroupTransactionID == 0) return true;
            if (groupTransactionID != 0 && subGroupTransactionID == 0) return item.transactionGroupID == groupTransactionID;
            return item.transactionSubGroupID == subGroupTransactionID && item.transactionGroupID == groupTransactionID;
         });
        if (filteredSubGroupTransaction.length > 0) {
            $('#listTransactionPosting').empty();
            var html = '';
            for (var i = 0; i < filteredSubGroupTransaction.length; i++) {
                var filterArticlePosting = articleList.filter(function (item) {
                    return item.transactionCode == filteredSubGroupTransaction[i].code;
                });
                const subProducts = filterArticlePosting.map(item => ({
                    code: item.code,
                    name: item.description,
                    id: item.id
                }));
                html += `<div class="product-item-post-billing-2" data-subproducts='${JSON.stringify(subProducts)}'>
                        <span class="product-code-post-billing-2">${filteredSubGroupTransaction[i].code}</span>
                        <div class="product-name-row-post-billing-2">
                            <span class="product-name-post-billing-2">${filteredSubGroupTransaction[i].description}</span>
                            <button class="btn-add-post-billing-2" data-id="${filteredSubGroupTransaction[i].code}" onclick="addItem(1,this)">+</button>
                        </div>
                    </div>`;
            }
            $('#listTransactionPosting').append(html);
        }
        document.querySelectorAll('.product-item-post-billing-2').forEach(item => {
            item.addEventListener('click', (e) => {
                if (!e.target.classList.contains('btn-add-post-billing-2') && !e.target.closest('.btn-add-post-billing-2')) {
                    const isActive = item.classList.contains('active');
                    closeSubProductList();
                    if (!isActive) showSubProductList(item);
                }
            });
        });
    }

    function setGroupTransactionPosting() {
        $('#transactionGroupIDPosting').empty();
        var html = `<option value='0' selected>Group Transaction</option>`;
        groupTransaction.forEach(g => {
            html += `<option value='${g.id}'>${g.description}</option>`;
        });
        $('#transactionGroupIDPosting').append(html);
    }

    function setSubGroupTransactionPosting(transactionGroupID) {
        $('#subTransactionGroupIDPosting').empty();
        var html = `<option value='0' selected>Sub Group Transaction</option>`;
        const filtered = transactionGroupID != 0
            ? subGroupTransaction.filter(s => s.transactionGroupID == transactionGroupID)
            : subGroupTransaction;
        filtered.forEach(s => {
            html += `<option value='${s.id}'>${s.description}</option>`;
        });
        $('#subTransactionGroupIDPosting').append(html);
    }

    $('#transactionGroupIDPosting').change(function () {
        setSubGroupTransactionPosting($(this).val());
        getTransactionPosting($(this).val(), $('#subTransactionGroupIDPosting').val());
    });

    $('#subTransactionGroupIDPosting').change(function () {
        getTransactionPosting($('#transactionGroupIDPosting').val(), $(this).val());
    });

    function showSubProductList(element) {
      try {
        const subProducts = JSON.parse(element.getAttribute('data-subproducts') || '[]');
        const productName = element.querySelector('.product-name-post-billing-2').textContent.trim();
        const productCode = element.querySelector('.product-code-post-billing-2').textContent.trim();
        const subProductList = document.getElementById('subProductList');
        document.querySelectorAll('.product-item-post-billing-2').forEach(item => item.classList.remove('active'));
        element.classList.add('active');
        selectedProductName = `${productName} (${productCode})`;
        document.getElementById('taCode1PostBilling').value = productCode;

        subProductList.innerHTML = subProducts.length > 0 ? `
            <div class="list-header-post-billing-2">
              <h6>Articles for ${productName}</h6>
              <button class="btn-close-list-post-billing-2" onclick="closeSubProductList()">✕</button>
            </div>
            ${subProducts.map(sub => `
              <div class="sub-product-post-billing-2">
                <span>${sub.name} - Code: ${sub.code}</span>
                <button class="btn-add-post-billing-2" data-id="${sub.id}" onclick="addItem(2,this)">+</button>
              </div>
            `).join('')}
        ` : `
            <div class="list-header-post-billing-2">
              <h6>Articles for ${productName}</h6>
              <button class="btn-close-list-post-billing-2" onclick="closeSubProductList()">✕</button>
            </div>
            <div class="sub-product-post-billing-2">No articles available</div>
        `;
        subProductList.classList.add('active');
      } catch (error) {
        console.error('Error displaying articles:', error);
      }
    }

    function closeSubProductList() {
      const subProductList = document.getElementById('subProductList');
      subProductList.classList.remove('active');
      subProductList.innerHTML = '';
      document.querySelectorAll('.product-item-post-billing-2').forEach(item => item.classList.remove('active'));
      selectedProductName = '';
      resetInputs();
    }

    function resetInputs() {
      $('#taCode1PostBilling').val('');
      $('#quantityPostBilling').val('1');
      $('#billNoPostBilling').val('');
      $('#pricePostBilling').val('0');
      $('#amountPostBilling').val('0');
      $('#priceNetPostBilling').val('0');
      $('#amountNetPostBilling').val('0');
    }

    var cartArrticle;
    function addItem(type, button) {
        const dataId = button.getAttribute('data-id');
        let article = [], transaction = [];
        if (type == 2) {
            article = articleList.filter(a => a.id == dataId);
            transaction = transactionList.filter(t => t.code == article[0]?.transactionCode);
        } else {
            transaction = transactionList.filter(t => t.code == dataId);
        }
        cartArrticle = article[0];
        setValueFormPostArticle(cartArrticle, transaction[0]);
    }

    function setValueFormPostArticle(article, transaction) {
        if (article) {
            $('#articleCodePostBilling').text(`${article.code} - ${article.description}`);
            const price = article.defaultPrice || 0;
            $('#pricePostBilling').val(formatNumberWithDot(price));
            $('#priceNetPostBilling').val(formatNumberWithDot(price));
            $('#amountPostBilling').val(formatNumberWithDot(price * 1));
            $('#amountNetPostBilling').val(formatNumberWithDot(price * 1));
        }
        $('#taCode1PostBilling').val(transaction?.code || '');
        $('#taCode2PostBilling').val(transaction?.description || '');
        $('#quantityPostBilling').val('1');
    }

    function resetInfoPost() {
        $('#taCode1PostBilling, #taCode2PostBilling, #billNoPostBilling, #referencePostBilling, #supplementPostBilling, #desInvoicePostBilling, #checkNoInvoicePostBilling').val('');
        $('#pricePostBilling, #amountPostBilling, #priceNetPostBilling, #amountNetPostBilling').val('0');
        $('#quantityPostBilling').val('1');
        $('#articleCodePostBilling').text('');
        $('#rmtChargePostBilling').val('');
        $('#expressService-post-billing').prop('checked', false);
        $('#percentageInput-post-billing').val('');
        $('input[name="percentage-post-billing"]').prop('checked', false);
    }

    var listCart = [];
    class CartItem {
        constructor(transCode, transName, articleCode, articleName, quantity, priceNet, price, amount, amountNet) {
            this.transCode = transCode;
            this.transName = transName;
            this.articleCode = articleCode;
            this.articleName = articleName;
            this.quantity = quantity;
            this.priceNet = priceNet;
            this.price = price;
            this.amount = amount;
            this.amountNet = amountNet;
        }
    }

    function addItemToCart() {
        if (postType == 1 && listCart.length >= 1) {
            showToast('Error', "Posted transaction! Please create another post", false);
            return;
        }

        const articleText = $('#articleCodePostBilling').text();
        const [articleCode, articleName] = articleText.split(' - ');

        listCart.push(new CartItem(
            $('#taCode1PostBilling').val(),
            $('#taCode2PostBilling').val(),
            articleCode?.trim() || '',
            articleName?.trim() || '',
            $('#quantityPostBilling').val(),
            $('#priceNetPostBilling').val(),
            $('#pricePostBilling').val(),
            $('#amountPostBilling').val(),
            $('#amountNetPostBilling').val()
        ));
        listSelected();
        resetInfoPost();
    }

    // === HIỂN THỊ DANH SÁCH GIỎ HÀNG VỚI DẤU CHẤM ===
    function listSelected() {
        $('#cartList').empty();
        let html = '';
        if (listCart.length > 0) {
            listCart.forEach((item, i) => {
                html += `
                    <li>
                        <span class="item-name-post-billing-2">${item.transName} - ${item.transCode}</span>
                        <span class="item-quantity-post-billing-2">${item.quantity}</span>
                        <span class="item-subtotal-post-billing-2">${item.amountNet}</span>
                        <span class="item-remove-post-billing-2"><button data-id="${i}" onclick="removeCartItem(this)">x</button></span>
                    </li>`;
            });
        } else {
            html = '<li class="list-group-item list-group-item-post-billing">No items in list</li>';
        }
        $('#cartList').append(html);
    }

    function deleteAllCartItems() {
        listCart = [];
        listSelected();
    }

    function calculateNetPost(transactionCode, price) {
        $.ajax({
            url: '/Billing/CalculateNet',
            type: 'get',
            data: { transactionCode, price },
            headers: { "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                const qty = parseFloat($('#quantityPostBilling').val()) || 1;
                $('#pricePostBilling').val(formatNumberWithDot(price));
                $('#priceNetPostBilling').val(formatNumberWithDot(result));
                $('#amountPostBilling').val(formatNumberWithDot(price * qty));
                $('#amountNetPostBilling').val(formatNumberWithDot(result * qty));
            },
            error: function (xhr) { if (xhr.status == 401) sessionTimeout(); }
        });
    }

    function calculatePost(transactionCode, price) {
        $.ajax({
            url: '/Billing/CalculatePrice',
            type: 'get',
            data: { transactionCode, price },
            headers: { "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                const qty = parseFloat($('#quantityPostBilling').val()) || 1;
                $('#pricePostBilling').val(formatNumberWithDot(result));
                $('#priceNetPostBilling').val(formatNumberWithDot(price));
                $('#amountPostBilling').val(formatNumberWithDot(result * qty));
                $('#amountNetPostBilling').val(formatNumberWithDot(price * qty));
            },
            error: function (xhr) { if (xhr.status == 401) sessionTimeout(); }
        });
    }

    // === XỬ LÝ BLUR CHO CÁC Ô NHẬP TIỀN ===
    $("#pricePostBilling").blur(function () {
        const price = parseNumberWithDot($(this).val());
        calculateNetPost($('#taCode1PostBilling').val(), price);
    });

    $("#priceNetPostBilling").blur(function () {
        const price = parseNumberWithDot($(this).val());
        calculatePost($('#taCode1PostBilling').val(), price);
    });

    $("#amountPostBilling").blur(function () {
        const amount = parseNumberWithDot($(this).val());
        const qty = parseFloat($('#quantityPostBilling').val()) || 1;
        if (qty > 0) calculateNetPost($('#taCode1PostBilling').val(), amount / qty);
    });

    $("#amountNetPostBilling").blur(function () {
        const amount = parseNumberWithDot($(this).val());
        const qty = parseFloat($('#quantityPostBilling').val()) || 1;
        if (qty > 0) calculatePost($('#taCode1PostBilling').val(), amount / qty);
    });

    $("#quantityPostBilling").blur(function () {
        const qty = parseFloat($(this).val()) || 1;
        const price = parseNumberWithDot($('#pricePostBilling').val());
        const priceNet = parseNumberWithDot($('#priceNetPostBilling').val());
        $('#amountPostBilling').val(formatNumberWithDot(price * qty));
        $('#amountNetPostBilling').val(formatNumberWithDot(priceNet * qty));
    });

    function removeCartItem(button) {
        const index = parseInt(button.getAttribute('data-id'));
        if (index >= 0 && index < listCart.length) {
            listCart.splice(index, 1);
            listSelected();
        }
    }

    const expressServiceCheckbox = document.getElementById('expressService-post-billing');
    const percentageInput = document.getElementById('percentageInput-post-billing');
    const radioButtons = document.querySelectorAll('input[name="percentage-post-billing"]');
    expressServiceCheckbox.addEventListener('change', () => {
        if (expressServiceCheckbox.checked) {
            percentageInput.value = '50.00';
            $('#referencePostBilling').val('Express Service: 50%');
            document.getElementById('percent50-post-billing').checked = true;
        } else {
            percentageInput.value = '';
            $('#referencePostBilling').val('');
            radioButtons.forEach(r => r.checked = false);
        }
    });

    radioButtons.forEach(radio => {
        radio.addEventListener('change', () => {
            if (radio.checked) {
                percentageInput.value = parseFloat(radio.value).toFixed(2);
                $('#referencePostBilling').val('Express Service: ' + percentageInput.value + '%');
            }
        });
    });

    percentageInput.addEventListener('input', () => {
        const val = percentageInput.value;
        radioButtons.forEach(r => r.checked = false);
        $('#referencePostBilling').val('Express Service: ' + val + '%');
        if (['10', '50', '100'].includes(val)) {
            document.getElementById(`percent${val.replace('.', '')}-post-billing`).checked = true;
        }
    });

    function PostingService() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        const shiftID = localStorage.getItem("shiftID");
        const shiftName = localStorage.getItem("shiftName");

        const formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('description', $('#taCode2PostBilling').val());
        formData.append('roomID', roomID);
        formData.append('referencePost', $('#referencePostBilling').val());
        formData.append('listItem', JSON.stringify(listCart));
        formData.append('userName', userName);
        formData.append('userID', userID);
        formData.append('postType', postType);
        formData.append('window', $('#winNoPostBilling').val());
        formData.append('shiftID', shiftID);
        formData.append('shiftName', shiftName);

        $.ajax({
            url: '/Billing/PostArticle',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    resetInfoPost();
                    listCart = [];
                    listSelected();
                    searchFolioDetail(0);
                     GetBalanceVND(idReservation);
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }
            },
            error: function () { }
        });
    }
</script> 
*@
