<div class="modal fade" id="modalPostingHistory" tabindex="-1" aria-labelledby="transactionModalLabel-post-billing" aria-hidden="true">
    <div class="modal-dialog modal-dialog-post-billing modal-xl">
        <div class="modal-content modal-content-post-billing" style="border:1px solid #bcbcbc">
            <div class="modal-header modal-header-post-billing">
                <h5 class="modal-title modal-title-post-billing"  >Posting History</h5>
                <button type="button" class="btn-close " aria-label="Close" onclick="closeModalPostingHistory();"></button>
            </div>
            <div class="modal-body modal-body-post-billing">
                <div id="gridPostingHistory" class="mt-2 gridContainer"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function PostingHistory(type){
        $('#modalPostingHistory').modal('show');

        $.ajax({
            url: '/Billing/PostingHistory',
            type: 'get',
            dataType: 'json',
            data: {
                type: type,
                invoiceNo: invoiceNoPosting,
                folioID:folioNoID
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridPostingHistory(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            }
        });

    }
    function initializeDataGridPostingHistory(data) {

        $("#gridPostingHistory").dxDataGrid({

        dataSource: data,     allowColumnResizing: true,
            columns: [
                { dataField: "actionText", caption: "Action",},
                { dataField: "supplement", caption: "More Information", },
                { dataField: "description", caption: "TransDate", },
                { dataField: "transactionDate", caption: "Date",},
                { dataField: "actionUser", caption: "User", },
                { dataField: "afterAction_FolioID", caption: "Folio", },
                { dataField: "machine", caption: "Machine",  },
            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single" 
            }
        });
    }
    function closeModalPostingHistory(){
        $('#modalPostingHistory').modal('hide');
    }
</script>