@using DevExpress.XtraReports.UI

@{
    //
}

<div class="header">
    <h3 id="content-title">Occupancy Config</h3>
</div>
<div class="sticky-header bg-white p-2 shadow-sm z-3">
    <div class="d-flex align-items-center gap-3 p-2" style="border: 1px solid #ccc; border-radius: 6px; padding: 8px;">
        <div class="row g-3">

            <div class="col-md-4">
                <label class="form-label mb-1">Type:</label>
                <input type="text"
                       id="typeInput"
                       class="form-control form-control-sm"
                       value="Hotel"
                       disabled>
            </div>

            <div class="col-md-4">
                <label class="form-label mb-1">Occ. Level:</label>
                <input type="text" id="occLevelInput" class="form-control form-control-sm">
                <div class="invalid-feedback">Occ. Level is not blank !.</div>
            </div>

            <div class="col-md-4">
                <label class="form-label mb-1 fw-bold">Color:</label>

                <div class="input-group input-group-sm">
                    <input type="text" id="colorDisplay"
                           class="form-control"
                           placeholder="No color"
                           readonly />

                    <span class="input-group-text p-0">
                        <input type="color" id="colorPicker"
                               class="form-control form-control-color border-0"
                               style="width: 36px; height: 30px; padding: 0; cursor: pointer;">
                    </span>

                    <button class="btn btn-outline-danger" type="button" id="btnClearColor">
                        <i class="fas fa-times"></i>
                    </button>

                </div>
            </div>

            <div class="col-md-4">
                <label class="form-label mb-1">Title:</label>
                <input type="text" id="titleInput" class="form-control form-control-sm">
            </div>

            <div class="col-md-4">
                <label class="form-label mb-1">Email:</label>
                <input type="email" id="emailInput" class="form-control form-control-sm">
            </div>

            <div class="col-md-4">
                <label class="form-label mb-1">Description:</label>
                <textarea id="descriptionInput" rows="2" class="form-control form-control-sm"></textarea>
            </div>
            <input type="hidden" id="id" name="id" value="0" />
        </div>
    </div>
    <div class="mt-2">
        <button id="btnNew" class="mui-button mui-button-new"><i class="fa-solid fa-plus"></i> New</button>
        <button id="btnUpdate" class="mui-button mui-button-edit"> <i class="fa-solid fa-pen"></i> Edit</button>
        <button id="btnDelete" class="mui-button button-report-delete"> <i class="fa-solid fa-trash-can"></i> Delete</button>
        <button id="btnSave" class="mui-button mui-button-export d-none"><i class="fa-solid fa-check"></i> Save</button>
        <button id="btnCancel" class="mui-button button-report-delete d-none"><i class="fa-solid fa-xmark"></i> Cancel</button>
    </div>

</div>
<div class="mui-card">
    <div id="gridContainerRateCode" class="mt-2 gridContainer"></div>
</div>
<div id="loadingSpinnerRateCode" style="display: none; text-align: center; padding: 20px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
    DevExpress.localization.locale("vi");
    let selectedRowData = null;

    $(document).ready(function () {
        $("input").on("input change", function () {
            if ($(this).hasClass("is-invalid")) {
                $(this).removeClass("is-invalid");
            }
        });
        reloadGrid();
    });

    // Convert HEX → ARGB
    const hexToArgbInt = hex => {
        hex = hex.replace("#", "");
        const r = parseInt(hex.substr(0, 2), 16);
        const g = parseInt(hex.substr(2, 2), 16);
        const b = parseInt(hex.substr(4, 2), 16);
        const a = 255;
        return (a << 24) | (r << 16) | (g << 8) | b;
    };

    // Color Picker
    const inputColor = document.getElementById("colorPicker");
    const inputDisplay = document.getElementById("colorDisplay");

    inputColor.oninput = () => {
        inputDisplay.value = hexToArgbInt(inputColor.value);
    };

    document.getElementById("btnClearColor").onclick = () => {
        inputDisplay.value = "";
        inputColor.value = "#ffffff";
    };

    function loadGrid(data) {
        $("#gridContainerRateCode").dxDataGrid({
            dataSource: data,
            height: 500,
            width: "100%",
            columnAutoWidth: true,
            allowColumnResizing: true,
            columnResizingMode: "widget",
            selection: { mode: "single" },

            columns: [
                {
                    caption: "STT",
                    width: 60,
                    alignment: "right",
                    cellTemplate: function (container, options) {
                            const grid = options.component;
                            const pageIndex = grid.pageIndex();
                            const pageSize = grid.pageSize();
                            const stt = pageIndex * pageSize + options.rowIndex + 1;
                            container.text(stt);
                    }
                },
                { dataField: "id", caption: "ID" },
                { dataField: "type", caption: "Type" },
                { dataField: "occupancylevel", caption: "Occ. Level" },
                { dataField: "title", caption: "Title" },
                { dataField: "email", caption: "Email" },
                { dataField: "description", caption: "Description" },
                { dataField: "color", caption: "Color", visible: false },
                { dataField: "createBy", caption: "CreateBy" },
                { dataField: "createDate", caption: "CreateDate", dataType: "date", format: "dd/MM/yyyy" },
                { dataField: "updateBy", caption: "UpdateBy" },
                { dataField: "updateDate", caption: "UpdateDate", dataType: "date", format: "dd/MM/yyyy" },
            ],

            filterRow: { visible: true, applyFilter: "auto" },
            paging: { pageSize: 20 },
            pager: {
                visible: true,
                allowedPageSizes: [20, 50, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            scrolling: { mode: "standard", showScrollbar: "always" },

            onSelectionChanged: function(e){
                  selectedRowData = e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
                  console.log("Selected Row:", selectedRowData);
            }
        });
    }

    function reloadGrid() {
        $("#loadingSpinnerRateCode").show();

        $.get("/Administration/GetOccupancy")
            .done(data => loadGrid(data))
            .fail(() => showToast("Error", "Không thể tải dữ liệu", false))
            .always(() => $("#loadingSpinnerRateCode").hide());
    }

    @*JS handle button new edit*@
        function switchToEditMode() {
        $("#btnNew, #btnUpdate, #btnDelete").addClass("d-none");
        $("#btnSave, #btnCancel").removeClass("d-none");
        $("#content-title").text("Edit Occupancy Config");
    }

    function switchToNormalMode() {
        $("#btnNew, #btnUpdate, #btnDelete").removeClass("d-none");
        $("#btnSave, #btnCancel").addClass("d-none");
        $("#content-title").text("Occupancy Config");
    }

    // --- NÚT NEW ---
    $("#btnNew").click(function () {
        $("#id").val("0");
        $("#content-title").text("Add Occupancy Config");
        switchToEditMode();
        clearForm();
    });

    // --- NÚT EDIT ---
    $("#btnUpdate").click(function () {
        if (!selectedRowData) {
            showToast("Warning", "Select 1 row to edit please.", false);
            return;
        }

        switchToEditMode();

        // fill dữ liệu vào form
        $("#occLevelInput").val(selectedRowData.occupancylevel);
        $("#titleInput").val(selectedRowData.title);
        $("#emailInput").val(selectedRowData.email);
        $("#descriptionInput").val(selectedRowData.description);
        $("#id").val(selectedRowData.id);

        if (selectedRowData.color) {
            const hex = argbIntToHex(selectedRowData.color);
            $("#colorPicker").val(hex);
            $("#colorDisplay").val(selectedRowData.color);
        } else {
            $("#colorPicker").val("#ffffff");
            $("#colorDisplay").val("");
        }

    });

    // --- NÚT CANCEL ---
    $("#btnCancel").click(function () {
        $(".form-control").removeClass("is-invalid is-valid");

        clearForm();    
        switchToNormalMode();
    });
    
    // --- NÚT SAVE ---
    $("#btnSave").click(function(){
        let isValid = true;

        let occLevelRaw = $("#occLevelInput").val().trim();
        let occLevel = occLevelRaw === "" ? null : Number(occLevelRaw);

        // check trống
        if (occLevelRaw === "") {
            $("#occLevelInput").addClass("is-invalid");
            isValid = false;
        }
        // check số âm / không phải số
        else if (isNaN(occLevel) || occLevel < 0) {
            $("#occLevelInput").addClass("is-invalid");
            isValid = false;
        }

        if(!isValid) {
            return;
        } else {
            const id = parseInt($("#id").val()) || 0;
            let loginName = (localStorage.getItem("Loginname") || "").trim()
            .replace(/^"(.*)"$/, '$1');
            const model = {
                id: id,
                type: 0, // Hotel
                occupancylevel: occLevel,
                title: $("#titleInput").val(),
                email: $("#emailInput").val(),
                description: $("#descriptionInput").val(),
                color: $("#colorDisplay").val(),
                createBy: loginName,
                updateBy: loginName,
            };
            console.log("Model to save: ", model);
            let url = "/Administration/OccupancySave";
            $.ajax({
               url: url,
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify(model),
              traditional: true,
                   crossDomain: false,
                     headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
              success: function (res) {
                  if (res.success) {
                    showToast("Success", res.message, true);
                    reloadGrid();
                    clearForm();
           // console.log("Model: "+model);

                } else {
                    showToast("Error", res.message, false);
           // console.log("Model: "+model);

                }
              },
              error: function (xhr, status, error) {
                  $("#loadingSpinner").hide();
                      showToast("Error",error.message, false);
           // console.log("Model: "+model);

              }
          });
        }
    });

    function clearForm() {
        $("#occLevelInput").val("");
        $("#titleInput").val("");
        $("#emailInput").val("");
        $("#descriptionInput").val("");

        // Reset color
        $("#colorPicker").val("#ffffff");
        $("#colorDisplay").val("");
    }

    function argbIntToHex(argb) {
        let unsigned = argb >>> 0; // convert int âm → unsigned 32-bit

        let r = (unsigned >> 16) & 0xFF;
        let g = (unsigned >> 8) & 0xFF;
        let b = unsigned & 0xFF;

        return "#" +
            r.toString(16).padStart(2, '0') +
            g.toString(16).padStart(2, '0') +
            b.toString(16).padStart(2, '0');
    }
    $("#btnDelete").click(function () {
           if (!selectedRowData || selectedRowData.id === 0) {
               showToast('Warning', "Select one row to delete, please!", true);

               return;
           }
           if (!confirm("Are you sure you want to delete this record?")) {
                return;
            }
           $.ajax({
               url: `/Administration/OccupancyDelete/`+ selectedRowData.id,
               type: "POST",
               traditional: true,
               crossDomain: false,
               headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
               success: function(result){
                    if(result.success){
                        reloadGrid();
                        showToast("Success","Delete Successfully!",true);
                    } else {
                        showToast("Error",result.message,false);
                    }
               },
               error: function(){
                    showToast("Error","Delete failed!",false);
                    $("#loadingSpinner").hide();
               },
           });
    });

</script>
