@{
    //
}

<style>
    .form-locked {
        pointer-events: none;
        opacity: 0.6;
        background-color: #f9f9f9;
    }

    .form-unlocked {
        pointer-events: auto;
        opacity: 1;
        background-color: #fff;
    }

</style>

<div class="header">
    <h3 id="content-title">Property</h3>
</div>

<div class="sticky-header bg-white p-2 shadow-sm z-3">
    <div id="formContainer" class="p-2 form-locked  " style="border: 1px solid #ccc; border-radius: 6px;">
        <div class="row g-2 w-100 align-items-start">
            <div class="col-lg-1 col-md-2">
                <label for="code" class="form-label mb-0" style="font-size:12px;">Code</label>
                <input type="text" id="code" name="code" class="form-control form-control-sm" />
            </div>

            <div class="col-lg-1 col-md-2">
                <label for="fax" class="form-label mb-1" style="font-size: 12px;">Fax</label>
                <input type="text" id="fax" name="fax" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-1 col-md-2">
                <label for="serverName" class="form-label mb-1" style="font-size: 12px;">ServerName</label>
                <input type="text" id="serverName" name="serverName" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-2 col-md-2">
                <label for="propertyType" class="form-label mb-1" style="font-size: 12px;">Proper Type</label>
                <select id="propertyType" name="propertyType" class="form-control form-control-sm">
                    <option value="">-- Select Property Type --</option>
                    @foreach (var sg in ViewBag.PropertyTypeList)
                    {
                        <option value="@sg.ID" data-code="@sg.Code">@sg.Code - @sg.Description</option>
                    }
                </select>
            </div>
                                 
            <div class="col-lg-2 col-md-2">
                <label for="email" class="form-label mb-1" style="font-size: 12px;">Email</label>
                <input type="text" id="email" name="email" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-2 col-md-2">
                <label for="databaseName" class="form-label mb-1" style="font-size: 12px;">DatabaseName</label>
                <input type="text" id="databaseName" name="databaseName" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-2 col-md-2">
                <label for="propertyName" class="form-label mb-1" style="font-size: 12px;">Name</label>
                <input type="text" id="propertyName" name="propertyName" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-1 col-md-2">
                <label for="website" class="form-label mb-1" style="font-size: 12px;">Website</label>
                <input type="text" id="website" name="website" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-1 col-md-2">
                <label for="login" class="form-label mb-1" style="font-size: 12px;">Login</label>
                <input type="text" id="login" name="login" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-1 col-md-2">
                <label for="telephone" class="form-label mb-1" style="font-size: 12px;">Telephone</label>
                <input type="text" id="telephone" name="telephone" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-2 col-md-2">
                <label for="address" class="form-label mb-1" style="font-size: 12px;">Address</label>
                <input type="text" id="address" name="address" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-1 col-md-2">
                <label for="password" class="form-label mb-1" style="font-size: 12px;">LoPasswordgin</label>
                <input type="text" id="password" name="password" class="form-control form-control-sm" />
            </div>
                                 
            <div class="col-lg-1 col-md-2">
                <div class="form-check">
                    <input type="checkbox" id="chkshowInactive" name="inactive" class="form-check-input me-2" />
                    <label for="chkshowInactive" class="form-check-label">Inactive</label>
                </div>
            </div>

            <input type="hidden" id="id" name="id" value="0" />
        </div>            
    </div>

    <div class="mt-2">
        <button id="btnNew" class="mui-button mui-button-new"><i class="fa-solid fa-plus"></i> New</button>
        <button id="btnUpdate" class="mui-button mui-button-edit"><i class="fa-solid fa-pen"></i> Edit</button>
        <button id="btnDelete" class="mui-button button-report-delete"><i class="fa-solid fa-trash-can"></i> Delete</button>
        <button id="btnSave" class="mui-button mui-button-export d-none"><i class="fa-solid fa-check"></i> Save</button>
        <button id="btnCancel" class="mui-button button-report-delete d-none"><i class="fa-solid fa-xmark"></i> Cancel</button>
    </div>
</div>

<div class="mui-card">
    <div id="gridContainerRateCode" class="mt-2 gridContainer"></div>
</div>

<div id="loadingSpinnerRateCode" style="display: none; text-align: center; padding: 20px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
    DevExpress.localization.locale("vi");
    var selectedRowData = null;

    $(document).ready(function () {
        $("input").on("input change", function () {
            if ($(this).hasClass("is-invalid")) {
                $(this).removeClass("is-invalid");
            }
        });
        reloadGrid();
        lockForm();
    });

    function lockForm() {
        $("#formContainer").addClass("form-locked").removeClass("form-unlocked");
        $("#code, #description, #sequence").prop("disabled", true);
    }

    function unlockForm() {
        $("#formContainer").removeClass("form-locked").addClass("form-unlocked");
        $("#code, #description, #sequence").prop("disabled", false);
    }

    function editMember(data) {
        $("#id").val(data.id);
        $("#code").val(data.propertyCode);
        $("#propertyName").val(data.propertyName);
        $("#fax").val(data.fax);
        $("#telephone").val(data.telephone);
        $("#email").val(data.email);
        $("#website").val(data.website);
        $("#address").val(data.address);
        $("#serverName").val(data.serverName);
        $("#databaseName").val(data.databaseName);
        $("#login").val(data.login);
        $("#password").val(data.password);
        $("#chkshowInactive").prop("checked", data.inactive);

        if (data.propertyTypeID) {
            $("#propertyType").val(data.propertyTypeID).trigger("change");
        }
    }

    // hiển thị dữ liệu của các cột
    function tooltipCell(container, options) {
        $("<span>")
            .text(options.value)
            .attr("data-bs-toggle", "tooltip")
            .attr("title", options.value)
            .appendTo(container);
    }

    function loadGrid(data) {
        const dataSource = data || [];
        $("#gridContainerRateCode").dxDataGrid({
            dataSource: dataSource,
            height: 350,
            width: "100%",
            columnAutoWidth: true,
            allowColumnResizing: true,
            selection: { mode: "single" },
            hoverStateEnabled: true,
            columns: [
                { dataField: "propertyCode", caption: "Code", width: "7%", cellTemplate: tooltipCell },
                { dataField: "propertyName", caption: "Property Name", width: "12%", cellTemplate: tooltipCell },
                { dataField: "propertyType", caption: "Type", width: "8%", cellTemplate: tooltipCell },
                { dataField: "telephone", caption: "Tel", width: "7%", cellTemplate: tooltipCell },
                { dataField: "fax", caption: "Fax", width: "5%" , cellTemplate: tooltipCell},
                { dataField: "email", caption: "Email", width: "10%", cellTemplate: tooltipCell },
                { dataField: "website", caption: "Website", width: "8%", cellTemplate: tooltipCell },
                { dataField: "address", caption: "Address", width: "15%", cellTemplate: tooltipCell },
                { dataField: "serverName", caption: "Server", width: "7%", cellTemplate: tooltipCell },
                { dataField: "databaseName", caption: "DB Name", width: "10%", cellTemplate: tooltipCell },
                { dataField: "login", caption: "Login", width: "6%", cellTemplate: tooltipCell },
                { dataField: "inactive", caption: "Inactive",width: "5%"},
            ],
            onContentReady: function () {
                $('[data-bs-toggle="tooltip"]').tooltip({
                    container: 'body'
                });
            },
            filterRow: { visible: true, applyFilter: "auto" },
            paging: { pageSize: 20 },
            pager: { showPageSizeSelector: true, allowedPageSizes: [20, 50], showInfo: true },
            onSelectionChanged: function (e) {
                selectedRowData = e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
            }
        });
    }

    function reloadGrid() {
        $("#loadingSpinnerRateCode").show();

        $.ajax({
            url: "/Administration/GetProperty",
            type: "GET",
            dataType: "json",
            cache: false,
            success: function (data) {
                loadGrid(data);
            },
            error: function (xhr, status, error) {
                showToast("Error", "Load data failed", false);
            },
            complete: function () {
                $("#loadingSpinnerRateCode").hide();
            }
        });
    }

    // 4. Button Handlers
    function switchToEditMode() {
        $("#btnNew, #btnUpdate, #btnDelete").addClass("d-none");
        $("#btnSave, #btnCancel").removeClass("d-none");
        unlockForm();
    }

    function switchToNormalMode() {
        $("#btnNew, #btnUpdate, #btnDelete").removeClass("d-none");
        $("#btnSave, #btnCancel").addClass("d-none");
        lockForm();
    }

    function clearForm() {
        $("#id").val("0");
        $("#code").val("");
        $("#description").val("");
        $("#sequence").val("");
    }

    // --- NEW ---
    $("#btnNew").click(function () {
        clearForm();
        switchToEditMode();
        $("#content-title").text("New Property Type");
    });

    // --- EDIT ---
    $("#btnUpdate").click(function () {
        if (!selectedRowData) {
            showToast("Warning", "Please select a row to edit.", false);
            return;
        }
        switchToEditMode();
        $("#content-title").text("Edit Property Type");

        editMember(selectedRowData);
    });

    // --- CANCEL ---
    $("#btnCancel").click(function () {
        $("#content-title").text("Property Type");
        clearForm();
        switchToNormalMode();
    });

    // --- SAVE ---
    $("#btnSave").click(function () {
        $("#code").removeClass("is-invalid");
        const id = parseInt($("#id").val()) || 0;
        let loginName = (localStorage.getItem("Loginname") || "").trim()
            .replace(/^"(.*)"$/, '$1');

        const model = {
            id: id,
            code: $("#code").val().trim(),
            description: $("#description").val().trim(),
            sequence: ($("#sequence").val() || "").trim(),
            createdBy: loginName,
            updatedBy: loginName,
        };

        if (!model.code) {
            $("#code").addClass("is-invalid");
            $("#codeError").text("Code cannot be left blank.");
            return;
        }

        $.ajax({
            url: "/Administration/PropertySave",
            type: "POST",
            cache: false,
            contentType: "application/json",
            data: JSON.stringify(model),
            success: function (res) {
                if (res.success) {
                    showToast("Success", res.message, true);
                    reloadGrid();
                    switchToNormalMode();
                    clearForm();
                } else {
                    showToast("Error", "Save failed", false);
                }
            },
            error: function (err) {
                showToast("Error", "Save failed", false);
            }
        });
    });

    // --- DELETE ---
    $("#btnDelete").click(function () {
        if (!selectedRowData) {
            showToast("Warning", "Select a row to delete.", false);
            return;
        }
        if (!confirm("Are you sure you want to delete this template?")) return;

        $.ajax({
            url: `/Administration/PropertyDelete/` + selectedRowData.id,
            type: "POST",
            success: function (res) {
                if (res.success) {
                    showToast("Success", "Deleted successfully", true);
                    reloadGrid();
                    clearForm();
                } else {
                    showToast("Error", res.message, false);
                }
            }
        });
    });
</script>