@{
    //
}

<style>
    .form-locked {
        pointer-events: none;
        opacity: 0.6;
        background-color: #f9f9f9;
    }

    .form-unlocked {
        pointer-events: auto;
        opacity: 1;
        background-color: #fff;

        /* 1. Label: Nhỏ, đậm để dễ nhìn, màu xám đậm */
    .form-label {
        font-size: 12px;       /* Kích thước */
        font-weight: 600;      /* Đậm vừa phải */
        color: #495057;        /* Màu xám đậm cho chuyên nghiệp */
        margin-bottom: 2px;    /* Khoảng cách với ô input sát lại chút */
    }

    /* 2. Input: Chữ vừa phải, gọn */
    .form-control-sm, .form-select-sm {
        font-size: 13px;       
        padding-top: 4px;      /* Căn chỉnh padding cho ô input gọn hơn */
        padding-bottom: 4px;
    }

    /* 3. Placeholder (Chữ mờ bên trong input) */
    ::placeholder {
        font-size: 12px;
        opacity: 0.6;
    }

</style>

<div class="header">
    <h3 id="content-title">Property</h3>
</div>

<div class="sticky-header bg-white p-2 shadow-sm z-3">
    <div id="formContainer" class="p-3 form-locked" style="border: 1px solid #ccc; border-radius: 6px; background-color: #f8f9fa;">
    <div class="row g-3 mb-2">
        <div class="col-md-2">
            <label for="code" class="form-label mb-1 fw-bold">Code <span class="text-danger">*</span></label>
            <input type="text" id="code" name="code" class="form-control form-control-sm" placeholder="Enter code property..." required />
            <div class="invalid-feedback">Code is required.</div>
        </div>
        <div class="col-md-4">
            <label for="propertyName" class="form-label mb-1 fw-bold" >Property Name <span class="text-danger">*</span></label>
            <input type="text" id="propertyName" name="propertyName" class="form-control form-control-sm" placeholder="Enter property name..." required />
            <div class="invalid-feedback">Property Name is required.</div>
        </div>
        <div class="col-md-4">
            <label for="propertyType" class="form-label mb-1 fw-bold" >Property Type <span class="text-danger">*</span></label>
            <select id="propertyType" name="propertyType" class="form-select form-select-sm" required>
                <option value="">-- Select Property Type --</option>
                @foreach (var sg in ViewBag.PropertyTypeList)
                {
                    <option value="@sg.ID" data-code="@sg.Code">@sg.Code - @sg.Description</option>
                }
            </select>
            <div class="invalid-feedback">Please select a Property Type.</div>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <div class="form-check mb-1">
                <input type="checkbox" id="chkshowInactive" name="inactive" class="form-check-input" style="cursor: pointer;"/>
                <label for="chkshowInactive" class="form-check-label" style="cursor: pointer;">Inactive</label>
            </div>
        </div>
    </div>

    <div class="row g-2 mb-3"> 
    <div class="col-md-3">
        <label for="address" class="form-label mb-1">Address</label>
        <input type="text" id="address" name="address" class="form-control form-control-sm" placeholder="Enter address..." />
    </div>

    <div class="col-md-3">
        <label for="email" class="form-label mb-1">Email</label>
        <input type="text" id="email" name="email" class="form-control form-control-sm" placeholder="Enter email..." />
    </div>

    <div class="col-md-2">
        <label for="website" class="form-label mb-1">Website</label>
        <input type="text" id="website" name="website" class="form-control form-control-sm" placeholder="Enter website..." />
    </div>
    
    <div class="col-md-2">
        <label for="telephone" class="form-label mb-1">Telephone</label>
        <input type="text" id="telephone" name="telephone" class="form-control form-control-sm" placeholder="Enter telephone..." />
    </div>

    <div class="col-md-2">
        <label for="fax" class="form-label mb-1">Fax</label>
        <input type="text" id="fax" name="fax" class="form-control form-control-sm" placeholder="Enter fax..." />
    </div>
    </div>

    <div class="row g-3">
        <div class="col-md-3">
            <label for="serverName" class="form-label mb-1 fw-bold">Server Name <span class="text-danger">*</span></label>
            <input type="text" id="serverName" name="serverName" class="form-control form-control-sm" placeholder="Enter server name..."  required />
            <div class="invalid-feedback">Server Name is required.</div>
        </div>
        <div class="col-md-3">
            <label for="databaseName" class="form-label mb-1 fw-bold">Database Name <span class="text-danger">*</span></label>
            <input type="text" id="databaseName" name="databaseName" class="form-control form-control-sm" placeholder="Enter database name..." required />
            <div class="invalid-feedback">Database Name is required.</div>
        </div>
        <div class="col-md-3">
            <label for="login" class="form-label mb-1 fw-bold">Login User <span class="text-danger">*</span></label>
            <input type="text" id="login" name="login" class="form-control form-control-sm" placeholder="Enter username..." required />
            <div class="invalid-feedback">Login User is required.</div>
        </div>
        <div class="col-md-3">
            <label for="password" class="form-label mb-1 fw-bold">Password <span class="text-danger">*</span></label>
            <input type="password" id="password" name="password" class="form-control form-control-sm" placeholder="Enter password..." required />
            <div class="invalid-feedback">Password is required.</div>
        </div>
    </div>

    <input type="hidden" id="id" name="id" value="0" />
</div>
    <div class="mt-2">
        <button id="btnNew" class="mui-button mui-button-new"><i class="fa-solid fa-plus"></i> New</button>
        <button id="btnUpdate" class="mui-button mui-button-edit"><i class="fa-solid fa-pen"></i> Edit</button>
        <button id="btnDelete" class="mui-button button-report-delete"><i class="fa-solid fa-trash-can"></i> Delete</button>
        <button id="btnSave" class="mui-button mui-button-export d-none"><i class="fa-solid fa-check"></i> Save</button>
        <button id="btnCancel" class="mui-button button-report-delete d-none"><i class="fa-solid fa-xmark"></i> Cancel</button>
    </div>
</div>

<div class="mui-card">
    <div id="gridContainerRateCode" class="mt-2 gridContainer"></div>
</div>

<div id="loadingSpinnerRateCode" style="display: none; text-align: center; padding: 20px;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
    DevExpress.localization.locale("vi");
    var selectedRowData = null;

    $(document).ready(function () {
        $("#formContainer").on("input change", "input, select", function () {
            if ($(this).hasClass("is-invalid")) {
                $(this).removeClass("is-invalid");
            }
        });
        reloadGrid();
        lockForm();
    });

    function lockForm() {
        $("#formContainer").addClass("form-locked").removeClass("form-unlocked");
        $("#formContainer").find("input, select, textarea").prop("disabled", true);
    }

    function unlockForm() {
        $("#formContainer").removeClass("form-locked").addClass("form-unlocked");
        $("#formContainer").find("input, select, textarea").prop("disabled", false);
    }

    function editMember(data) {
        $("#id").val(data.id);
        $("#code").val(data.propertyCode);
        $("#propertyName").val(data.propertyName);
        $("#fax").val(data.fax);
        $("#telephone").val(data.telephone);
        $("#email").val(data.email);
        $("#website").val(data.website);
        $("#address").val(data.address);
        $("#serverName").val(data.serverName);
        $("#databaseName").val(data.databaseName);
        $("#login").val(data.login);
        $("#password").val(data.password);
        $("#chkshowInactive").prop("checked", data.inactive);

        if (data.propertyTypeID) {
            $("#propertyType").val(data.propertyTypeID).trigger("change");
        }
    }

    // các hàm hỗ trợ grid 
    function tooltipCell(container, options) {
        $("<span>")
            .text(options.value)
            .attr("data-bs-toggle", "tooltip")
            .attr("title", options.value)
            .appendTo(container);
    }

    function loadGrid(data) {
        const dataSource = data || [];
        $("#gridContainerRateCode").dxDataGrid({
            dataSource: dataSource,
            height: 300,
            width: "100%",
            columnAutoWidth: true,
            allowColumnResizing: true,
            selection: { mode: "single" },
            hoverStateEnabled: true,
            columns: [
                { dataField: "propertyCode", caption: "Code", width: "5%", cellTemplate: tooltipCell },
                { dataField: "propertyName", caption: "Property Name", width: "12%", cellTemplate: tooltipCell },
                { dataField: "propertyType", caption: "Type", width: "6%", cellTemplate: tooltipCell },
                { dataField: "telephone", caption: "Tel", width: "7%", cellTemplate: tooltipCell },
                { dataField: "fax", caption: "Fax", width: "6%" , cellTemplate: tooltipCell},
                { dataField: "email", caption: "Email", width: "10%", cellTemplate: tooltipCell },
                { dataField: "website", caption: "Website", width: "8%", cellTemplate: tooltipCell },
                { dataField: "address", caption: "Address", width: "17%", cellTemplate: tooltipCell },
                { dataField: "serverName", caption: "Server", width: "7%", cellTemplate: tooltipCell },
                { dataField: "databaseName", caption: "DB Name", width: "10%", cellTemplate: tooltipCell },
                { dataField: "login", caption: "Login", width: "6%", cellTemplate: tooltipCell },
                { dataField: "inactive", caption: "Inactive",width: "5%"},
            ],
            onContentReady: function () {
                $('[data-bs-toggle="tooltip"]').tooltip({ container: 'body' });
            },
            filterRow: { visible: true, applyFilter: "auto" },
            paging: { pageSize: 20 },
            pager: { showPageSizeSelector: true, visible:true, allowedPageSizes: [20, 50, 'all'], showInfo: true,showNavigationButtons: true },
            onSelectionChanged: function (e) {
                selectedRowData = e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
            }
        });
    }

    function reloadGrid() {
        $("#loadingSpinnerRateCode").show();

        $.ajax({
            url: "/Administration/GetProperty",
            type: "GET",
            dataType: "json",
            cache: false,
            success: function (data) {
                loadGrid(data);
            },
            error: function (xhr, status, error) {
                showToast("Error", "Load data failed", false);
            },
            complete: function () {
                $("#loadingSpinnerRateCode").hide();
            }
        });
    }

    // 4. Button Handlers
    function switchToEditMode() {
        $("#btnNew, #btnUpdate, #btnDelete").addClass("d-none");
        $("#btnSave, #btnCancel").removeClass("d-none");
        unlockForm();
    }

    function switchToNormalMode() {
        $("#btnNew, #btnUpdate, #btnDelete").removeClass("d-none");
        $("#btnSave, #btnCancel").addClass("d-none");
        lockForm();
    }

    function clearForm() {
        const $form = $("#formContainer");
        $form.find("input[type='text'], input[type='password'], input[type='email']").val("");
        $form.find("input[type='checkbox']").prop("checked", false);
        $form.find("select").prop("selectedIndex", 0);
        $form.find(".is-invalid, .is-valid").removeClass("is-invalid is-valid");
        $form.find("[data-bs-toggle='tooltip']").tooltip("dispose");
    }

    // --- NEW ---
    $("#btnNew").click(function () {
        clearForm();
        switchToEditMode();
        $("#content-title").text("New Property");
    });

    // --- EDIT ---
    $("#btnUpdate").click(function () {
        if (!selectedRowData) {
            showToast("Warning", "Please select a row to edit.", false);
            return;
        }
        switchToEditMode();
        $("#content-title").text("Edit Property");

        editMember(selectedRowData);
    });

    // --- CANCEL ---
    $("#btnCancel").click(function () {
        $("#content-title").text("Property");
        clearForm();
        switchToNormalMode();
    });

    // --- SAVE ---
    $("#btnSave").click(function () {
        $(".is-invalid").removeClass("is-invalid");

        const id = parseInt($("#id").val()) || 0;
        let loginName = (localStorage.getItem("Loginname") || "").trim()
            .replace(/^"(.*)"$/, '$1');

        const model = {
            id: id,
            propertyCode: $("#code").val().trim(),
            propertyName: $("#propertyName").val().trim(),
            propertyTypeID: $("#propertyType").val(), 
            
            address: $("#address").val().trim(),
            email: $("#email").val().trim(),
            website: $("#website").val().trim(),
            telephone: $("#telephone").val().trim(),
            fax: $("#fax").val().trim(),
            
            serverName: $("#serverName").val().trim(),
            databaseName: $("#databaseName").val().trim(),
            login: $("#login").val().trim(),
            password: $("#password").val().trim(),
            
            inactive: $("#chkshowInactive").prop("checked"),
            createdBy: loginName,
            updatedBy: loginName,
        };

        let isValid = true;

        const requiredFields = [
            "#code", 
            "#propertyName", 
            "#propertyType", 
            "#serverName", 
            "#databaseName", 
            "#login", 
            "#password"
        ];

        requiredFields.forEach(function(fieldId) {
            const val = $(fieldId).val();
            if (!val || val.toString().trim() === "") {
                $(fieldId).addClass("is-invalid");
                isValid = false;
            }
        });

        if (!isValid) {
            showToast("Warning", "Please fill in all required fields (*).", false);
            return; 
        }

        $.ajax({
            url: "/Administration/PropertySave",
            type: "POST",
            cache: false,
            contentType: "application/json",
            data: JSON.stringify(model),
            success: function (res) {
                if (res.success) {
                    showToast("Success", res.message, true);
                    reloadGrid();
                    switchToNormalMode();
                    clearForm();
                } else {
                    showToast("Error", "Save failed", false);
                }
            },
            error: function (err) {
                showToast("Error", "Save failed", false);
            }
        });
    });

    // --- DELETE ---
    $("#btnDelete").click(function () {
        if (!selectedRowData) {
            showToast("Warning", "Select a row to delete.", false);
            return;
        }
        if (!confirm("Are you sure you want to delete this template?")) return;

        $.ajax({
            url: `/Administration/PropertyDelete/` + selectedRowData.id,
            type: "POST",
            success: function (res) {
                if (res.success) {
                    showToast("Success", "Deleted successfully", true);
                    reloadGrid();
                    clearForm();
                } else {
                    showToast("Error", res.message, false);
                }
            }
        });
    });
</script>