.mui-button {
    color: #fff;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px !important;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    transition: background-color 0.3s ease;
    
}
.mui-button-new {
    background-color: #3b9ac6;
}
.mui-button-edit {
    background-color: #b29247;
}
.mui-button-delete, .mui-button-cancel {
    background-color: #994040;
}
.mui-button-clear {
    background-color: #808080;
}
.mui-button-unsolve {
    background-color: #d9252e;
}
.mui-button-resolve {
    background-color: #79e079;
}


.mui-button-search {
    background-color: #003366;
    color:white;
}
.mui-button-advance {
    background-color: #598794;
    color: white;
}
.mui-button-clear {
    background-color: #9C9FAC;
    color: white;
}
.mui-button-close {
    background-color: #834646;
    color: white;
}
.mui-button-reinstate {
    background-color: #B2BB9E;
    color: white;
}
.mui-button-card {
    background-color: #657B98;
    color: white;
}
.mui-button-export {
    background-color: #2B4F2B;
    color: white;
}
.button-report-view {
    background-color: #3b9ac6;
    color: white;
}
.button-report-excel {
    background-color: #1D6F42;
    color: white;
}
.button-report-pdf {
    background-color: darkorange;
    color: white;
}
.button-report-delete {
    background-color: #dc3545;
    color: white;
}
.mui-button-option {
    background-color: #7f6000;
    color: white;
}
.mui-button-profile {
    background-color: #C57347;
    color: white;
}
.mui-button-group {
    background-color: #208075;
    color: white;
}
.mui-button-room {
    background-color: #DDC0B4;

    color: white;
}
.mui-button:hover,
.mui-button-new:hover {
    transform: scale(1.05);
}
