.mui-button {
    color: #1f501f;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #1f501f;
    border-radius: 4px !important;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    transition: background-color 0.3s ease;
}

.mui-button-w {
    color: #1f501f;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 4px !important;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    transition: background-color 0.3s ease;
}

.mui-button-new {
    background-color: white;
}

.mui-button-save {
    background-color: white;
}

.mui-button-edit {
    background-color: white;
}

.mui-button-delete, .mui-button-cancel {
    background-color: white;
}

.mui-button-clear {
    background-color: white;
}

.mui-button-unsolve {
    background-color: white;
}

.mui-button-resolve {
    background-color: white;
}

.mui-button-search {
    background-color: white;
}

.mui-button-advance {
    background-color: white;
}

.mui-button-clear {
    background-color: white;
}

.mui-button-close {
    background-color: white;
}

.mui-button-reinstate {
    background-color: white;
}

.mui-button-card {
    background-color: white;
}

.mui-button-export {
    background-color: white;
}

.button-report-view {
    background-color: white;
}

.button-report-excel {
    background-color: white;
}

.button-report-pdf {
    background-color: white;
}

.button-report-delete {
    background-color: white;
}

.mui-button-option {
    background-color: white;
}

.mui-button-profile {
    background-color: white;
}

.mui-button-group {
    background-color: white;
}

.mui-button-room {
    background-color: white;
}

.mui-button:hover,
.mui-button-new:hover {
    transform: scale(1.05);
    color: white; 
/*    //phuc add color:white*/
}
