<div class="modal fade modal-xl" id="modalMembership" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Memberships</h5>
                <button type="button" class="btn-close" onclick="closeModalMembership()"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2">
                    <button class="submit-button-clear-reservation"  onclick="GetMembership();"> Search</button>
                    <button class="submit-button-clear-reservation"
                            onclick="openModalNewMembership('New')">
                        New
                    </button>

                    <button class="submit-button-clear-reservation"
                            onclick="openModalNewMembership('Edit')">
                        Edit
                    </button>

                    <button class="submit-button-clear-reservation" onclick="deleteNewMembership();"> Delete</button>

                    <button class="submit-button-clear-reservation" onclick="closeModalMembership();"> Close</button>
                </div>
                <div class="row mt-2">
                    <div class="form-group-new-reservation col-md-3 ">
                        <label>Member Name</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">

                            <input id="memberName"/>   
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-6 mt-1" style="display:flex">
                        <div style="margin-left:1px;margin-right:2px">
                            <input type="checkbox" id="showActive">
                        </div>
                        <label>Show active</label>

                    </div>
                </div>
                

                <div class="mui-card mt-2">
                    <div id="gridContainerSearchMembership" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal fade modal" id="modalNewMembership" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Membership</h5>
                <button type="button" class="btn-close" onclick="closeModalNewMembership()"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2">
                    <button class="submit-button-clear-reservation" onclick="SaveMemberShip();"> OK</button>
                    <button class="submit-button-clear-reservation" onclick="closeModalNewMembership()">Close</button>
                </div>
                <div class="row mt-2">
                    <div class="form-group-new-reservation ">
                        <label>Member Name</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="memberNameAdd" />
                            <input id="memberNameProfile" style="display:none" />

                        </div>
                    </div>
                    <div class="form-group-new-reservation ">
                        <label>Type</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <select id="memberTypeAdd" asp-items="ViewBag.cboMemberType">
                            </select>
                        </div>
                    </div>
                    <div class="form-group-new-reservation  ">
                        <label>Name on Card</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="nameOnCardAdd" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation  ">
                        <label>Card Number</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="cardNumberAdd" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation  ">
                        <label>Expire Date</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="expireDateAdd" type="date" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation  ">
                        <label>Sequence</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="sequenceAdd" />
                        </div>
                    </div>

                    <div class="form-group-new-reservation  ">
                        <label>Description</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="descriptionAdd" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation  mt-1" style="display:flex">
                        <div style="margin-left:1px;margin-right:2px">
                            <input type="checkbox" id="inactiveAdd">
                        </div>
                        <label>Inactive</label>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function openModalMembership(){
        GetMembership();
        $('#modalMembership').modal('show');
                      $('#memberName').val(profileName);
    }
    function closeModalMembership(){
        $('#memberName').val('');
        $('#modalMembership').modal('hide');
    }
    function GetMembership(){
        let showActive = $('#showActive').is(':checked') ? '' : '0';
        $.ajax({
            url: '/Profile/SearchProfileMembership',
            type: 'GET',
            data: {
                profileID: profileID,
                inactive: showActive
            },
            success: function (data) {
                initializeDataGridMembership(data);                
            },
            error: function () {
                alert('Error retrieving membership data.');
            }
        });
    
    }
    let membershipID="";
    function initializeDataGridMembership(data) {

        $("#gridContainerSearchMembership").dxDataGrid({

        dataSource: data,     
        allowColumnResizing: true,  // Dữ liệu từ server
            columns: [

                { dataField: "ID", caption: "ID",visible:false },

                { dataField: "Sequence", caption: "Seq" },
                { dataField: "MemberType", caption: "Type" },
                { dataField: "MemberNo", caption: "Card Number" },
                { dataField: "Expiry", caption: "Expiration Date" },
                { dataField: "MemberTypeName", caption: "Card on Name" },
                { dataField: "Description", caption: "Description" },
                { dataField: "Inactive", caption: "Inactive" },
                { dataField: "CreatedBy", caption: "Created By" },
                { dataField: "CreatedDate", caption: "Created Date",dataType: "date", format: "dd/MM/yyyy"},
                { dataField: "UpdatedBy", caption: "Updated By"},
                { dataField: "UpdatedDate", caption: "Updated Date",dataType: "date", format: "dd/MM/yyyy"},


            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },

            selection: {
                mode: "multiple",
                showCheckBoxesMode: "none"
            },

            showBorders: false,
            onRowClick: function(e) {
                    membershipID = e.data.ID;
            }

        });
    }

    function openModalNewMembership(action) {

        if (action === 'New') {
            resetFormMembershipAdd();
            $('#modalNewMembership').modal('show');
          
        }

        if (action === 'Edit') {
            var grid = $("#gridContainerSearchMembership").dxDataGrid("instance");
            var selectedRowsData = grid.getSelectedRowsData();

            if (!selectedRowsData || selectedRowsData.length !== 1) {
                     showToast('Error', "Please select exactly one record to edit.", false);
                return;
            }

            var id = selectedRowsData[0].ID;

            resetFormMembershipAdd();
            GetMembershipByID(id);

            $('#modalNewMembership').modal('show');
        }
    }
    function resetFormMembershipAdd(){
        $('#memberNameAdd').val(profileName);
  
        $('#memberNameProfile').val(profileID);
        $('#memberTypeAdd').val(0);
        $('#nameOnCardAdd').val('');
        $('#cardNumberAdd').val('');
        const today = new Date().toISOString().split('T')[0];
        // Gán giá trị cho input
        $('#expireDateAdd').val(today);
        $('#sequenceAdd').val('');
        $('#descriptionAdd').val('');
        $('#inactiveAdd').prop('checked', false);
    }
    function closeModalNewMembership(){
        $('#modalNewMembership').modal('hide');
    }
    $('#memberTypeAdd').change(function(){
        let id = $(this).val();
        if(id != 0){
            GetMemberTypeByID(id);
        }
    });
     function GetMembershipByID(id){
        $.ajax({
            url: '/Profile/GetMembershipByID',
            type: 'GET',
            data: {
                id: membershipID
            },
            success: function (data) {
      console.log(data);
                $('#memberTypeAdd').val(data.memberTypeID);
                 GetMemberTypeByID(data.memberTypeID);
                  $('#cardNumberAdd').val(data.memberNo);
                  $("#sequenceAdd").val(data.sequence);
                   if (data.expiry) {
                        $("#expireDateAdd").val(data.expiry.split('T')[0]);
                    }


                  $("#descriptionAdd").val(data.description);
                   $('#inactiveAdd').prop('checked', data.inActive == 1);
            },
            error: function () {
                alert('Error retrieving membership data.');
            }
        });

    }
    function GetMemberTypeByID(id){
        $.ajax({
            url: '/Profile/GetMemberTypeByID',
            type: 'GET',
            data: {
                id: id
            },
            success: function (data) {
                $('#nameOnCardAdd').val(data.name);
            },
            error: function () {
                alert('Error retrieving membership data.');
            }
        });

    }

    function deleteNewMembership(){
        var grid = $("#gridContainerSearchMembership").dxDataGrid("instance");
        var selectedRowsData = grid.getSelectedRowsData();

        if (!selectedRowsData || selectedRowsData.length !== 1) {
                    showToast('Error', "Please select exactly one record to edit.", false);
            return;
        }   
        var membershipID = selectedRowsData[0].ID;
        var confirmDelete = confirm("Are you sure you want to delete this member card?");

        if (!confirmDelete) {
            return; // Người dùng chọn No
        }

        $.ajax({
            url: '/Profile/DeleteNewMembership',
            type: 'GET',
            data: {
                id: membershipID
            },
            success: function (data) {
               if (data.code == 0) {
                   
                    showToast('Success', data.msg, true);
                         GetMembership();

                } else {
                    showToast('Error', data.msg, false);
                }
            },
            error: function () {
                alert('Error retrieving membership data.');
            }
        });

    }


    function SaveMemberShip() {
        var formData = new FormData();
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        formData.append('profileID',$('#memberNameProfile').val());
        formData.append('userName',userName);

        formData.append('memberNo', $('#cardNumberAdd').val());
        formData.append('memberTypeID', $('#memberTypeAdd').val());
        formData.append('description', $('#descriptionAdd').val());
        formData.append('expiry', $('#expireDateAdd').val());
        formData.append('sequence', $("#sequenceAdd").val());
        let valuePrint = $('#inactiveAdd').is(':checked') ? 1 : 0;
        formData.append('inactive',valuePrint);
        $.ajax({
            url: '/Profile/SaveMembership',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    GetMembership();
                    showToast('Success', data.msg, true);
                    closeModalNewMembership();

                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
</script>