<div class="modal fade modal-xl" id="modalMembership" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Memberships</h5>
                <button type="button" class="btn-close" onclick="closeModalMembership()"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2">
                    <button class="submit-button-clear-reservation"  onclick="GetMembership();"> Search</button>
                    <button class="submit-button-clear-reservation" onclick="openModalNewMembership()">New</button>
                    <button class="submit-button-clear-reservation"  onclick="openModalViewProfile()">Edit</button>
                    <button class="submit-button-clear-reservation" onclick="closeModalAccompanying();"> Delete</button>

                    <button class="submit-button-clear-reservation" onclick="closeModalMembership();"> Close</button>
                </div>
                <div class="row mt-2">
                    <div class="form-group-new-reservation col-md-3 ">
                        <label>Member Name</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="memberName"/>   
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-6 mt-1" style="display:flex">
                        <div style="margin-left:1px;margin-right:2px">
                            <input type="checkbox" id="showActive">
                        </div>
                        <label>Show active</label>

                    </div>
                </div>
                

                <div class="mui-card mt-2">
                    <div id="gridContainerSearchMembership" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal cancel-->
<div class="modal fade modal" id="modalNewMembership" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Membership</h5>
                <button type="button" class="btn-close" onclick="closeModalNewMembership()"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2">
                    <button class="submit-button-clear-reservation" onclick="CancelReservation();"> OK</button>
                    <button class="submit-button-clear-reservation" onclick="closeModalNewMembership()">Close</button>
                </div>
                <div class="row mt-2">
                    <div class="form-group-new-reservation" >
                        <label>Member Name</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input type="text" id="memberNameAdd">
                        </div>
                    </div>
                    <div class="form-group-new-reservation ">
                        <label>Type</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <select type="text" id="memberTypeAdd"></select>
                        </div>
                    </div>
                    <div class="form-group-new-reservation ">
                        <label>Card Number</label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input type="text" id="cardNumberAdd">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function openModalMembership(){
        GetMembership();
        $('#modalMembership').modal('show');
    }
    function closeModalMembership(){
        $('#memberName').val('');
        $('#modalMembership').modal('hide');
    }
    function GetMembership(){
        let showActive = $('#showActive').is(':checked') ? '0' : '';
        $.ajax({
            url: '/Profile/SearchProfileMembership',
            type: 'GET',
            data: {
                profileID: profileID,
                inactive: showActive
            },
            success: function (data) {
                initializeDataGridMembership(data);                
            },
            error: function () {
                alert('Error retrieving membership data.');
            }
        });
    
    }
    function initializeDataGridMembership(data) {

        $("#gridContainerSearchMembership").dxDataGrid({

        dataSource: data,     
        allowColumnResizing: true,  // Dữ liệu từ server
            columns: [

                { dataField: "ID", caption: "ID",visible:false },

                { dataField: "Sequence", caption: "Seq" },
                { dataField: "MemberType", caption: "Type" },
                { dataField: "MemberNo", caption: "Card Number" },
                { dataField: "Expiry", caption: "Expiration Date" },
                { dataField: "MemberTypeName", caption: "Card on Name" },
                { dataField: "Description", caption: "Description" },
                { dataField: "Inactive", caption: "Inactive" },
                { dataField: "CreatedBy", caption: "Created By" },
                { dataField: "CreatedDate", caption: "Created Date"},
                { dataField: "UpdatedBy", caption: "Updated By"},
                { dataField: "UpdatedDate", caption: "Updated Date"},


            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },

            selection: {
                mode: "multiple",
                showCheckBoxesMode: "none"
            },

            showBorders: false,
            onRowClick: function(e) {
            }

        });
    }

    function openModalNewMembership(){
        $('#modalNewMembership').modal('show');
    }
    function closeModalNewMembership(){
        $('#modalNewMembership').modal('hide');
    }
</script>