@* <link href="~/css/pages/reservation.css" rel="stylesheet" asp-append-version="true" /> *@

<div class="header" style="justify-content:space-between;border-bottom:none">
    <div class="header2">
        <h3 id="content-title">
            Cashiering Manager

        </h3>
        <i class="fas fa-info-circle info-icon" title="How to use?"></i>
    </div>

    <div class="header2">
        <button class="submit-button-clear-reservation" onclick="searchReservation()">Search</button>

        <button class="submit-button-new-reservation" onclick="resetForm()">Clear</button>
    </div>
</div>
<div class="mb-2">
    <div class="mui-card">
        <div class="header" style="justify-content:space-between">
            <div class="header2">
                <i class="fa-solid fa-sliders" style="background-color:#2b6cb0;color:white;padding:4px"></i>

                <h3 id="content-title">
                    Filter

                </h3>
                <i class="fa-solid fa-caret-down" id="caretDownFilter" onclick="clickCaretDownFilter();" title="Click to show filter"></i>
                <i class="fa-solid fa-caret-up" id="caretUpFilter" onclick="clickCaretUpFilter();" title="Click to hide ffilter"></i>
            </div>

            <div class="header2">
                <i class="fa-solid fa-magnifying-glass" onclick="searchReservation();"></i>

            </div>
        </div>

        <div id="filter" class="tab-pane ">
            <div class="row">

                <div class="form-group-new-reservation col-md-2">
                    <label>Room</label>
                    <input type="text" id="room">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Conf .No</label>
                    <input type="text" id="confirmationNo">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Name</label>
                    <input type="text" id="name">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>CRS .No</label>
                    <input type="text" id="crsNo">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Group</label>
                    <input type="text" id="group">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Package</label>
                    <input type="text" id="package">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Company</label>
                    <input type="text" id="company">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Block</label>
                    <input type="text" id="block">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Zone</label>
                    <select id="zone" asp-items="ViewBag.cboZone">
   
                    </select>
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Guest Type</label>
                    <select id="guestType">
                        <option value="0" selected>All</option>
                        <option value="1">Main Guest</option>

                        <option value="2">RoomSharer</option>
                    </select>
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Arriva From</label>
                    <input type="date" id="arrivalForm">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Arriva To</label>
                    <input type="date" id="arrivalTo">
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Departure</label>
                    <input type="date" id="departure">
                </div>
                <div class="col-md-10" >
                    <label>Search Type</label>
                    <div style="display:flex;column-gap:4px">
                        <div class="form-group-new-reservation">
                            <input type="radio" name="searchType" checked value="0" style="height:auto">
                            <label>GuestInHouse</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input type="radio" name="searchType" value="1" style="height:auto">
                            <label>Checked out</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input type="radio" name="searchType" value="3" style="height:auto">
                            <label>Due Out</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input type="radio" name="searchType" value="4" style="height:auto">
                            <label>Checked Out ToDay</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input type="radio" name="searchType" value="5" style="height:auto">
                            <label>Check Out Today</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="gridContainer" class="gridContainer mt-2"></div>
<script>
    $(document).ready( function () {
        searchReservation();
    });
    function searchReservation() {
        getBusinessDate().then(function () {
            $.ajax({
                url: '/Cashiering/GuestInHouse',
                type: 'get',
                dataType: 'json',
                data: {
                    room : $('#room').val(),
                    name:$('#name').val(),
                    block: $('#block').val(),
                    group:$('#group').val(),
                    company:$('#company').val(),
                    confirmationNo:$('#confirmationNo').val(),
                    arrivalDate:$('#arrivalForm').val(),
                    arrivalTo:$('#arrivalTo').val(),
                    departure:$('#departure').val(),
                    crsNo:$('#crsNo').val(),
                    package:$('#package').val(),
                    guestName:$('#guestType').val(),
                    zone:$('#zone').val(),
                    typeSearch:$('input[name="searchType"]:checked').val()
                },
                crossDomain: false,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                success: function (result) {
                    initializeDataGridBilling(result);
                },
                error: function (xhr, statusText, err) {
                    if (xhr.status == 401) {
                        sessionTimeout();
                    }
                },

            });
        }).catch(function (xhr, statusText, err) {
            if (xhr.status == 401) {
                sessionTimeout();
            }
        });
    }
    function getBusinessDate() {
        return $.ajax({
            url: '/Reservation/GetBusinessDate',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#arrivalForm').val(result.split('T')[0]);
                $('#arrivalTo').val(result.split('T')[0]);
                $('#departure').val(result.split('T')[0]);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridBilling(data) {

        $("#gridContainer").dxDataGrid({
            dataSource: data,
            keyExpr: "id", // Khóa chính của grid là id
            allowColumnResizing: true,

            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual'
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "multiple",
                showCheckBoxesMode: "always"
            },

        });
    }
</script>