<div class="modal fade" id="modalAdjustTransaction" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border: 1px solid #bcbcbc">
            <div class="modal-header">
                <h5 class="modal-title" >Adjustment Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModalAdjustTransaction();"></button>
            </div>
            <div class="button-group">
                <button type="button" class="mui-button mui-button-search" onclick="PostAdjustTransaction();">Post</button>
                <button type="button" class="mui-button mui-button-clear" onclick="closeModalAdjustTransaction();">Close</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="code" class="form-label">TransCode</label>
                    <input type="text" class="form-control " id="transCodeAdjust"readonly>
                </div>
                <div class="form-group">
                    <div class="form-check" style="text-align:center;justify-content:center" >
                        <input class="form-check-input" type="radio" name="typeAdjustTransPrice" id="amountAdjustTransPrice" style="width:auto" checked value="1">
                        <label class="form-check-label" for="flexRadioDefault1" style="padding:5px">
                            Amount
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control small-input amount-input" id="amountAdjust" style="text-align:right">
                        <input type="text" class="form-control small-input amount-input" id="amountAdjustNet" style="text-align:right">
                    </div>

                </div>

                <div class="form-group">
                    <div class="form-check" style="text-align:center;justify-content:center">
                        <input class="form-check-input" type="radio" name="typeAdjustTransPrice" id="percentageAdjustTransPrice" style="width:auto" value="2">
                        <label class="form-check-label" for="flexRadioDefault1" style="padding:5px">
                            Percentage
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control small-input percentage-input" id="percentageAdjust" style="text-align:right" disable>
                    </div>

                </div>
                <hr class="hr">

                <div class="form-group">
                    <label for="code" class="form-label">RT.Charge</label>
                    <input type="text" class="form-control " style="text-align:right" readonly>
                </div>
                    <div class="form-group">
                    <label for="code" class="form-label">Reason</label>
                    <select class="form-control " id="reasonAdjustmentTransaction" ></select>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    // Get radio buttons and input fields
    const amountRadio = document.getElementById('amountAdjustTransPrice');
    const percentageRadio = document.getElementById('percentageAdjustTransPrice');
    const amountInputs = document.querySelectorAll('.amount-input');
    const percentageInputs = document.querySelectorAll('.percentage-input');

    // Function to toggle input states
    function toggleInputs() {
        if (amountRadio.checked) {
            // Enable Amount inputs, disable and clear Percentage inputs
            amountInputs.forEach(input => {
                input.disabled = false;
                input.value = ''; // Optional: Clear input if needed
            });
            percentageInputs.forEach(input => {
                input.disabled = true;
                input.value = '';
            });
        } else if (percentageRadio.checked) {
            // Enable Percentage inputs, disable and clear Amount inputs
            percentageInputs.forEach(input => {
                input.disabled = false;
                input.value = ''; // Optional: Clear input if needed
            });
            amountInputs.forEach(input => {
                input.disabled = true;
                input.value = '';
            });
        }
    }

    // Run on page load to set initial state
    toggleInputs();
    var folioDetailAdjust = 0;
    // Add event listeners to radio buttons
    amountRadio.addEventListener('change', toggleInputs);
    percentageRadio.addEventListener('change', toggleInputs);
    function adjustTransaction() {
        var grid = $("#gridContainerInvoice").dxDataGrid("instance");
        var selectedRows = grid.getSelectedRowsData();
        if(selectedRows.length){
            $.ajax({
                url: '/Billing/CheckAdjustCode',
                type: 'get',
                dataType: 'json',

                crossDomain: false,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                data:{
                    transactionCode: selectedRows[0].Code
                },
                success: function (result) {
                    if(result.code == 1){
                        showToast('Error', data.msg, false);
                        return;
                    }
                    else{
                        $('#transCodeAdjust').val(selectedRows[0].Code + ' - ' + selectedRows[0].Description);
                        folioDetailAdjust = selectedRows[0].ID;
                        openModalAdjustTransaction();
                    }
                },
                error: function (xhr, statusText, err) {
                    if (xhr.status == 401) {
                        sessionTimeout();
                    } else {
                    }
                }

            });
        }

    }

    function GetReasonAdjustmentTransaction() {

        $.ajax({
            url: '/Billing/GetReasonAdjustmentTransaction',
            type: 'get',
            dataType: 'json',

            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },

            success: function (result) {
                $('#reasonAdjustmentTransaction').empty();
                var html = '<option value="">Please choose reason</option>';
                if(result.length > 0){
                    for(var i = 0;i < result.length;i++){
                         html += `<option value='${result[i].description}'>${result[i].code} - ${result[i].description}</option>`;

                    }
                }
                $('#reasonAdjustmentTransaction').append(html);

            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            }

        });
    }
    function openModalAdjustTransaction(){
        GetReasonAdjustmentTransaction();
        $('#modalAdjustTransaction').modal('show');
    }
    function closeModalAdjustTransaction(){
        $('#transCodeAdjust').val().split('-')[0];

        $('#reasonAdjustmentTransaction').val('');
        $('#amountAdjust').val('');
        $('#amountAdjustNet').val('');
        $('#percentageAdjust').val('');
        $('#modalAdjustTransaction').modal('hide');
    }
    function calculateNetAdjustTransaction(transactionCode, price) {
        $.ajax({
            url: '/Billing/CalculateNet',
            type: 'get',
            dataType: 'json',
            data: {
                transactionCode: transactionCode,
                price: price
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#amountAdjustNet').val(result.toLocaleString('en-US'));
                $('#amountAdjust').val(price.toLocaleString('en-US'));

            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }

    function calculatedjustTransaction(transactionCode, price) {

        $.ajax({
            url: '/Billing/CalculatePrice',
            type: 'get',
            dataType: 'json',
            data: {
                transactionCode: transactionCode,
                price: price
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#amountAdjust').val(result.toLocaleString('en-US'));
                $('#amountAdjustNet').val(price.toLocaleString('en-US'));

            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    $("#amountAdjust").blur(function() {
        var code = $('#transCodeAdjust').val().split('-')[0];
        var price = parseFloat($('#amountAdjust').val().replace(/,/g, ''));
        calculateNetAdjustTransaction(code.trim(), price);
    });

    $("#amountAdjustNet").blur(function() {

        var code = $('#transCodeAdjust').val().split('-')[0];
        var price = parseFloat($('#amountAdjustNet').val().replace(/,/g, ''));
        calculatedjustTransaction(code.trim(), price);
    });

    function PostAdjustTransaction() {
        var code = $('#transCodeAdjust').val().split('-')[0];
        var selectedValue = $('input[name="typeAdjustTransPrice"]:checked').val();
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('roomID', roomID);
        formData.append('userName', userName);
        formData.append('userID', userID);
        formData.append('postType', selectedValue);
        formData.append('transCode', code.trim());
        formData.append('folioID', folioNoID);
        formData.append('reference', $('#reasonAdjustmentTransaction').val());
        formData.append('adjustAmount', $('#amountAdjust').val().replace(/,/g, ''));
        formData.append('adjustNet', $('#amountAdjustNet').val().replace(/,/g, ''));
        formData.append('folioDetailAdjustID', folioDetailAdjust);
        formData.append('percentage', $('#percentageAdjust').val());

        $.ajax({
            url: '/Billing/PostAdjustmentTransaction',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalAdjustTransaction();
                    searchFolioDetail(1);
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }
            },
            error: function (xhr, statusText, err) { }
        });
    }
</script>
