<!-- Modal billimg-->
<div class="modal fade modal-xl" id="modalMaintenance" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelBilling" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="border: 1px solid #bcbcbc">
            <div class="modal-header">
                <h5 class="modal-title">Account Maintenanace</h5>
                <button type="button" class="btn-close" onclick="closeModalMaintenance()"></button>
            </div>
            <div class="modal-body">
                @* <div class="mb-2">
                    <button class="mui-button mui-button-search" >Post</button>
                </div> *@
                <div class="functions-pane mb-2" style="background-color: var(--accent-color);border-radius: 8px; border: 1px solid #e5e7eb;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);padding:0px">
                    <div class="function-menu">
                        <a href="#" onclick="openModalInvoice();">Envoice</a>
                        <a href="#" onclick="openModalEditPosting();">Payment</a>


                    </div>
                </div>
                <div class="mb-2">
                    <div class="mui-card">
                        <div class="header" style="justify-content:space-between">
                            <div class="header2">
                                <i class="fa-solid fa-sliders" style="background-color:#2b6cb0;color:white;padding:4px"></i>

                                <h3 id="content-title">
                                    Filter

                                </h3>

                            </div>

                            <div class="header2">
                                <i class="fa-solid fa-magnifying-glass" onclick="searchMaintenance()"></i>

                            </div>
                        </div>

                        <div id="filter" class="tab-pane ">
                            <div class="row">
                                <div class="form-group-new-reservation col-md-1">
                                    <label>From Date</label>
                                    <input type="date" id="fromDateMaintenance">
                                </div>
                                <div class="form-group-new-reservation col-md-1">
                                    <label>To Date</label>
                                    <input type="date" id="toDateMaintenance">
                                </div>



                                <div class="form-group-new-reservation col-md-1">
                                    <label>Folio</label>
                                    <input type="text" id="folioMaintenance">

                                </div>
                                <div class="col-md-1">
                                    <div class="form-group-new-reservation">
                                        <label>Payments Only</label>

                                        <input type="checkbox" name="paymentMaintenance" id="paymentMaintenance"  value="1" style="height:auto">
                                    </div>
                                    <div class="form-group-new-reservation">
                                        <input type="radio" name="isActiveMaintenance" checked value="" style="height:auto">
                                        <label>All</label>
                                    </div>
                                    <div class="form-group-new-reservation">
                                        <input type="radio" name="isActiveMaintenance" value="1" style="height:auto">
                                        <label>Open</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label>Print</label>
                                    <div class="form-group-new-reservation">
                                        <input type="radio" name="printMaintenance" checked value="" style="height:auto">
                                        <label>All</label>
                                    </div>
                                    <div class="form-group-new-reservation">
                                        <input type="radio" name="printMaintenance" value="1" style="height:auto">
                                        <label>Printed</label>
                                    </div>
                                    <div class="form-group-new-reservation">
                                        <input type="radio" name="printMaintenance" value="0" style="height:auto">
                                        <label>Not Printed</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="gridContainerMaintenance" class="gridContainer mt-2"></div>

            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("Options/Invoice")

<script>
    function openModalMaintenance() {
        const today = new Date().toISOString().split('T')[0];

        // Set default values for From Date and To Date
        $('#fromDateMaintenance').val(today);
        $('#toDateMaintenance').val(today);
        searchMaintenance();
        $('#modalMaintenance').modal('show');
    }
    function closeModalMaintenance(){
        $('#modalMaintenance').modal('hide');
    }

    function searchMaintenance() {
        var grid = $("#gridContainer").dxDataGrid("instance");
        var selectedRows = grid.getSelectedRowsData();
        var selectedIds = selectedRows.map(row => row.ID);
        $.ajax({
            url: '/Accounting/SearchMaintenance',
            type: 'get',
            dataType: 'json',
            data: {
                arID: selectedIds[0],
                folioNo: $('#folioMaintenance').val(),
                isActive: $('input[name="isActiveMaintenance"]:checked').val(),
                paymentOnly: $('#paymentMaintenance[type="checkbox"]').is(':checked') ? "1" : "",
                print: $('input[name="printMaintenance"]:checked').val(),
                fromDate: $('#fromDateMaintenance').val(),
                toDate: $('#toDateMaintenance').val(),
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridMaintenance(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            },

        });

    }

    function initializeDataGridMaintenance(data) {

       $("#gridContainerMaintenance").dxDataGrid({
           dataSource: data,
           allowColumnResizing: true,

           paging: { pageSize: 15 },
           scrolling: {
               rowRenderingMode: 'virtual'
           },
           pager: {
               visible: true,
               allowedPageSizes: [15, 20, 'all'],
               showPageSizeSelector: true,
               showInfo: true,
               showNavigationButtons: true
           },
           filterRow: {
               visible: true,
               applyFilter: "auto"
           },
           selection: {
               mode: "multiple",
               showCheckBoxesMode: "always"
           },
           onRowClick: function (e) {
               const grid = $("#gridContainerMaintenance").dxDataGrid("instance");
               grid.selectRows([e.key], false);

           },
       });
    }
</script>