<link href="~/css/crashier-login.css" rel="stylesheet" />
<div class="modal fade" id="modalShiftLogin" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border:1px solid #bcbcbc">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Crashier Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label for="crashierNoInput" class="form-label">Crashier No</label>
                        <input type="text" class="form-control" id="crashierNoInput" >
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordInput"  >
                    </div>
                    <button type="submit" class="btn btn-primary w-100" onclick="crashierLogin();">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function openModalShilftLogin(){
            $('#modalShiftLogin').modal('show');
    }
    function closeModalShilftLogin(){
        $('#modalShiftLogin').modal('hide');
    }

    function crashierLogin() {
        var formData = new FormData();
        formData.append('LoginName', $('#crashierNoInput').val());
        formData.append('Password', $('#passwordInput').val());

        $.ajax({
            url: '/Billing/ShiftLogin',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if(data.userID == 0){
                    showToast('Error', "Login Name or Password is not correct!", false);

                }
                else{
                    getCrashierInShift();
                    closeModalShilftLogin();
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
    function getCrashierInShift(){
        var formData = new FormData();
        const userID = JSON.parse(localStorage.getItem("userID"));
        formData.append('userID', userID);

        $.ajax({
            url: '/Billing/GetCrashierInShift',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                    localStorage.setItem("shiftID", data[0].id);
                    localStorage.setItem("shiftName", data[0].userName);
                    localStorage.setItem("crashierLogin", "InShift");

            },
            error: function (xhr, statusText, err) {

            }
        });
    }
</script>