.gridContainer {
    margin: 0px 8px;
}

.button_wrapper {
    display: flex;
    margin-right: 5px;
}

.button_wrapper .fa-solid {
    margin-right: 5px;
}

.selected {
    background-color: #4CAF50; /* Màu xanh */
    color: white;
}


.mui-divider {
    border: none;
    border-top: 1px solid #005f87;
    color: #005f87;
    margin: 16px 0;
}

.content_wrapper {
    margin: 12px;
}

.header2 {
    color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.button-group {
    display: flex;
    column-gap: 12px;
}

.filter-container {

    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.filter-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.filter-item {
    min-width: 20%; /* Hiển thị 3 phần tử tại một thời điểm */
    padding: 2px;
}

.filter-item input,
.filter-item select {
    width: 100%;
    padding: 4px;
    border: 1px solid #ececec;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-item input:focus,
.filter-item select:focus {
    border: 1px solid #ececec;
    outline: none; /* bỏ viền mặc định */
}

.arrow{
    border:none;
    background-color:white;
}
.arrow i{
    font-size: 24px;
    padding: 6px 0px;
}
/* Media query cho màn hình nhỏ */
@media (max-width: 768px) {
    .filter-item {
        min-width: 100%; /* Hiển thị 1 phần tử tại một thời điểm */
    }

}
