@using Microsoft.Extensions.Options
@using static BaseBusiness.Global
@inject IOptions<ContactInfo> ContactConfig

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>oneS-PMSh</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* css assets *@
    <link href="~/css/assets/button.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/assets/card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/assets/input.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/assets/select.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/assets/textarea.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/assets/button_small.css" rel="stylesheet" asp-append-version="true" />


    @* css components *@    
    <link href="~/css/components/grid_table.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/components/navbar.css" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/logo.png" />

    @* js *@
    <script src="~/js/commons/formatdate.js" asp-append-version="true"></script>

    @* jquery *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>
    <link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/jquery-confirm/jquery-confirm.min.js" rel="stylesheet"></script>

    <link asp-append-version="true" href="~/node_modules/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/node_modules/devextreme/dist/css/dx.common.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/node_modules/@@devexpress/analytics-core/dist/css/dx-analytics.common.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/node_modules/@@devexpress/analytics-core/dist/css/dx-analytics.light.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/node_modules/devexpress-reporting/dist/css/dx-webdocumentviewer.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    @* tomlect *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" />
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    @* devextreme *@

    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.4/css/dx.material.blue.light.css" />

    @* font-anesome *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script asp-append-version="true" src="~/node_modules/jquery/dist/jquery.js"></script>
    <script asp-append-version="true" src="~/node_modules/jquery-ui-dist/jquery-ui.js"></script>
    <script asp-append-version="true" src="~/node_modules/knockout/build/output/knockout-latest.js"></script>
    <script src="~/lib/devextreme/dist/js/dx.all.js"></script>
    <script asp-append-version="true" src="~/node_modules/@@devexpress/analytics-core/dist/js/dx-analytics-core.min.js"></script>
    <script asp-append-version="true" src="~/node_modules/devexpress-reporting/dist/js/dx-webdocumentviewer.min.js"></script>
    <!-- jsPDF core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <!-- AutoTable Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>

    @* moment js *@
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <a href="~/lib/moment.js/moment.min.js.map"></a>
    <script src="~/lib/moment.js/moment-with-locales.js"></script>
    <script src="~/lib/moment.js/moment-with-locales.min.js"></script>
    <a href="~/lib/moment.js/moment-with-locales.min.js.map"></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.2.4/js/pdfExporter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script asp-append-version="true" src="~/js/toast.js"></script>
    <link href="~/css/pages/reservation.css" rel="stylesheet" asp-append-version="true" />

    <style>

    </style>

</head>
<body class="dx-viewport" style="background-color:#f5f5f5">
    <div class="container-fluid">
        <div class="banner">
            <div class="banner-col-left">
                <img src="/images/logo.png" class="banner-icon-left" alt="Logo oneS">
            </div>

            <div class="banner-col-center">
                <div class="banner-text">
                    PROPERTY MANAGEMENT SYSTEM FOR HOTEL AND RESORT
                </div>
            </div>

            <div class="banner-col-right">
                <img src="/images/athena.png" class="banner-icon-right" alt="Logo zalo">
            </div>
        </div>

        <!-- Contact and User Info Section -->
        <div class="contact-user-section">
            <div class="contact-info">
                <span class="contact-item">
                    <i class="fas fa-envelope"></i> Email: @ContactConfig.Value.Email
                </span>

                <span class="contact-item">
                    <i class="fas fa-phone"></i> Hotline: @ContactConfig.Value.Hotline
                </span>

            </div>
            <div class="user-info">
                <i class="fa-solid fa-compress fullscreen-icon" title="Toàn màn hình"></i>
                <span class="business-date" id="businessDate"></span>
                <span class="user-name" id="user-display"></span>
                <div class="notification-icon">
                    <i class="fas fa-bell"></i>
                    <span class="notification-badge">3</span>
                </div>
                <i class="fas fa-sign-out-alt logout-icon" title="Logout" onclick="window.location.href='/User/Index'"></i>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-custom sticky-top" style="display:block;z-index: 999 !important">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse row" id="mainNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a></li>
                        <li class="nav-item">
                            <a class="nav-link">PROFILE</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="Profile" asp-action="Index">New Profile</a>
                                <a asp-area="" asp-controller="Profile" asp-action="SearchProfile">Search Profile</a>
                                <a asp-area="" asp-controller="Profile" asp-action="ProfileExport">Export profile to excel</a>


                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Reservation" asp-action="SearchReservation">RESERVATION</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="Reservation" asp-action="#">Room Availability</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="NewReservation">New reservation</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="SearchReservation">Search reservation</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="#">Room assigment</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="#">Allotment</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="#">Allotment search</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="#">Account management</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="GroupReservation">Group reservation</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="OverBooking">Over Booking</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="WaitList">Waiting List</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="RateCodeAuthor">Rate Query</a>
                                <a asp-area="" asp-controller="Reservation" asp-action="#">Send mail</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FRONTDESK</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="#" asp-action="#">Arrivals</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Guest in House</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Walk in</a>
                                <a asp-area="" asp-controller="FrontDesk" asp-action="WakeUpCall">Wake up calls</a>
                                <a asp-area="" asp-controller="#" asp-action="#">AssignRoom</a>
                                <a asp-area="" asp-controller="FrontDesk" asp-action="TelephoneBook">Telephone book</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Account Management </a>
                                <a asp-area="" asp-controller="#" asp-action="#">Hotel door lock</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Guest card</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Report of Staying</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Recalculate Revenue </a>
                                <a asp-area="" asp-controller="#" asp-action="#">Update Booking Status</a>
                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">
                                        End of day
                                    </a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="#" asp-action="#">View Room rate</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Fix charge</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Posting to room</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Map transaction code</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Run Night Audit</a>
                                    </div>
                                </div>
                                <a asp-area="" asp-controller="#" asp-action="#">Lost and found</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Process FO Status</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Send Email</a>

                                @* <a asp-area="" asp-controller="FrontDesk" asp-action="TelephoneSwitch">Telephone Switch</a> *@
                                @* <a asp-area="" asp-controller="FrontDesk" asp-action="DialingInformation">Dialing Information</a> *@

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ROOM MANAGEMENT</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="#" asp-action="#">House Status</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Room control panel</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Room Facility</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Room Plan</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Floor Plan</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Room Status</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Wake up call</a>
                                <a asp-area="" asp-controller="RoomManagement" asp-action="Discrepancy">Discrepancy</a>
                                @* <a asp-area="" asp-controller="RoomManagement" asp-action="OOOSload">Out Of Order/Service</a> *@
                                <a asp-area="" asp-controller="#" asp-action="#">Out of order</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Out of service</a>
                                <a asp-area="" asp-controller="RoomManagement" asp-action="ItemDailyInventory">Item Inventory</a>
                                <a asp-area="" asp-controller="RoomManagement" asp-action="ItemInventoryAvailable">Item Availability</a>
                                @* <a asp-area="" asp-controller="RoomManagement" asp-action="ItemSearch">Item Search</a> *@
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">HOUSE KEEPING</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="#" asp-action="#">Task sheet</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Daily worksheet</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Task assignment</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Turndown Management</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Guest service status</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Attendant point</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Update room status</a>
                                @* <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="RoomControlPanel">Room Control Panel</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="RoomFacilityForecast">Room Facility Forecast</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="RoomStatus">Room Status</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="RoomPlan">Room Plan</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="HouseStatus">House Status</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="FloorPlan">Floor Plan</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="AttendantPoint">Attendant Point</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="GuestServiceStatus">Guest Service Status</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="TaskSheetStatus">Task Sheet Status</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="TaskAssignment">Task Assignment</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="RoomAttendentDailyWorksheet">Room Attendant Daily Worksheet</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="MakeupServiceRoom">Makeup Service Room</a>
                                <a class="dropdown-item">Update Room Status</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="TurndownTasksheet">Turndown Tasksheet</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HouseKeeping" asp-action="LostAndFound">Lost And Found</a> *@
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">CASHIERING</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="#" asp-action="#">Passer by</a>
                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Cashier functions</a>
                                    <div class="dropdown-submenu-content">

                                        <a asp-area="" asp-controller="Cashiering" asp-action="PostingJournal">Posting journal</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Deposit and Cancellation charge</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Deposit transfering</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">E Profile upload</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">E invoice management</a>
                                    </div>
                                </div>
                                <a asp-area="" asp-controller="Cashiering" asp-action="CashierAudit">Cashier audit</a>
                                <a asp-area="" asp-controller="Cashiering" asp-action="FolioHistoryView">Folio history</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Cashier login</a>
                                <a asp-area="" asp-controller="Cashiering" asp-action="CloseShift">Close shift</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Search VAT invoice</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Exchange rate</a>
                                <a asp-area="" asp-controller="Cashiering" asp-action="ExchangeCurrency">Exchange currency</a>
                                <a asp-area="" asp-controller="Cashiering" asp-action="ExchangeCurrencyReport">Exchange Report</a>
                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Account Receivable</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="#" asp-action="#">AR search</a>
                                        @* <a asp-area="" asp-controller="Accounting" asp-action="AccountType">Account Type</a> *@
                                        @* <a asp-area="" asp-controller="Accounting" asp-action="ARAgingLevels">AR Aging Levels</a> *@
                                        <a asp-area="" asp-controller="Accounting" asp-action="AROpening">AR opening balance</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Aging level</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">AR Type</a>
                                        @* <a asp-area="" asp-controller="Accounting" asp-action="AccountingSearch">Search account receivable</a> *@
                                        <a asp-area="" asp-controller="Accounting" asp-action="ARTraces">AR Traces</a>
                                    </div>
                                </div>
                                <a asp-area="" asp-controller="#" asp-action="#">Update status not run in night audit</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Run night manual</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Remove the rate code detail with the same date</a>
                                @* 
                                <a asp-area="" asp-controller="Cashiering" asp-action="ExchangeRate">Exchange Rate</a>
                                <a asp-area="" asp-controller="Cashiering" asp-action="CashieringManager">Cashiering Manager</a>
                                <a asp-area="" asp-controller="Cashiering" asp-action="VATSearch">VAT Search</a>
                                <a asp-area="" asp-controller="Cashiering" asp-action="FolioVATSearch">Search VAT Voucher</a>
                                <a asp-area="" asp-controller="Cashiering" asp-action="FolioVATSearchByAccounting">Search VAT Voucher for Accounting</a>
                                 <a asp-area="" asp-controller="Accounting" asp-action="AccountingSearch">Accounting Search</a>
                                *@

                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">ADMIN</a>
                            <div class="dropdown-menu-custom">

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Rate Code & Package</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="RateClass" asp-action="RateClass">Rate class</a>
                                        <a asp-area="" asp-controller="RateCategory" asp-action="RateCategory">Rate Category</a>
                                        <a asp-area="" asp-controller="RateCode" asp-action="RateCode">Rate Code</a>
                                        <a asp-area="" asp-controller="RateCodeDetail" asp-action="RateCodeDetail">Rate Code Detail</a>
                                        <a asp-area="" asp-controller="RateCodeUserRight" asp-action="RateCodeUserRight">Rate Code User Right</a>
                                        <a asp-area="" asp-controller="Package" asp-action="Package">Package</a>
                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Transaction & Article</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="Article" asp-action="Article">Article</a>
                                        <a asp-area="" asp-controller="Transaction" asp-action="Transaction">Transaction</a>
                                        <a asp-area="" asp-controller="TransactionSubGroup" asp-action="TransSubGroup">Transaction SubGroup</a>
                                        <a asp-area="" asp-controller="TransactionGroup" asp-action="TransGroup">Transaction Group</a>
                                        <a asp-area="" asp-controller="TransactionArticleLink"
                                           asp-action="TransactionArticleLink">Transaction Article Link</a>
                                    </div>
                                </div>

                                <a asp-area="" asp-controller="#" asp-action="#">Generate Group Transaction</a>
                                <a asp-area="" asp-controller="RoutingCode" asp-action="RoutingCode">Routing Code</a>
                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Deposit & Cancellation Rule</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="Administration" asp-action="DepositRule"> Deposit Rule </a>
                                        <a asp-area="" asp-controller="Administration" asp-action="CancellationRule">Cancellation Rule</a>
                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">House Keeping</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="HouseKeepingAdmin" asp-action="Attendants">Attendants</a>
                                        <a asp-area="" asp-controller="HouseKeepingAdmin" asp-action="FacilityCategory">Facility Category</a>
                                        <a asp-area="" asp-controller="HouseKeepingAdmin" asp-action="FacilityCode">Facility Code</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Facility Task</a>
                                        <a asp-area="" asp-controller="HouseKeepingAdmin" asp-action="Section">Section</a>
                                        <a asp-area="" asp-controller="HouseKeepingAdmin" asp-action="HouseKeepingEmployee">House Keeping Employee</a>
                                        <a asp-area="" asp-controller="HouseKeepingAdmin" asp-action="LostAndFoundZone">Lost And Found Zone</a>
                                        <a asp-area="" asp-controller="HouseKeepingAdmin" asp-action="LostAndFoundStatus">Lost And Found Status</a>
                                        <a asp-area="" asp-controller="HouseKeepingAdmin" asp-action="LostAndFoundQuality">Lost And Found Quality</a>
                                    </div>
                                </div>

                                @* <a asp-area="" asp-controller="Administration" asp-action="MemberList">Member Card</a> *@
                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Member Card</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="#" asp-action="#">Member List</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Member Category</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Member Type Search</a>

                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Report</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="#" asp-action="#">Report Group</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Create Report</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Add Report To Group</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">View Report</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Report Classification</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Report Management</a>
                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Config System</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="#" asp-action="#">Room List</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Load Room Inventory</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Change room type</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Setup email</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Config Computer and Card reader</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Occupancy">Config occupancy</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="ConfirmationConfig">Config confirmation</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="ConfirmationTemp">Confirmation template</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Config Status Color</a>
                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">PersonInCharge & Approve</a>
                                    <div class="dropdown-submenu-content">

                                        <a asp-area="" asp-controller="Administration" asp-action="PersonInCharge">Person In Charge</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="PersonInChargeGroup">Person In Charge Group</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="PersonInChargeZone">Person In Charge Zone</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="ApproveList">Approve List</a>
                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">
                                        Item Category
                                    </a>
                                    <div class="dropdown-submenu-content">

                                        <div class="dropdown-submenu">
                                            <a class="dropdown-submenu-toggle">
                                                Profile
                                            </a>
                                            <div class="dropdown-submenu-content">
                                                <a asp-area="" asp-controller="Administration" asp-action="City">City</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="Country">Country</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="Language">Language</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="Nationality">Nationality</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="Title">Title</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="Territory">Territory</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="State">State</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="VIP">Vip</a>
                                            </div>
                                        </div>

                                        <div class="dropdown-submenu">
                                            <a class="dropdown-submenu-toggle">
                                                Reservation
                                            </a>
                                            <div class="dropdown-submenu-content">
                                                <a asp-area="" asp-controller="Administration" asp-action="Market">Market</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="MarketType">Market Type</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="PickupDropPlace">Pickup & Drop</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="TransportType">Transport Type</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="ReservationType">Reservation Type</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="Reason">Reason</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="Origin">Origin</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="Source">Source</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="PackageForecastGroup">Package Forecast Group</a>
                                                <a asp-area="" asp-controller="Administration" asp-action="PreferenceGroup">Preference Group</a>
                                                <a asp-area="" asp-controller="#" asp-action="#">Priority</a>
                                                <a asp-area="" asp-controller="#" asp-action="#">Promotions</a>
                                                <a asp-area="" asp-controller="#" asp-action="#">Vouchers</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">Email Management</a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="Email" asp-action="SetupEmail">Setup Email</a>
                                        <a asp-area="" asp-controller="Email" asp-action="SendEmail">Send Email</a>
                                        <a asp-area="" asp-controller="Email" asp-action="SendSMS">Send SMS</a>
                                        <a asp-area="" asp-controller="Email" asp-action="SendEmailBirthday">Send Email Birthday</a>
                                        <a asp-area="" asp-controller="Email" asp-action="EmailSendingHistory">Email Sending History</a>
                                    </div>
                                </div> *@

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">
                                        Other items
                                    </a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="Administration" asp-action="AlertsSetup">Alerts</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Map Language</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Currency">Currency</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Comment">Comments</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="CommentType">Comment Type</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Department">Department</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Season">Season</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Zone">Zone</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Sub Zone</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Floor</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Telephone Book Category</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Computer Type</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Job Title</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Billing Cancellation Reason</a>
                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">
                                        Room
                                    </a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="#" asp-action="#">Room Class</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Room Direction</a>
                                        <a asp-area="" asp-controller="#" asp-action="#">Room Reason</a>
                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">
                                        Property
                                    </a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="Administration" asp-action="PropertyType">Property Type</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Property">Property</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="PropertyPermission">Property Permission</a>
                                    </div>
                                </div>

                                <div class="dropdown-submenu">
                                    <a class="dropdown-submenu-toggle">
                                        Owner
                                    </a>
                                    <div class="dropdown-submenu-content">
                                        <a asp-area="" asp-controller="Administration" asp-action="Owner">Owner</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Owner">Group Owner</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Owner">Room Owner</a>
                                        <a asp-area="" asp-controller="Administration" asp-action="Owner">Group And Room</a>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">REPORT</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="Report" asp-action="OtherReportChart">Report By Chart</a>
                                <a asp-area="" asp-controller="Report" asp-action="OtherReport">View Report</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">MISCELLANEOUS</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="#" asp-action="#">Guest card & meal</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Meal Management</a>
                                @* <a asp-area="" asp-controller="Miscellaneous" asp-action="CardManagement">Card Management</a> *@
                                <a asp-area="" asp-controller="Miscellaneous" asp-action="MealReport">Meal report</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Export Revenue</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Export Payments</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Center Message</a>
                                @* <a asp-area="" asp-controller="Miscellaneous" asp-action="IssuingCardToGuests">Issuing Card To Guests</a> *@
                            </div>
                        </li>

                        @* <li class="nav-item">
                            <a class="nav-link" href="#">NIGHT AUDIT</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="NightAudit" asp-action="RoomRate">Room Rate</a>
                                <a asp-area="" asp-controller="Report" asp-action="OtherReportChart">Fixed Charge</a>
                                <a asp-area="" asp-controller="NightAudit" asp-action="RunNightAudit">Run Night Audit</a>
                            </div>
                        </li> *@

                         <li class="nav-item">
                            <a class="nav-link" href="#">SECURITY</a>
                            <div class="dropdown-menu-custom">
                                <a asp-area="" asp-controller="#" asp-action="#">User management</a>
                                <a asp-area="" asp-controller="#" asp-action="#">User role</a>
                                <a asp-area="" asp-controller="#" asp-action="#">User's group</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Group user's permission</a>
                                <a asp-area="" asp-controller="#" asp-action="#">User's permission</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Search ser</a>
                                <a asp-area="" asp-controller="#" asp-action="#">Password history</a>
                            </div>
                        </li> 

                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <main role="main" style="background-color:#f5f5f5;overflow:hidden">
                @RenderBody()
            </main>
        </div>
        <!-- Toast Container -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="nameToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto" id="toastTitle">Notification</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toastMessage"></div>
            </div>
        </div>

    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    DevExpress.localization.locale("vi");

    document.addEventListener('DOMContentLoaded', function () {
        // Handle mobile submenu toggle
        const submenuToggles = document.querySelectorAll('.dropdown-submenu-toggle');

        submenuToggles.forEach(toggle => {
            toggle.addEventListener('click', function (e) {

                if (window.innerWidth <= 991.98) {
                    e.preventDefault();
                    e.stopPropagation(); // Ngăn sự kiện nổi bọt lên cha (quan trọng cho đa cấp)
                    const submenu = this.nextElementSibling;
                    const parent = this.parentElement;
                    // Toggle active class
                    if (parent.classList.contains('active')) {
                        parent.classList.remove('active');
                        if (submenu) submenu.style.display = 'none';
                    } else {
                        // Đóng các menu khác ĐANG MỞ, TRỪ menu cha của nút hiện tại
                        document.querySelectorAll('.dropdown-submenu.active').forEach(item => {
                            // Kiểm tra: Nếu item đang active KHÔNG chứa nút vừa bấm -> Đóng nó
                            if (!item.contains(this)) {
                                item.classList.remove('active');
                                const sub = item.querySelector('.dropdown-submenu-content');
                                if (sub) sub.style.display = 'none';
                            }
                        });

                        // Mở menu hiện tại
                        parent.classList.add('active');
                        if (submenu) submenu.style.display = 'block';
                    }

                }

            });
        });
    });
    $(document).ready(function () {
        // Hàm kiểm tra và áp dụng trạng thái biểu tượng
        function updateFullscreenIcon() {
            const isFullscreen = !!(
                document.fullscreenElement ||
                document.webkitFullscreenElement ||
                document.mozFullScreenElement ||
                document.msFullscreenElement
            );
            const fullscreenIcon = $('.fullscreen-icon');

            if (isFullscreen) {
                fullscreenIcon.removeClass('fa-compress').addClass('fa-expand');
                localStorage.setItem('isFullscreen', 'true');
            } else {
                fullscreenIcon.removeClass('fa-expand').addClass('fa-compress');
                localStorage.setItem('isFullscreen', 'false');
            }
        }

        // Hàm kích hoạt chế độ toàn màn hình
        function enterFullscreen() {
            try {
                if (document.documentElement.requestFullscreen) {
                    document.documentElement.requestFullscreen();
                } else if (document.documentElement.mozRequestFullScreen) { // Firefox
                    document.documentElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullscreen) { // Chrome, Safari, Opera
                    document.documentElement.webkitRequestFullscreen();
                } else if (document.documentElement.msRequestFullscreen) { // IE/Edge
                    document.documentElement.msRequestFullscreen();
                }
                localStorage.setItem('isFullscreen', 'true');
                $('.fullscreen-icon').removeClass('fa-compress').addClass('fa-expand');
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Can not exit full screen mode. Please check browser or env agian.'
                });
            }
        }

        // Hàm thoát chế độ toàn màn hình
        function exitFullscreen() {
            try {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { // Firefox
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { // Chrome, Safari, Opera
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { // IE/Edge
                    document.msExitFullscreen();
                }
                localStorage.setItem('isFullscreen', 'false');
                $('.fullscreen-icon').removeClass('fa-expand').addClass('fa-compress');
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Can not exit full screen mode. Please check browser or env agian.'
                });
            }
        }

        // Kiểm tra trạng thái toàn màn hình khi tải trang
        function checkFullscreenOnLoad() {
            const wasFullscreen = localStorage.getItem('isFullscreen') === 'true';
            const isDocumentFullscreen = !!(
                document.fullscreenElement ||
                document.webkitFullscreenElement ||
                document.mozFullScreenElement ||
                document.msFullscreenElement
            );

            updateFullscreenIcon();

            // Nếu trước đó ở chế độ toàn màn hình nhưng hiện tại không còn, hiển thị thông báo
            if (wasFullscreen && !isDocumentFullscreen) {
                Swal.fire({
                    icon: 'info',
                    title: 'Restore full screen mode?',
                    text: 'Do you want to restore full screen mode?',
                    showCancelButton: true,
                    confirmButtonText: 'Có',
                    cancelButtonText: 'Không'
                }).then((result) => {
                    if (result.isConfirmed) {
                        enterFullscreen();
                    } else {
                        localStorage.setItem('isFullscreen', 'false');
                        updateFullscreenIcon();
                    }
                });
            }
        }

        // Gọi hàm kiểm tra khi tải trang
        checkFullscreenOnLoad();

        // Xử lý sự kiện nhấp vào biểu tượng toàn màn hình
        $('.fullscreen-icon').on('click', function () {
            const isDocumentFullscreen = !!(
                document.fullscreenElement ||
                document.webkitFullscreenElement ||
                document.mozFullScreenElement ||
                document.msFullscreenElement
            );

            if (!isDocumentFullscreen) {
                enterFullscreen();
            } else {
                exitFullscreen();
            }
        });

        $(".dropdown-item:contains('Update Room Status')").on("click", function () {
            $.ajax({
                url: '/HouseKeeping/UpdateRoomStatus',
                type: 'GET',
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (result) {
                    showToast('Success', result.message, true);
                    $('#popupNewGridAddUser').hide();
                    $("#loadingSpinner").hide();
                    $("#btnPrint").trigger("click");
                },
                error: function () {
                    alert("Không thể tải báo cáo.");
                    $("#loadingSpinner").hide();
                }
            });
        });


        // Lắng nghe sự kiện thay đổi trạng thái toàn màn hình
        document.addEventListener('fullscreenchange', updateFullscreenIcon);
        document.addEventListener('webkitfullscreenchange', updateFullscreenIcon);
        document.addEventListener('mozfullscreenchange', updateFullscreenIcon);
        document.addEventListener('msfullscreenchange', updateFullscreenIcon);

        // Xử lý nhấp vào liên kết navbar để lưu trạng thái toàn màn hình
        $('.navbar-nav .nav-link').on('click', function (e) {
            const isDocumentFullscreen = !!(
                document.fullscreenElement ||
                document.webkitFullscreenElement ||
                document.mozFullScreenElement ||
                document.msFullscreenElement
            );
            localStorage.setItem('isFullscreen', isDocumentFullscreen ? 'true' : 'false');
        });

        // Các mã hiện có của bạn
        const loginName = JSON.parse(localStorage.getItem("Loginname"));
        if (loginName) {
            $("#user-display").text(`${loginName}`);
        } else {
            $("#user-display").text("Not Logged In");
        }
        const permissionData = JSON.parse(localStorage.getItem("PermissionNames")) || [];
        const lowerPermissionNames = permissionData.map(x => x.name?.trim().toLowerCase());
        $('a[href*="/Report/OtherReport?name="]').each(function () {
            const href = $(this).attr('href');
            const urlParams = new URLSearchParams(href.split('?')[1]);
            const reportName = urlParams.get('name')?.trim().toLowerCase();
            if (!lowerPermissionNames.includes(reportName)) {
                $(this).css({
                    "pointer-events": "none",
                    "opacity": "0.5",
                    "color": "gray"
                });
            }
        });
        const businessDate = JSON.parse(localStorage.getItem("businessDate"));
        $("#businessDate").text(`Business Date: ${businessDate}`);
        const currentPath = window.location.pathname.toLowerCase();
        $('.navbar-nav .nav-link').each(function () {
            const linkPath = $(this).attr('href')?.toLowerCase();
            $(this).removeClass('active');
            if (linkPath && currentPath.includes(linkPath)) {
                $(this).addClass('active');
            }
        });
        $('.navbar-nav .nav-link').on('click', function () {
            $('.navbar-nav .nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>


