<div class="modal fade modal-xl" id="modalNotCheckOut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Not Check Out</h5>
                <button type="button" class="btn-close" onclick="closeModalNotCheckOut()"></button>
            </div>
            <div class="modal-body">
                <div class="mui-card mt-2">
                    <div id="grinContainerNotCheckOut" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalNotCheckOut(data) {
        initializeDataGridNotCheckOut(data);
        $('#modalNotCheckOut').modal('show');
    }
    function initializeDataGridNotCheckOut(data) {
        $("#grinContainerNotCheckOut").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnResizingMode: "widget", // cho phép kéo giãn cột mượt mà
            columnAutoWidth: true,        // <<< Đây là dòng quan trọng nhất để cột tự động fit nội dung

            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual'
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },


        });
    }
    function closeModalNotCheckOut() {
        $('#modalNotCheckOut').modal('hide');
        setProcess('process3', '<i class="fa-solid fa-circle-xmark"></i>');
        setStatus('status3', 'Fail');
    }
</script>