@using Newtonsoft.Json
@using Reservation.Dto
@* <link href="~/css/pages/reservation.css" rel="stylesheet" asp-append-version="true" /> *@
@model List<ReservationSearchDTO>
<div class="mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="header" style="justify-content:center">
                    <h3 id="content-title">Group Admin</h3>
            </div>
            <div class="function-menu mui-card">

                <a href="#" >Advance</a>
                <a href="#" >Cancel</a>
                <a href="#" onclick="openModalSplit();">Split</a>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Room Assignment</a>
                    <div class="dropdown-menu-custom">
                        <a href="#" onclick="openRoomAssignment();" id="assignRoom">Assignment</a>
                        <a href="#" onclick="openConfirmRoomUnAssign();" id="unAssignRoom">UnAssign</a>
                        <a href="#" onclick="openModalAutoRoomAssignment();">Auto Room Assignment</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Check In</a>
                    <div class="dropdown-menu-custom">
                        <a href="#" >Check In</a>
                        <a href="#" onclick="openModalGroupCheckIn();">Group Check In</a>

                    </div>
                </div>
                <a href="#" onclick="roomSharer();">Room Sharer</a>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Display</a>
                    <div class="dropdown-menu-custom">
                        <a href="#" onclick="filterDisplay(2)" >Reservation</a>
                        <a href="#" onclick="filterDisplay(1)">Guest In House</a>
                        <a href="#" onclick="filterDisplay(6)">Checked Out</a>
                        <a href="#" onclick="filterDisplay(7)">Cancellation</a>
                        <a href="#" onclick="filterDisplay(9)">Wait List</a>
                        <a href="#" onclick="filterDisplay(8)">NoShow</a>
                        <a href="#" onclick="filterDisplay(0)">General</a>
                    </div>
                </div>
            </div>
            <div id="gridContainer" class="mt-2 gridContainer mui-card"></div>
        </div>
    </div>
</div>

@await Html.PartialAsync("GroupAdmin/GroupCheckIn")
@await Html.PartialAsync("Options/RoomAssignment")
<script>


    var idReservation = 0;
    var status = '';
    var roomStatus = '';
    var roomNo = '';
    var arivalDate = '';
    var departureDate = '';
    var confirmationNo = '';
    var night = 0;
    var rateAmount = 0;
    var lastname = '';
    var listData = [];
    var roomType = '';
    $(document).ready(async function () {
        var result = @Json.Serialize(ViewBag.Reservation);
        idReservation = result[0].ID;
        setDateAssign(result[0].Arrival,result[0].Departure);
 
        initializeDataGridSearch(result);
    });
    function setDateAssign(arrivalDate,departure){
        const date = new Date(arrivalDate);
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0'); 
        const year = date.getFullYear();
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');
        arivalDate = `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;

        const date2 = new Date(departure);
        const day2 = String(date2.getDate()).padStart(2, '0');
        const month2 = String(date2.getMonth() + 1).padStart(2, '0');
        const year2 = date2.getFullYear();
        const hours2 = String(date2.getHours()).padStart(2, '0');
        const minutes2 = String(date2.getMinutes()).padStart(2, '0');
        const seconds2 = String(date2.getSeconds()).padStart(2, '0');
        departureDate = `${day2}/${month2}/${year2} ${hours2}:${minutes2}:${seconds2}`;
    }
    function getSelectedCheckboxes(name) {
        const checkboxes = document.querySelectorAll(`input[type="checkbox"][name="${name}"]:checked`);
        const values = Array.from(checkboxes).map(checkbox => checkbox.value);
        return values.join(","); // Trả về chuỗi dạng 'a,c,v,c'
    }



    function getSelectedRadio(name) {
        const radio = document.querySelector(`input[type="radio"][name="${name}"]:checked`);
        return radio ? radio.value : null;
    }
    function initializeDataGridSearch(data) {
        console.log(data);
        listData = data;
        $("#gridContainer").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnAutoWidth: true,
            columnMinWidth: 90,
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            scrolling: {
                mode: 'virtual',
                showScrollbar: 'always',
                useNative: false,
            },
            selection: {
                mode: "single"
            },
            onRowDblClick: function(e) {
                openModalEdit(e.data.id);
            },
            onRowClick: function(e) {
                idReservation = e.data.ID;
                var html = ``;
                if(e.data.ProfileComment != ''){
                    html += `<span style="margin:0;padding:0">-${e.data.ProfileComment}</span>`;
                }
                if(e.data.CommentGroup != ''){
                    html += `<span style="margin:0;padding:0">-${e.data.CommentGroup}</span>`;

                }
                if(e.data.DepositRequest != ''){
                    html += `<span style="margin:0;padding:0">-${e.data.DepositRequest}</span>`;

                }
                if(e.data.FixedCharge != ''){
                    html += `<span style="margin:0;padding:0">-${e.data.FixedCharge}</span>`;

                }
                if(e.data.ItemInventory != ''){
                    html += `<span style="margin:0;padding:0">-${e.data.ItemInventory}</span>`;
                }
                if(e.data.Specials != ''){
                        html += `<span style="margin:0;padding:0">-${e.data.Specials}</span>`;
                }

                listReservationByConfirmationNo = listData.filter(item => item.ConfirmationNo === e.data.ConfirmationNo);
                rateAmount = e.data.PriceNet;
                night = e.data.NoOfNight
                status = e.data.Status;
                roomStatus = e.data.RoomStatus;
                roomType = e.data.RoomType;
                roomNo = e.data.RoomNo;
                arivalDate = e.data.Arrival;
                departureDate = e.data.Departure;
                confirmationNo = e.data.ConfirmationNo;
                lastname = e.data.GuestName;
                if(e.data.NoOfRoom != '1'){
                    ['assignRoom', 'unAssignRoom'].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'none';
                            el.style.color = 'gray';
                            el.style.cursor = 'not-allowed';
                        }
                    });
                }
                else {
                    ['assignRoom', 'unAssignRoom', ].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'auto';
                            el.style.color = '';
                            el.style.cursor = 'pointer';
                        }
                    });
                }
                if(e.data.roomID == 0){
                    ['unAssignRoom'].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'none';
                            el.style.color = 'gray';
                            el.style.cursor = 'not-allowed';
                        }
                    });
                }
                else {
                    ['unAssignRoom', ].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'auto';
                            el.style.color = '';
                            el.style.cursor = 'pointer';
                        }
                    });
                }
            }
        });
    }

    function roomSharer(){
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('userName', userName);
        formData.append('userID',userID);

        $.ajax({
            url: '/Reservation/RoomSharer',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    initializeDataGridSearch(data.reservations);
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });
    }
    function filterDisplay(type){
        //general
        if(type == 0){
            var listItem = listData.filter(item => item.ReservationStatus != 3 && item.ReservationStatus != 4 && item.ReservationStatus != 7 );
            initializeDataGridSearch(listItem);
        }
        //guest in house
        if(type == 1){
            var listItem = listData.filter(item => item.ReservationStatus == 1 || item.ReservationStatus == 6);
            initializeDataGridSearch(listItem);
        }
        //reservation
        if(type == 2){
            var listItem = listData.filter(item => item.ReservationStatus == 0 || item.ReservationStatus == 5);
            initializeDataGridSearch(listItem);
        }
        // checked out
        if(type == 6){
            var listItem = listData.filter(item => item.ReservationStatus == 2);
            initializeDataGridSearch(listItem);
        }
        //cancellation
        if(type == 7){
            var listItem = listData.filter(item => item.ReservationStatus == 3);
            initializeDataGridSearch(listItem);
        }
        //wait list
        if(type == 9){
            var listItem = listData.filter(item => item.ReservationStatus == 4);
            initializeDataGridSearch(listItem);
        }
        //noshow
        if(type == 8){
            var listItem = listData.filter(item => item.ReservationStatus == 7);
            initializeDataGridSearch(listItem);
        }
    }
    function assignAutoRoom(){
        var grid = $("#gridContainer").dxDataGrid("instance");
        var dataSource = grid.getDataSource();
        var data = dataSource.items();
        var selectedIds = data.map(row => row.ID);
        $.ajax({
            url: '/Reservation/AssignAutoRoom',
            type: 'post',
            dataType: 'json',
            data:{
                listRsvID: selectedIds,
                listRoom: unselectedRows.map(row => row.roomNo),
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                if(result.code == 0){
                    showToast('Success', result.msg, true);
                    $('#statusAutoRoom').val(result.roomSelected);
                    redirectGroupAdmin(data.map(row => row.ConfirmationNo)[0])
                }
                else{
                    showToast('Error', result.msg, false);

                }
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            },

        });
    }
    function redirectGroupAdmin(confirmationNo) {
        $.ajax({
            url: '/Reservation/EncryptId',
            type: 'POST',
            data: { id: confirmationNo },
            success: function(response) {
                if (response.success) {
                    window.location.href = '/Reservation/GroupAdmin?key=' + encodeURIComponent(response.encryptedId);
                } else {
                    alert('Lỗi khi mã hóa ID');
                }
            },
            error: function() {
                alert('Lỗi khi gọi API mã hóa');
            }
        });
    }
</script>