@* <link href="~/css/pages/reservation.css" rel="stylesheet" asp-append-version="true"/> *@

<div class="mt-3">
    <div class="row">

        <div class="col-md-12">
            <div class="content-right">
                <div class="header" style="justify-content:center;border:none">
                        <h3 id="content-title">New Reservation</h3>
                </div>
                <div class="mb-2">
                    <button class="submit-button-clear-reservation" onclick="SaveReservation(0)">Save</button>
                    <button class="submit-button-clear-reservation" onclick="openModalOption();" id="btnOption">Option</button>
                    <button class="submit-button-clear-reservation" onclick="openModalMoreFields();" id="btnOption">More fields</button>
                    <button class="submit-button-new-reservation" onclick="resetForm()" id="btnClear">Clear</button>
                    <button class="submit-button-clear-reservation" onclick="window.location.href='/Home/Index'">Home</button>

                </div>
                <div id="partial-content">
                    <div class="container-new-reservation row">
                        <div class="col-md-4">
                            <div class="section-new-reservation " style="margin:5px">
                                <h3>Guest Information</h3>
                                <div class="form-grid-new-reservation row">
                                    <div class="form-group-new-reservation col-md-6">
                                        <label>Name <span style="color:red">*</span></label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtName"  class="col-md-10"/>
                                            <button onclick="openModalSearchProfile()" class="col-md-2"><i class="fa-solid fa-arrow-down" ></i></button>
                                        </div>
                                        <div id="errorMessage" style="color: red; margin-top: 5px; display: none;">
                                            <strong>Typing format is not correct. Please typing as below: FirstName Middle, LastName </strong>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtFirstName">First Name</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtFirstName" readonly>

                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtTitle">Title</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtTitle" asp-items="ViewBag.cboTitle"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-5">
                                        <label for="txtPhone">Phone</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtPhone">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtPassport">Passport</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtPassport">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtIdentityCard">Identity Card</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtIdentityCard">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtEmail">Email</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="email" id="txtEmail">
                                        </div>
                                    </div>
                                    <input type="hidden" id="txtID" />
                                </div>
                            </div>
                        </div>
                        <div  class="col-md-4">
                            <div class="section-new-reservation " style="margin:5px">
                                <h3>Membership Information</h3>
                                <div class="form-grid-new-reservation row">
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtAddress">Address</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtAddress">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtDob">Date of Birth</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="date" id="txtDob">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtNationality">Nationality</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtNationality" asp-items="ViewBag.cboNationality"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtCity">City</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtCity" asp-items="ViewBag.cboCity"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtVIP">VIP</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtVIP" asp-items="ViewBag.cboVIP"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtMemberType">Member Type</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtMemberType" asp-items="ViewBag.cboMemberType"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtCardNo">Card No.</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtCardNo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   

                        <div  class="col-md-4">
                            <div class="section-new-reservation " style="margin:5px">
                                <h3>Agent Information</h3>
                                <div class="form-grid-new-reservation row">
                                    <div class="form-group-new-reservation col-md-6">
                                        <label>Agent</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtAgentID" readonly style="display:none" />
                                            <input id="txtAgent" readonly class="col-md-8"/>
                                            <button onclick="openModalSearchAgent()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>
                                            <div class="col-md-1" style="justify-content:center;text-align:center;color:red;" id="clearAgent" onclick="clearAgent()">
                                                <i class="fa-solid fa-xmark" style="padding-top:6px"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label>Company</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtCompanyID" readonly style="display:none" />
                                            <input id="txtCompany" readonly class="col-md-8" />
                                            <button onclick="openModalSearchCompany()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>
                                            <div class="col-md-1" style="justify-content:center;text-align:center;color:red;" id="clearCompany" onclick="clearCompany()">
                                                <i class="fa-solid fa-xmark" style="padding-top:6px"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtGroupCode">Group Code</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtGroupCode">
                                        </div>
                                        
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label>Contact</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtContactID" readonly style="display:none" />
                                            <input id="txtContact" readonly class="col-md-8"/>
                                            <button onclick="openModalSearchContact()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>
                                            <div class="col-md-1" style="justify-content:center;text-align:center;color:red;" id="clearContact" onclick="clearContact()">
                                                <i class="fa-solid fa-xmark" style="padding-top:6px"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group-new-reservation col-md-5">
                                        <label for="txtContactPhone">Contact Phone</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtContactPhone">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtPrefRoom">Preferred Room</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtPrefRoom">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtLastStay">Last Stay</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtLastStay" value="1">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div  class="col-md-4">
                            <div class="section-new-reservation" style="margin:5px">
                                <h3>Stay Details</h3>
                                <div class="stay-details-grid-new-reservation row">
                                    <div class="form-group-new-reservation col-md-5">
                                        <label for="arrival">Arrival</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="date" id="arrival" class="col-md-12">
               
                                            <span style="font-size:12px;color:#c53030;display:none" id="arrival-day"></span>
                                        </div>
        
                                    </div>
                                    <div class="form-group-new-reservation col-md-5">
                                        <label for="departure">Departure</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="date" id="departure" class="col-md-12">
         
                                            <span style="font-size:12px;color:#c53030;display:none" id="departure-day"></span>
                                        </div>

                                    </div>
                                    <div class="form-group-new-reservation col-md-2">
                                        <label for="nights">Nights</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="nights" readonly style="text-align:right">
                                        </div>
                                    </div>


                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="adults">Adults</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="number" value="2" id="adults" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="c">C</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="number" value="0" id="c" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="c1">C1</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="number" value="0" id="c1" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="c2">C2</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="number" value="0" id="c2" style="text-align:right">
                                        </div>
                                     </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="numRooms">Num. Rooms</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="number" id="numRooms" value="1" min="1" style="text-align:right" class="col-md-8">

                                        </div>

                                    </div>
                                    <div class="form-group-new-reservation col-md-5">
                                        <label for="txtRoomType">Room Type <span style="color:red">*</span></label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtRoomType" asp-items="ViewBag.cboRoomType"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtRTC">RTC</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtRTC" asp-items="ViewBag.cboRoomType"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="roomSelect">Room</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="roomSelect" readonly  class="col-md-8"/>
                                            <input id="roomID" style="display:none" />
                                            <button id="btnRoom" onclick="openModalSearchRoom()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>
                                            <div class="col-md-1" style="justify-content:center;text-align:center;color:red;" id="clearRoomNo" onclick="clearRoomNo()">
                                                <i class="fa-solid fa-xmark" style="padding-top:6px"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtRN">RN</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtRN" />
                                        </div>
                                    </div>

                                    <div class="form-group-new-reservation col-md-7">
                                        <label for="txtRateCode">Rate Code</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtRateCode" style="text-align:right" readonly class="col-md-7"/>
                                            <input id="txtRateCodeID" style="display:none" readonly />
                                            <button onclick="openModalRateCode()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>
                                            <div class="col-md-1" style="justify-content:center;text-align:center;color:red;" id="clearRateCode" onclick="clearRateCode()">
                                                <i class="fa-solid fa-xmark" style="padding-top:6px"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group-new-reservation col-md-5">
                                        <label for="txtRateAmount">Rate</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input value="0" id="txtRateAmount" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-5">
                                        <label for="txtNetAmount">Net</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input value="0" id="txtNetAmount" style="text-align:right">
                                        </div>
                                    </div>
                                    

                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtDiscountAmount">Disc. Amt</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" value="0" id="txtDiscountAmount" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtDiscountPercent">Disc. %</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" value="0" id="txtDiscountPercent" style="text-align:right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div  class="col-md-4">
                            <div class="section-new-reservation" style="margin:5px">
                                <h3>Rate Summary</h3>
                                <div class="form-grid-new-reservation row">
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtPackage">Packages</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtPackage" asp-items="ViewBag.cboPackage"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtAllotment">Allotment</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtAllotment" readonly class="col-md-10" />
                                            <input id="txtAllotmentID" readonly style="display:none" />
                                            <button onclick="openModalSearchAllotment()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>

                                        </div>

                                    </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtResType">Res. Type <span style="color:red">*</span></label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtResType" asp-items="ViewBag.cboReservationType"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-5">
                                        <label for="txtMarket">Market <span style="color:red">*</span></label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtMarket" class="col-md-9"/>
                                            <input id="txtMarketID" style="display:none" />
                                            <button onclick="openModalSearchMarket()" class="col-md-3"><i class="fa-solid fa-arrow-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtSource">Source</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtSource" asp-items="ViewBag.cboSource"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtPersonInCharge">Sale</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtPersonInCharge" asp-items="ViewBag.cboPersonInCharge"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtPayment">Payment</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtPayment" asp-items="ViewBag.cboPaymentMethod"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtCRSNo">CRS No</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="text" id="txtCRSNo">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtBooker">Booker</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtBooker"  class="col-md-8"/>
                                            <input id="txtBookerID" style="display:none" />
                                            <button onclick="openModalSearchBooker()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>
                                            <div class="col-md-1" style="justify-content:center;text-align:center;color:red;" id="clearBooker" onclick="clearBooker()">
                                                <i class="fa-solid fa-xmark" style="padding-top:6px"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtETA">ETA</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input value="@ViewBag.configETA" id="txtETA" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-3">
                                        <label for="txtETD">ETD</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input value="@ViewBag.configETD" id="txtETD" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-12">
                                        <label for="txtRateAfterDiscount">Rate After Discount</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input value="0" id="txtRateAfterDiscount" class="col-md-5" readonly style="text-align:right">
                                            <span style="font-size:12px" class="col-md-2">+ net</span>
                                            <input value="0" id="txtNetAfterDiscount" class="col-md-5" readonly style="text-align:right">
                                        </div>
                                        
                                    </div>

                                    <div class="form-group-new-reservation col-md-12">
                                        <label for="txtTotal">Total</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="number" value="0" id="txtTotal" class="col-md-5" readonly style="text-align:right">
                                            <span style="font-size:12px" class="col-md-2">+ net</span>
                                            <input type="number" value="0" id="txtTotalNet" class="col-md-5" readonly style="text-align:right">
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div  class="col-md-4">
                            <div class="section-new-reservation" style="margin:5px">
                                <h3>Booking & Special Requests</h3>
                                <div class="form-grid-new-reservation row">
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtPreference">Specials</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input id="txtPreference" class="col-md-8"/>
                                            <button onclick="openModalSearchPreference()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>
                                            <div class="col-md-1" style="justify-content:center;text-align:center;color:red;" id="clearSpecial" onclick="clearSpecial()">
                                                <i class="fa-solid fa-xmark" style="padding-top:6px"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtPromotion">Promotions</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtPromotion" asp-items="ViewBag.cboPromotion"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtItemInventory">Item Inventory</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtItemInventory" disabled multiple asp-items="ViewBag.cboItem" style="height:24px"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-6">
                                        <label for="txtReason">Reason</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <select id="txtReason" asp-items="ViewBag.cboReason"></select>
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtColor">Set Color</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="color" id="txtColor">
                                        </div>
                                    </div>
                                     <div class="form-group-new-reservation col-md-4" style="display:none">
                                        <label for="txtFolioBal">Folio Balance $</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="number" value="0" id="txtFolioBal" style="text-align:right">
                                        </div>
                                    </div>
                                    <div class="form-group-new-reservation col-md-4">
                                        <label for="txtCurrency"> Folio Balance</label>
                                        <div class="row" style="margin-left:1px;margin-right:2px">
                                            <input type="number" value="0" id="txtCurrency">
                                        </div>
                                    </div>
                                    
                                    <div class=" col-md-6 row mt-1">
                                        <div class="col-md-2" style="margin-left:1px;margin-right:2px">
                                            <input type="checkbox" id="txtPrintRate">
                                        </div>
                                        <label for="txtPrintRate" class="col-md-9">Print Rate</label>

                                    </div>
                                    <div class="row mt-1 col-md-6">
                                        <div class="col-md-2" style="margin-left:1px;margin-right:2px">
                                            <input  type="checkbox" id="txtVideoCheckout">
                                        </div>
                                        <label class="col-md-9" for="txtVideoCheckout">Video CO</label>

                                    </div>
                                    <div class="row mt-1 col-md-6">
                                        <div class="col-md-2" style="margin-left:1px;margin-right:2px">
                                            <input type="checkbox" id="txtNoPost">
                                        </div>
                                        <label class="col-md-9" for="txtNoPost">No Post</label>

                                    </div>
                                    <div class="row mt-1 col-md-6">
                                        <div class="col-md-2" style="margin-left:1px;margin-right:2px">
                                            <input type="checkbox" id="txtConfirmation">
                                        </div>
                                        <label class="col-md-9" for="txtConfirmation">Confirmation</label>

                                    </div>
                                    <div class="form-group-new-reservation full-width-new-reservation">
                                        <label for="txtComment">Comments</label>
                                        <textarea rows="2" class="specials-section-new-reservation" id="txtComment"></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>
  
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalOption" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border: 1px solid #bcbcbc">
            <div class="modal-header">
                <h5 class="modal-title">Modal Options</h5>
                <button type="button" class="btn-close" aria-label="Close" onclick="closeModalOption();"></button>
            </div>

            <div class="modal-body">
                <div class="toolbar-menu mt-2 row" id="functionAndOption">

                    <a href="#" class="font-semibold col-md-4 mb-1" onclick="openModalCheckOutAll(1);" id="assignRoom">C/O All</a>
                    <a href="#" class="font-semibold col-md-4 mb-1" onclick="openModalCheckOutAll(2);" id="unAssignRoom">C/O Zero</a>
                    <a href="#"  class="font-semibold col-md-4 mb-1" onclick="openModalCheckOut();" id="unAssignRoom">C/O</a>
                    <a href="#" class="font-semibold col-md-4 mb-1" onclick="openRoomAssignment();" id="assignRoom">Assignment</a>
                    <a href="#" class="font-semibold col-md-4 mb-1" onclick="openConfirmRoomUnAssign();" id="unAssignRoom">UnAssign</a>
                    <a href="#" class="font-semibold col-md-4 mb-1">Advance</a>
                    <a href="#" class="font-semibold col-md-4 mb-1">Clear</a>
                    <a href="#" onclick="editBooking();" class="font-semibold col-md-4 mb-1">Edit</a>
                    <a href="#" onclick="openModalCancel()" class="font-semibold col-md-4 mb-1">Cancel</a>
                    <a href="#" onclick="openConfirmReinstate();" class="font-semibold col-md-4 mb-1">Reinstate</a>
                    <a href="#" onclick="checkIn();" class="font-semibold col-md-4 mb-1">Check In</a>
                    <a href="#" onclick="openModalViewProfile();" class="font-semibold col-md-4 mb-1">Profile</a>
                    <a href="#" id="groupAdmin" class="font-semibold col-md-4 mb-1" onclick="redirectGroupAdmin();">Grp Admin</a>
                    <a href="#" data-function="export" class="font-semibold col-md-4 mb-1">Export</a>
                    <a href="#" onclick="openModalSplit();" class="font-semibold col-md-4 mb-1">Split</a>
                    <a href="#" onclick="openModalAccompanying();" class="font-semibold col-md-4 mb-1">Accompany</a>
                    <a href="#" onclick="openModalAddOn();" class="font-semibold col-md-4 mb-1">Add On</a>
                    <a href="#" class="font-semibold col-md-4 mb-1">Alerts</a>
                    <a href="#" onclick="openModalBilling();" class="font-semibold col-md-4 mb-1">Billing</a>
                    <a onclick="openModalInvoicing();" class="font-semibold col-md-4 mb-1">Invoicing</a>
                    <a href="#" class="font-semibold col-md-4 mb-1">Change</a>
                    <a href="#" onclick="openModalShare();" class="font-semibold col-md-4 mb-1">Share</a>
                    <a href="#" onclick="openModalDeposit();" class="font-semibold col-md-4 mb-1">Dep/DXL</a>
                    <a href="#" onclick="openModalFixedCharges();" class="font-semibold col-md-4 mb-1">FixedCharges</a>
                    <a href="#" onclick="openConfirm();" class="font-semibold col-md-4 mb-1">Delete</a>
                    <a href="#" onclick="openModalMessage();" class="font-semibold col-md-4 mb-1">Message</a>
                    <a href="#" onclick="openModalRegistrationCard();" class="font-semibold col-md-4 mb-1">Regis.Card</a>
                    <a href="#" onclick="openRoomMove();" class="font-semibold col-md-4 mb-1">Room Move</a>
                    <a href="#" onclick="openModalRouting();" class="font-semibold col-md-4 mb-1">Routing</a>
                    <a href="#" onclick="openModalWaitList();" class="font-semibold col-md-4 mb-1">WaitList</a>
                    <a href="#" onclick="openVisibleColumns();" class="font-semibold col-md-4 mb-1">Columns</a>


                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("ModalNewReservation/ModalMoreFields")
@await Html.PartialAsync("ModalNewReservation/ModalRateCode")
@await Html.PartialAsync("ModalNewReservation/ModalSearchAllotment")
@await Html.PartialAsync("ModalNewReservation/ModalSearchBooker")
@await Html.PartialAsync("ModalNewReservation/ModalSearchMarket")
@await Html.PartialAsync("ModalNewReservation/ModalSearchPreference")
@await Html.PartialAsync("ModalNewReservation/ModalSearchProfile")
@await Html.PartialAsync("ModalNewReservation/ModalSearchAgent")
@await Html.PartialAsync("ModalNewReservation/ModalSearchCompany")
@await Html.PartialAsync("ModalNewReservation/ModalSearchContact")
@await Html.PartialAsync("ModalNewReservation/ModalSearchRoom")

@await Html.PartialAsync("Options/Deposit")
@await Html.PartialAsync("Options/RoomMove")
@await Html.PartialAsync("Options/Message")
@await Html.PartialAsync("Options/Accompanying")
@await Html.PartialAsync("Options/FixedCharges")
@await Html.PartialAsync("Options/RegistrationCard")
@await Html.PartialAsync("Options/CheckIn")
@await Html.PartialAsync("Options/Billing")
@await Html.PartialAsync("Options/Invoicing")
@await Html.PartialAsync("Options/AddOn")
@await Html.PartialAsync("Options/Routing")
@await Html.PartialAsync("Options/Cancel")
@await Html.PartialAsync("Options/Delete")
@await Html.PartialAsync("Options/Share")
@await Html.PartialAsync("Options/Reinstate")
@await Html.PartialAsync("Options/Split")
@await Html.PartialAsync("Options/RoomAssignment")
@await Html.PartialAsync("Options/ViewProfile")
@await Html.PartialAsync("Options/WaitList")
@await Html.PartialAsync("Options/CheckOutAll")
@await Html.PartialAsync("Options/CheckOutZero")
@await Html.PartialAsync("Options/CheckOut")
<script>
    var profileIndividualID = 0;
    var idReservation = 0;
    var status = '';
    var roomStatus = '';
    var roomNo = '';
    var roomID = 0;
    var arivalDate = '';
    var departureDate = '';
    var confirmationNo = '';
    var night = 0;
    var rateAmount = 0;
    var lastname = '';
    var listData = [];
    var roomType = '';
    var listReservationByConfirmationNo = [];
    var profileID = 0;
    var folioNoID = 0;
    var reservationStatus = 0;
    function openModalOption(){
        $('#modalOption').modal('show');
    }
    function closeModalOption(){
        $('#modalOption').modal('hide');
    }
    $(document).ready(async function (){
        getBusinessDate();
        setUpIconClear();
        await setTomSelect();
        var result = @Json.Serialize(ViewBag.Reservation);
        $('#btnOption').hide();
        $('#btnClear').show();
        if(result.id != 0){
            idReservation = result.id;
            setUpReservation(result);
            $('#btnOption').show();
            $('#btnClear').hide();
        }
    });

    function setUpReservation(result){
        profileIndividualID = result.profileIndividualId;
        if (result.printRate === true) {
            document.getElementById("txtPrintRate").checked = true;
        }
        if (result.noPost === true) {
            document.getElementById("txtNoPost").checked = true;
        }
        $('#txtAgentID').val(result.profileAgentId);
        $('#txtAgent').val(result.agentName);
        $('#txtCompanyID').val(result.profileCompanyId);
        $('#txtCompany').val(result.companyName);
        $("#txtGroupCode").val('');
        $('#txtContactID').val(result.profileContactId);
        $('#txtContact').val(result.contactName);
        $("#txtContactPhone").val(result.contactPhone);
        $("#txtID").val(result.id);
        $('#txtName').val(result.lastName);

        $("#txtFirstName").val(result.firstName);
        $("#txtTitleID").val(result.title)
        $("#txtPhone").val('');
        $("#txtEmail").val(result.email);
        $("#txtMemberType").val(result.memberType);
        $("#txtCardNo").val(result.memberNo);
        $("#txtAddress").val(result.address);
        $("#txtCity").val(result.city);
        $("#txtNationality").val(result.country);

        // $("#arrival").val(result.arrivalDate.split("T")[0]);
        // $("#departure").val(result.departureDate.split("T")[0]);
         var reservationInfo = localStorage.getItem("ReservationRoomPlan");
        if (reservationInfo) {
            var parts = reservationInfo.split("|");
            var startDate = parts[0];
            var endDate = parts[1];
            var roomNo = parts[2];
            var roomTypeId = parts[3];
            var idReservationRoomplan = parts[4]; // lấy id từ localStorage

         
            if (idReservationRoomplan == idReservation) {
                $("#arrival").val(startDate);
                $("#departure").val(endDate);
                $("#roomSelect").val(roomNo);
                $("#txtRoomType").val(roomTypeId);

                
                localStorage.removeItem("ReservationRoomPlan");
            } else {
               
                $("#arrival").val(result.arrivalDate.split("T")[0]);
                $("#departure").val(result.departureDate.split("T")[0]);
                $("#roomSelect").val(result.roomNo);
                $("#txtRoomType").val(result.roomTypeId);
            }
        } else {
            // fallback nếu localStorage trống
            $("#arrival").val(result.arrivalDate.split("T")[0]);
            $("#departure").val(result.departureDate.split("T")[0]);
            $("#roomSelect").val(result.roomNo);
            $("#txtRoomType").val(result.roomTypeId);
        }

        $("#adults").val(result.noOfAdult);
        $("#c").val(result.noOfChild);
        $("#c1").val(result.noOfChild1);
        $("#c2").val(result.noOfChild2);
        $("#nights").val(result.noOfNight);
        $("#numRooms").val(result.noOfRoom);
        // $("#txtRoomType").val(result.roomTypeId);
        $("#txtVIP").val(result.vipId);
        $("#txtRTC").val(result.rtcId);
        $("#roomID").val(result.roomId);
        // $("#roomSelect").val(result.roomNo);


        $("#txtETA").val(result.eta);
        $("#txtETD").val(result.etd);
        $("#txtResType").val(result.reservationTypeId);
        $("#txtMarketID").val(result.marketId);
        $("#txtMarket").val(result.marketCode);
        $("#txtSource").val(result.sourceId);
        $("#txtBookerID").val(result.bookerId);
        $("#txtBooker").val(result.bookerName);
        $("#txtComment").val(result.comment);
        $("#pickedID").val(result.pickupReqdId);
        $("#pickUpTransportType").val(result.pickupTransportType);
        $("#pickUpStationCode").val(result.pickupStationCode);
        $("#pickUpCarrierCode").val(result.pickupCarrierCode);
        $("#pickUpTime").val(result.pickupTime);
        $("#pickUpDate").val(result.pickupArrivalDate.split("T")[0]);
        $("#pickUpTransportNo").val(result.pickupTransportNo);
        $("#pickUpDescription").val(result.pickupDescription);
        $("#dropOffId").val(result.dropOffReqdId);
        $("#dropOffTransportType").val(result.dropOffTransportType);
        $("#dropOffStationCode").val(result.dropOffStationCode);
        $("#dropOffCarrierCode").val(result.dropOffCarrierCode);
        $("#dropOffTime").val(result.dropOffTime);
        $("#dropOffTransportNo").val(result.dropOffTransportNo);
        $("#dropOffDate").val(result.dropOffDepartureDate.split("T")[0]);
        $("#dropOffDescription").val(result.dropOffDescription);
        $("#txtPackage").val(result.packageId);
        $("#txtRateCodeID").val(result.rateCodeId);
        $("#txtRateCode").val(result.rateCode);
        let amount = result.rate; // Giả sử result.rate là 4409171
        let formattedAmount = amount.toLocaleString('en-US').replace(/,/g, ','); // Đảm bảo dấu phẩy
        let amountNet = result.rateAfterTax; // Giả sử result.rate là 4409171
        let formattedNet = amountNet.toLocaleString('en-US').replace(/,/g, ','); // Đảm bảo dấu phẩy
        $("#txtRateAmount").val(formattedAmount); // Kết quả: 4,409,171
        $("#txtNetAmount").val(formattedNet);
        $('#txtRateAfterDiscount').val(formattedAmount);
        $('#txtNetAfterDiscount').val(formattedNet);
        // $("#txtColor").val(result.color);
        // $("#txtItemInventory").val('');
        // $("#txtPreference").val();
        $("#txtAllotmentID").val(result.allotmentId);
        $("#txtAllotment").val(result.allotmentCode);
        $("#txtPersonInCharge").val(result.personInChargeId);
    }
    // Hàm định dạng ngày thành chuỗi YYYY-MM-DD
    function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Hàm lấy tên thứ của ngày bằng tiếng Anh
    function getDayName(date) {
        const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        return days[date.getDay()];
    }

    // Hàm tính số đêm
    function calculateNights() {
        const arrival = new Date(document.getElementById('arrival').value);
        const departure = new Date(document.getElementById('departure').value);
        if (arrival && departure) {
            const diffTime = departure - arrival;
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            document.getElementById('nights').value = diffDays >= 0 ? diffDays : 0;
        }
    }


    function calculateNightsRateCode() {
        const arrival = new Date(document.getElementById('arrivalRateCode').value);
        const departure = new Date(document.getElementById('departureRateCode').value);
        if (arrival && departure) {
            const diffTime = departure - arrival;
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            document.getElementById('nightsRateCode').value = diffDays >= 0 ? diffDays : 0;
        }
    }

    // Hàm cập nhật ngày và thứ
    function updateDates() {
        const arrivalInput = document.getElementById('arrival');
        const departureInput = document.getElementById('departure');
        const arrivalDay = document.getElementById('arrival-day');
        const departureDay = document.getElementById('departure-day');

        const arrivalDate = new Date(arrivalInput.value);
        const departureDate = new Date(departureInput.value);

        if (arrivalDate) {
            arrivalDay.textContent = getDayName(arrivalDate);
        }
        if (departureDate) {
            departureDay.textContent = getDayName(departureDate);
        }
        calculateNights();
    }


    function updateDatesRateCode() {
        // const arrivalInput = document.getElementById('arrivalRateCode');
        // const departureInput = document.getElementById('departureRateCode');
        // const arrivalDay = document.getElementById('arrival-day-ratecode');
        // const departureDay = document.getElementById('departure-day-ratecode');

        // const arrivalDate = new Date(arrivalInput.value);
        // const departureDate = new Date(departureInput.value);

        // if (arrivalDate) {
        //     arrivalDay.textContent = getDayName(arrivalDate);
        // }
        // if (departureDate) {
        //     departureDay.textContent = getDayName(departureDate);
        // }
        calculateNightsRateCode();
    }


    // Hàm thay đổi ngày khi nhấn nút + hoặc -
    function changeDate(field, delta) {
        const input = document.getElementById(field);
        const today = new Date();
        today.setHours(0, 0, 0, 0); // Đặt giờ về 00:00:00 để so sánh ngày
        const currentDate = new Date(input.value || today);
        const arrivalDate = new Date(document.getElementById('arrival').value);

        // Kiểm tra nếu giảm ngày và ngày hiện tại nhỏ hơn ngày hôm nay
        if (delta < 0) {
            const newDate = new Date(currentDate);
            newDate.setDate(currentDate.getDate() + delta);
            if (newDate < today) {
                return; // Không cho phép giảm ngày nếu nhỏ hơn hôm nay
            }
            // Nếu giảm departure, đảm bảo không nhỏ hơn hoặc bằng arrival
            if (field === 'departure' && newDate <= arrivalDate) {
                return; // Không cho phép giảm departure nếu nhỏ hơn hoặc bằng arrival
            }
        }

        // Cập nhật ngày
        currentDate.setDate(currentDate.getDate() + delta);
        input.value = formatDate(currentDate);

        // Nếu thay đổi arrival, cập nhật departure để giữ số đêm cố định
        if (field === 'arrival') {
            const nights = parseInt(document.getElementById('nights').value) || 1;
            const departureDate = new Date(currentDate);
            departureDate.setDate(currentDate.getDate() + nights);
            // Đảm bảo departure lớn hơn arrival
            if (departureDate <= currentDate) {
                departureDate.setDate(currentDate.getDate() + 1);
            }
            document.getElementById('departure').value = formatDate(departureDate);
        }

        // Nếu thay đổi departure, đảm bảo departure lớn hơn arrival
        if (field === 'departure') {
            if (currentDate <= arrivalDate) {
                const newDeparture = new Date(arrivalDate);
                newDeparture.setDate(arrivalDate.getDate() + 1);
                document.getElementById('departure').value = formatDate(newDeparture);
            }
        }

        updateDates();
    }


    function changeDateRateCode(field, delta) {
        const input = document.getElementById(field);
        const today = new Date();
        today.setHours(0, 0, 0, 0); // Đặt giờ về 00:00:00 để so sánh ngày
        const currentDate = new Date(input.value || today);
        const arrivalDate = new Date(document.getElementById('arrivalRateCode').value);

        // Kiểm tra nếu giảm ngày và ngày hiện tại nhỏ hơn ngày hôm nay
        if (delta < 0) {
            const newDate = new Date(currentDate);
            newDate.setDate(currentDate.getDate() + delta);
            if (newDate < today) {
                return; // Không cho phép giảm ngày nếu nhỏ hơn hôm nay
            }
            // Nếu giảm departure, đảm bảo không nhỏ hơn hoặc bằng arrival
            if (field === 'departureRateCode' && newDate <= arrivalDate) {
                return; // Không cho phép giảm departure nếu nhỏ hơn hoặc bằng arrival
            }
        }

        // Cập nhật ngày
        currentDate.setDate(currentDate.getDate() + delta);
        input.value = formatDate(currentDate);

        // Nếu thay đổi arrival, cập nhật departure để giữ số đêm cố định
        if (field === 'arrivalRateCode') {
            const nights = parseInt(document.getElementById('nightsRateCode').value) || 1;
            const departureDate = new Date(currentDate);
            departureDate.setDate(currentDate.getDate() + nights);
            // Đảm bảo departure lớn hơn arrival
            if (departureDate <= currentDate) {
                departureDate.setDate(currentDate.getDate() + 1);
            }
            document.getElementById('departureRateCode').value = formatDate(departureDate);
        }

        // Nếu thay đổi departure, đảm bảo departure lớn hơn arrival
        if (field === 'departureRateCode') {
            if (currentDate <= arrivalDate) {
                const newDeparture = new Date(arrivalDate);
                newDeparture.setDate(arrivalDate.getDate() + 1);
                document.getElementById('departureRateCode').value = formatDate(newDeparture);
            }
        }

        updateDatesRateCode();
    }
    function getBusinessDate() {
        return $.ajax({
            url: '/Reservation/GetBusinessDate',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                const businessDate = new Date(result);
                const formattedBusinessDate = result.split('T')[0];
                $('#arrival').val(formattedBusinessDate);
                $('#pickUpDate').val(formattedBusinessDate);

                const departureDate = new Date(businessDate);
                departureDate.setDate(businessDate.getDate() + 7);
                const formattedDepartureDate = departureDate.toISOString().split('T')[0];
                $('#departure').val(formattedDepartureDate);
                $('#dropOffDate').val(formattedDepartureDate);
                updateDates();

            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    //   window.onload = function() {
    //     // Lấy chuỗi businessDate từ localStorage
    //     var parsedBusinessDate = JSON.parse(localStorage.getItem("businessDate")); // Chuỗi: "29/08/2024 00:00:00"

    //         var dateOnly = parsedBusinessDate.split(' ')[0]; // '8/29/2024'
    //     var dateParts = dateOnly.split('/'); // ['8', '29', '2024']

    //     // Parse đúng thứ tự: new Date(year, monthIndex, day)
    //     var parsedBusinessDate = new Date(dateParts[2],  dateParts[1]-1,dateParts[0] );

    //     // Tạo ngày departureDate (ngày tiếp theo)
    //     var departureDate = new Date(parsedBusinessDate);
    //         departureDate.setDate(parsedBusinessDate.getDate() + 1);


    //     // Gán giá trị cho các input arrival và departure
    //     document.getElementById('arrival').value = formatDate(parsedBusinessDate);
    //         document.getElementById('pickUpDate').value = formatDate(parsedBusinessDate);
    //     document.getElementById('departure').value = formatDate(departureDate);
    //     document.getElementById('dropOffDate').value = formatDate(departureDate);

    //     // Gọi hàm updateDates (giả sử đã được định nghĩa)
    //     updateDates();
    // };
    // Lắng nghe sự kiện thay đổi ngày
    document.getElementById('arrival').addEventListener('change', function() {
        const today = new Date();
        today.setHours(0, 0, 0, 0);
        const arrivalDate = new Date(this.value);

        // Cập nhật departure để giữ số đêm cố định
        const nights = parseInt(document.getElementById('nights').value) || 1;
        const newDeparture = new Date(this.value);
        newDeparture.setDate(newDeparture.getDate() + nights);
        // Đảm bảo departure lớn hơn arrival
        if (newDeparture <= arrivalDate) {
            newDeparture.setDate(arrivalDate.getDate() + 1);
        }
        document.getElementById('departure').value = formatDate(newDeparture);
        updateDates();
    });

    document.getElementById('departure').addEventListener('blur', function() {
        const departureDateStr = $('#departure').val(); // Chuỗi YYYY-MM-DD
        const arrivalDateStr = $('#arrival').val(); // Chuỗi YYYY-MM-DD

        const departureDate = new Date(departureDateStr);
        const arrivalDate = new Date(arrivalDateStr);

        if (departureDateStr && arrivalDateStr && !isNaN(departureDate) && !isNaN(arrivalDate) && departureDate <= arrivalDate) {
            console.log('a');
            let date = new Date(arrivalDate);
            date.setDate(date.getDate() + 1);
            $('#departure').val(date.toISOString().split('T')[0]);
        }

        updateDates();
    });

    const numRoomsInput = document.getElementById('numRooms');
    const roomSelect = document.getElementById('roomSelect');
    const numRoomsRateCodeInput = document.getElementById('numRoomsRateCode');

    // Hàm kiểm tra và cập nhật trạng thái select
    function updateRoomSelect() {
        if (parseInt(numRoomsInput.value) > 1) {
            roomSelect.disabled = true;
            $('#btnRoom').hide();
        } else {
            roomSelect.disabled = false;
            $('#btnRoom').show();
        }
    }

    // Hàm giảm số phòng
    function decreaseRooms() {
        let value = parseInt(numRoomsInput.value);
        if (value > 1) {
            numRoomsInput.value = value - 1;
            updateRoomSelect();
        }
    }

    // Hàm tăng số phòng
    function increaseRooms() {
        let value = parseInt(numRoomsInput.value);
        numRoomsInput.value = value + 1;

        updateRoomSelect();
    }


    function decreaseRoomsRateCode() {
        let value = parseInt(numRoomsRateCodeInput.value);
        if (value > 1) {
            numRoomsRateCodeInput.value = value - 1;
        }
    }

    function increaseRoomsRateCode() {
        let value = parseInt(numRoomsRateCodeInput.value);
        numRoomsRateCodeInput.value = value + 1;
    }
    // Xác thực khi nhập trực tiếp vào input
    numRoomsInput.addEventListener('input', function() {
        if (numRoomsInput.value < 1 || isNaN(numRoomsInput.value)) {
            numRoomsInput.value = 1;
        }
        updateRoomSelect();
    });

    // Khởi tạo trạng thái ban đầu
    updateRoomSelect();

    function extractLastName(name) {
        const parts = name.trim().split(/,\s*/);
        return parts[1] || '';
    }

    function validateName(name) {
        // Regex for "FirstName MiddleName, LastName" or "FirstName MiddleName,LastName"
        const namePattern = /^[A-Z][a-z]*\s[A-Z][a-z]*,\s*[A-Z][a-z]*$/;
        return namePattern.test(name.trim());
    }

    $('#txtRoomType').change(function () {
        var selectedValue = $(this).val();
        var selectedText = $(this).find('option:selected').text();
        $('#txtRTC').val(selectedValue);
        $('#roomTypeRateCode').val(selectedValue);
    });


    function getSelectedCheckboxes(name) {
        const checkboxes = document.querySelectorAll(`input[type="checkbox"][name="${name}"]:checked`);
        const values = Array.from(checkboxes).map(checkbox => checkbox.value);
        return values.join(","); // Trả về chuỗi dạng 'a,c,v,c'
    }

    function getSelectedRadio(name) {
        const radio = document.querySelector(`input[type="radio"][name="${name}"]:checked`);
        return radio ? radio.value : null;
    }

    function calculateNet(fromDate,toDate,rateCodeID,roomTypeID,currencyID,packageID,day,value,transactionCode,discountPercent,discountAmount) {
        return $.ajax({
            url: '/Reservation/CaculateNet',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data:{
                fromDate: fromDate,
                toDate: toDate,
                rateCodeID: rateCodeID,
                roomTypeID: roomTypeID,
                currencyID: currencyID,
                packageID: packageID,
                day: day,
                price:value,
                transactionCode: transactionCode,
                discountPercent: discountPercent,
                discountAmount: discountAmount
            },
            success: function (result) {
                var value = parseFloat(result.priceAfter);
                    valueFloat =  Math.round(value).toLocaleString('en-US', {
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0
                            });
                $('#txtNetAmount').val(valueFloat);

                var valueRateAfter = parseFloat(result.priceDiscount);
                valueRateAfterFloat =  Math.round(valueRateAfter).toLocaleString('en-US', {
                            minimumFractionDigits: 0,
                            maximumFractionDigits: 0
                        });
                $('#txtRateAfterDiscount').val(valueRateAfterFloat);
                var valueNetAfter = parseFloat(result.priceAfterDiscount);
                valueNetAfterFloat =  Math.round(valueNetAfter).toLocaleString('en-US', {
                            minimumFractionDigits: 0,
                            maximumFractionDigits: 0
                        });
                $('#txtNetAfterDiscount').val(valueNetAfterFloat);

            },
            error: function (xhr, statusText, err) {

            }
        });
    }

    function calculateNetReverse(fromDate,toDate,rateCodeID,roomTypeID,currencyID,packageID,day,value,transactionCode,discountPercent,discountAmount) {
        return $.ajax({
            url: '/Reservation/CaculateNetReverse',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data:{
                fromDate: fromDate,
                toDate: toDate,
                rateCodeID: rateCodeID,
                roomTypeID: roomTypeID,
                currencyID: currencyID,
                packageID: packageID,
                day: day,
                price:value,
                transactionCode: transactionCode,
                discountPercent: discountPercent,
                discountAmount: discountAmount
            },
            success: function (result) {
                var value = parseFloat(result.priceAfter);
                    valueFloat =  Math.round(value).toLocaleString('en-US', {
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0
                            });
                $('#txtNetAmount').val(valueFloat);

                var valueRateAfter = parseFloat(result.priceDiscount);
                valueRateAfterFloat =  Math.round(valueRateAfter).toLocaleString('en-US', {
                            minimumFractionDigits: 0,
                            maximumFractionDigits: 0
                        });
                $('#txtRateAmount').val(valueRateAfterFloat);

                $('#txtRateAfterDiscount').val(valueRateAfterFloat);
                var valueNetAfter = parseFloat(result.priceAfterDiscount);
                valueNetAfterFloat =  Math.round(valueNetAfter).toLocaleString('en-US', {
                            minimumFractionDigits: 0,
                            maximumFractionDigits: 0
                        });
                $('#txtNetAfterDiscount').val(valueNetAfterFloat);

            },
            error: function (xhr, statusText, err) {

            }
        });
    }
    $('#txtRateAmount').on('input', function() {
        let value = $(this).val();

        // Loại bỏ tất cả ký tự không phải số
        value = value.replace(/[^0-9]/g, '');

        // Định dạng thành tiền với dấu phẩy
        if (value) {
            // Sử dụng toLocaleString để định dạng số
            let formattedValue = parseInt(value).toLocaleString('vi-VN');
            // Thay dấu chấm thành dấu phẩy
            formattedValue = formattedValue.replace(/\./g, ',');
            $(this).val(formattedValue);
        } else {
            // Nếu không có giá trị, đặt lại input thành rỗng
            $(this).val('');
        }
    }).on('keypress', function(event) {
        // Chỉ cho phép nhập các ký tự số (0-9)
        let charCode = event.which || event.keyCode;
        if (charCode < 48 || charCode > 57) {
            event.preventDefault();
        }
    });
    $('#txtRateAmount').blur(function() {
        let value = $(this).val();
        let cleanValue = value.replace(/[^0-9]/g, '');
        let valueDiscountPercent = $('#txtDiscountPercent').val();
        let cleanValueDiscountPercent = valueDiscountPercent.replace(/[^0-9]/g, '');
        let valueDiscountAmount = $('#txtDiscountAmount').val();
        let cleanValueDiscountAmount = valueDiscountAmount.replace(/[^0-9]/g, '');
        calculateNet($('#arrival').val(),$('#departure').val(),0,
        $('#txtRoomType').val(),'VND',0,0,cleanValue,'',cleanValueDiscountPercent,cleanValueDiscountAmount);
    });

    $('#txtNetAmount').on('input', function() {
        let value = $(this).val();

        // Loại bỏ tất cả ký tự không phải số
        value = value.replace(/[^0-9]/g, '');

        // Định dạng thành tiền với dấu phẩy
        if (value) {
            // Sử dụng toLocaleString để định dạng số
            let formattedValue = parseInt(value).toLocaleString('vi-VN');
            // Thay dấu chấm thành dấu phẩy
            formattedValue = formattedValue.replace(/\./g, ',');
            $(this).val(formattedValue);
        } else {
            // Nếu không có giá trị, đặt lại input thành rỗng
            $(this).val('');
        }
    }).on('keypress', function(event) {
        // Chỉ cho phép nhập các ký tự số (0-9)
        let charCode = event.which || event.keyCode;
        if (charCode < 48 || charCode > 57) {
            event.preventDefault();
        }
    });
    $('#txtNetAmount').blur(function() {
        let value = $(this).val();
        let cleanValue = value.replace(/[^0-9]/g, '');
        let valueDiscountPercent = $('#txtDiscountPercent').val();
        let cleanValueDiscountPercent = valueDiscountPercent.replace(/[^0-9]/g, '');
        let valueDiscountAmount = $('#txtDiscountAmount').val();
        let cleanValueDiscountAmount = valueDiscountAmount.replace(/[^0-9]/g, '');
        calculateNetReverse($('#arrival').val(),$('#departure').val(),0,
        $('#txtRoomType').val(),'VND',0,0,cleanValue,'',cleanValueDiscountPercent,cleanValueDiscountAmount);
    });
    $('#txtDiscountAmount').on('input', function() {
        let value = $(this).val();

        value = value.replace(/[^0-9]/g, '');

        if (value) {
            let formattedValue = parseInt(value).toLocaleString('vi-VN');
            formattedValue = formattedValue.replace(/\./g, ',');
            $(this).val(formattedValue);
        } else {
            $(this).val('');
        }
    }).on('keypress', function(event) {
        let charCode = event.which || event.keyCode;
        if (charCode < 48 || charCode > 57) {
            event.preventDefault();
        }
    });
    $('#txtDiscountPercent').on('input', function() {
        let value = $(this).val();

        value = value.replace(/[^0-9]/g, '');

        if (value) {
            let formattedValue = parseInt(value).toLocaleString('vi-VN');
            formattedValue = formattedValue.replace(/\./g, ',');
            $(this).val(formattedValue);
        } else {
            $(this).val('');
        }
    }).on('keypress', function(event) {
        let charCode = event.which || event.keyCode;
        if (charCode < 48 || charCode > 57) {
            event.preventDefault();
        }
    });
    $('#txtDiscountAmount').blur(function() {
        let value = $('#txtRateAmount').val();
        let cleanValue = value.replace(/[^0-9]/g, '');
        let valueDiscountPercent = $('#txtDiscountPercent').val();
        let cleanValueDiscountPercent = valueDiscountPercent.replace(/[^0-9]/g, '');
        let valueDiscountAmount = $(this).val();
        let cleanValueDiscountAmount = valueDiscountAmount.replace(/[^0-9]/g, '');
        calculateNet($('#arrival').val(),$('#departure').val(),0,
        $('#txtRoomType').val(),'VND',0,0,cleanValue,'',cleanValueDiscountPercent,cleanValueDiscountAmount);
    });
    $('#txtDiscountPercent').blur(function() {
        let value = $('#txtRateAmount').val();
        let cleanValue = value.replace(/[^0-9]/g, '');
        let valueDiscountPercent = $(this).val();
        let cleanValueDiscountPercent = valueDiscountPercent.replace(/[^0-9]/g, '');
        let valueDiscountAmount = $('#txtDiscountAmount').val();
        let cleanValueDiscountAmount = valueDiscountAmount.replace(/[^0-9]/g, '');
        calculateNet($('#arrival').val(),$('#departure').val(),0,
        $('#txtRoomType').val(),'VND',0,0,cleanValue,'',cleanValueDiscountPercent,cleanValueDiscountAmount);
    });
    function SaveReservation(type) {

        let WalkIn = "0";
        if(type == 1){
            WalkIn = "1";
        }
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        let valueDiscountPercent = $('#txtDiscountPercent').val();
        let cleanValueDiscountPercent = valueDiscountPercent.replace(/[^0-9]/g, '');
        let valueDiscountAmount = $('#txtDiscountAmount').val();
        let cleanValueDiscountAmount = valueDiscountAmount.replace(/[^0-9]/g, '');
        
        formData.append('reservationID',idReservation);

        formData.append('profileAgentID', $('#txtAgentID').val());
        formData.append('agentName', $('#txtAgent').val());
        formData.append('profileCompanyID', $('#txtCompanyID').val());
        formData.append('companyName', $('#txtCompany').val());
        formData.append('groupCode', $("#txtGroupCode").val());
        formData.append('profileContactID', $('#txtContactID').val());
        formData.append('contactName', $('#txtContact').val());
        formData.append('contactPhone', $("#txtContactPhone").val());
        formData.append('profileIndividualID', $("#txtID").val());
        formData.append('firstName', $("#txtFirstName").val());
        formData.append('lastName', $('#txtName').val());
        formData.append('title', $("#txtTitle").val() ?? '');
        formData.append('phone', $("#txtPhone").val());
        formData.append('email', $("#txtEmail").val());
        formData.append('memberType', $("#txtMemberType").val());
        formData.append('memberNo', $("#txtCardNo").val());
        formData.append('address', $("#txtAddress").val());
        formData.append('city', $("#txtCity").val());
        formData.append('nationality', $("#txtNationality").val());
        formData.append('arrival', $("#arrival").val());
        formData.append('departure', $("#departure").val());
        formData.append('noOfAdult', $("#adults").val());
        formData.append('noOfChild', $("#c").val());
        formData.append('noOfChild1', $("#c1").val());
        formData.append('noOfChild2', $("#c2").val());
        formData.append('noOfNight', $("#nights").val());
        formData.append('noOfRoom', $("#numRooms").val());
        formData.append('roomTypeID', $("#txtRoomType").val());
        formData.append('vipID', $("#txtVIP").val());
        formData.append('rtcID', $("#txtRTC").val());
        formData.append('roomID', $("#roomID").val());
        formData.append('roomNo',$('#roomSelect').val());
        formData.append('eta', $("#txtETA").val());
        formData.append('etd', $("#txtETD").val());
        formData.append('reservationType', $("#txtResType").val());
        formData.append('reservationTypeCode', $('#txtResType').find('option:selected').text());
        formData.append('marketID', $("#txtMarketID").val());
        formData.append('marketCode', $("#txtMarket").val());
        formData.append('sourceID', $("#txtSource").val());
        formData.append('sourceCode',  $('#txtSource').find('option:selected').text());
        formData.append('bookerID', $("#txtBookerID").val());
        formData.append('bookerName', $("#txtBooker").val());
        formData.append('discountAmount',cleanValueDiscountAmount);
        formData.append('discountRate', cleanValueDiscountPercent);
        formData.append('comment', $("#txtComment").val());
        formData.append('pickedId', $("#pickedID").val());
        formData.append('pickUpTransportType', $("#pickUpTransportType").val());
        formData.append('pickUpStationCode', $("#pickUpStationCode").val());
        formData.append('pickUpCarrierCode', $("#pickUpCarrierCode").val());
        formData.append('pickUpTime', $("#pickUpTime").val());
        formData.append('pickUpDate', $("#pickUpDate").val());
        formData.append('pickUpTransportNo', $("#pickUpTransportNo").val());
        formData.append('pickUpDescription', $("#pickUpDescription").val());
        formData.append('dropOffId', $("#dropOffId").val());
        formData.append('dropOffCarrierCode', $("#dropOffCarrierCode").val());
        formData.append('dropOffTransportType', $("#dropOffTransportType").val());
        formData.append('dropOffStationCode', $("#dropOffStationCode").val());
        formData.append('dropOffTime', $("#dropOffTime").val());
        formData.append('dropOffTransportNo', $("#dropOffTransportNo").val());
        formData.append('dropOffDate', $("#dropOffDate").val());
        formData.append('dropOffDescription', $("#dropOffDescription").val());
        formData.append('packageID', $("#txtPackage").val());
        formData.append('packages', $('#txtPackage').find('option:selected').text());
        formData.append('rateCodeID', $("#txtRateCodeID").val());
        formData.append('rateCode', $("#txtRateCode").val());
        formData.append('rateAmount', $("#txtRateAmount").val());
        formData.append('rateAfter', $("#txtNetAmount").val());
        formData.append('color', $("#txtColor").val());
        const selectedValues = $("#txtItemInventory").val();
        selectedValues.forEach(value => {
            formData.append('itemInventory', value);
        });
        formData.append('specials', $("#txtPreference").val());
        formData.append('allotmentID', $("#txtAllotmentID").val());
        formData.append('allotmentCode', $("#txtAllotment").val());
        formData.append('perrsonInCharge', $("#txtPersonInCharge").val());
        formData.append('roomNight', $("#nights").val());
        formData.append('userName', userName);
        formData.append('userID',userID);
        formData.append('walkIn',WalkIn);
        let valuePrint = $('#txtPrintRate').is(':checked') ? 1 : 0;
        formData.append('printRate',valuePrint);

        let valueNoPost = $('#txtNoPost').is(':checked') ? 1 : 0;
        formData.append('noPost',valueNoPost);

        $.ajax({
            url: '/Reservation/SaveReservation',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    resetForm();
                        showToast('Success', data.msg, true);
                } else {
                        showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
    function resetForm(){
            $('#txtAgent').val('');
            $('#txtAgentID').val('0');
            $('#txtCompany').val('');
            $('#txtCompanyID').val('')
            $("#txtGroupCode").val('');
            $('#txtContact').val('');
            $('#txtContactID').val('0');
            $("#txtContactPhone").val('');
            $("#txtID").val('0');
            $("#txtName").val('');
            $("#txtFirstName").val('');
            $("#txtTitleID").val('0')
            $("#txtPhone").val('');
            $("#txtEmail").val('');
            $("#txtMemberType").val('');
            $("#txtCardNo").val('');
            $("#txtAddress").val('');
            $("#txtCity").val('');
            $("#txtNationality").val('');
            $("#arrival").val('');
            $("#departure").val('');
            $("#txtDob").val('');
            $("#txtRateAfterDiscount").val('0');
            $("#txtNetAfterDiscount").val('0');
            $("#adults").val('');
            $("#c").val('');
            $("#c1").val('');
            $("#c2").val('');
            $("#nights").val('');
            $("#numRooms").val('');
            $("#txtRoomType").val('');
            $("#txtVIP").val('');
            $("#txtRTC").val('');
            $("#roomSelect").val('');
            $("#txtETA").val(eta);
            $("#txtETD").val(etd);
            $("#txtResType").val('');
            $("#txtMarketID").val('');
            $("#txtMarket").val('');
            $("#txtSource").val('');
            $("#txtBookerID").val('');
            $("#txtBooker").val('');
            $("#txtComment").val('');
            $("#pickedID").val('');
            $("#pickUpTransportType").val('');
            $("#pickUpStationCode").val('');
            $("#pickUpCarrierCode").val('');
            $("#pickUpTime").val('');
            $("#pickUpDate").val('');
            $("#pickUpTransportNo").val('');
            $("#pickUpDescription").val('');
            $("#dropOffId").val('');
            $("#txtContactNameCOM").val('');
            $("#txtEmailCOM").val('');
            $("#txtWebsiteCOM").val('');
            $("#dropOffTime").val('');
            $("#dropOffTransportNo").val('');
            $("#dropOffDate").val('');
            $("#dropOffDescription").val('');
            $("#txtPackage").val('');
            $("#txtRateCodeID").val('');
            $("#txtRateCode").val('');
            $("#txtRateAmount").val('');
            $("#txtNetAmount").val('');
            $("#txtColor").val('');
            $("#txtItemInventory").val('');
            $("#txtPreference").val('');
            $("#txtAllotmentID").val('');
            $("#txtAllotment").val('');
            $("#txtPersonInCharge").val('');
            $("#nights").val('');
            $('#txtName').val(''); 
            $('#txtID').val(0); 


            getBusinessDate();
            getDataMarket();
    }

    async function setTomSelect(){
        const ids = [
            "#txtItemInventory","#profileAllotmentSearch"

        ];

        for (const id of ids) {
            if ($(id).length) {
                new TomSelect(id, {
                    allowEmptyOption: true,
                    create: true
                });
            }
        }
    }
    $('#txtName').on('blur', function () {
        var input = $(this).val().trim();
        // Regex hỗ trợ tiếng Việt, định dạng: "LastName, FirstName MiddleName"
        var regex = /^[a-zA-ZÀ-ỹ]+(?:\s[a-zA-ZÀ-ỹ]+)*,\s*[a-zA-ZÀ-ỹ]+(?:\s[a-zA-ZÀ-ỹ]+)*$/i;

        if (regex.test(input)) {
            $('#errorMessage').hide();
            $(this).removeClass('is-invalid').addClass('is-valid');

            // Tách chuỗi theo định dạng "LastName, FirstName MiddleName"
            var parts = input.split(',');
            var lastName = parts[0].trim();          // "Nguyễn Văn"
            var firstMiddlePart = parts[1].trim();   // "Tuấn Anh"
            var nameTokens = firstMiddlePart.split(/\s+/); // ["Tuấn", "Anh"]

            var firstName = nameTokens[0];
            var middleName = nameTokens.slice(1).join(' '); // Có thể là rỗng

            $('#txtFirstName').val(firstName);
            CreateProfile(input, lastName, firstName, middleName);

        } else {
            $('#errorMessage').show();
            $(this).removeClass('is-valid').addClass('is-invalid');

            $('#txtFirstName').val('');
        }
    });
    function CreateProfile(account,lastName,firstName,middleName) {
        var formData = new FormData();
        const userID = JSON.parse(localStorage.getItem("userID"));
        formData.append('AccountIndividual', account);
        formData.append('LastNameIndivdual', lastName);
        formData.append('FirstNameIndividual', firstName);
        formData.append('MiddleNameIndividual', middleName);
        formData.append('userID',userID);

        $.ajax({
            url: '/Profile/SaveProfileInReservation',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    showToast('Success', data.msg, true);
                    $('#txtID').val(data.id);
                } else {
                        showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
    function setUpIconClear(){
        $('#clearRoomNo').hide();
        $('#clearAgent').hide();
        $('#clearCompany').hide();
        $('#clearContact').hide();
        $('#clearRateCode').hide();
        $('#clearBooker').hide();
        $('#clearSpecial').hide();
    }
</script>