@* <link href="~/css/pages/reservation.css" rel="stylesheet" asp-append-version="true" /> *@

<div class="mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="header" style="justify-content:center">
                    <h3 id="content-title">User - Rate Code Permission Search</h3>
            </div>
            <div class="function-menu mui-card">

                <a href="#" onclick="searchRateCodeAuthor();">Search</a>
                <a href="#" onclick="searchRateCodeAuthor();">Refresh</a>
                <a href="#" onclick="openModalNewRateCodeAuthor();">New</a>
                <a href="#" onclick="deleteRateCodeAuthor();">Delete</a>

            </div>
            <div class="row mt-2">
               
                <div class="form-group-new-reservation col-md-2">
                    <label>User</label>
                    <div class="row" style="margin-left:1px;margin-right:2px">
                        <select id="user" asp-items="ViewBag.cboUser"></select>

                    </div>
                </div>
                <div class="form-group-new-reservation col-md-2">
                    <label>Rate Code</label>
                    <div class="row" style="margin-left:1px;margin-right:2px">
                        <select id="rateCode" asp-items="ViewBag.cboRateCode"></select>
                    </div>
                </div>
            </div>
            <div id="gridContainer" class="mt-2 gridContainer mui-card"></div>
        </div>
    </div>
</div>

<!-- Modal cancel-->
<div class="modal fade modal" id="modalOpenNewRateCodeAuthor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">User - Rate Code Permission</h5>
                <button type="button" class="btn-close" onclick="closeModalNewRateCodeAuthor()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="mui-button mui-button-search" onclick="saveRateCodeAuthor();"> OK</button>
                </div>
              <div class="form-group-new-reservation">
                    <label>User</label>
                    <div class="row" style="margin-left:1px;margin-right:2px">
                        <select id="userNew" asp-items="ViewBag.cboUser"></select>

                    </div>
                </div>
                <div class="form-group-new-reservation">
                    <label>Rate Code</label>
                    <div class="row" style="margin-left:1px;margin-right:2px">
                        <select id="rateCodeNew" asp-items="ViewBag.cboRateCode"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(async function () {
        searchRateCodeAuthor();
    });
    function searchRateCodeAuthor() {
        $.ajax({
            url: '/Reservation/SearchRateCodeAutho',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            data:{
                user:$('#user').val(),
                rateCode: $('#rateCode').val()
            },
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridSearch(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            },

        });
    }

    function initializeDataGridSearch(data) {
        const columns = [
            { dataField: 'id', caption: 'ID', visible: false },
            
            { dataField: 'userName', caption: 'User', },
            { dataField: 'rateCode', caption: 'Rate Code', },
            { dataField: 'createdBy', caption: 'Created By', },
            { dataField: 'createdDate', caption: 'Created Date', },
            { dataField: 'updatedBy', caption: 'Updated By', },
            { dataField: 'updatedDate', caption: 'Updated Date',  },
            
        ];
        const grid = $("#gridContainer").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnAutoWidth: true,
            paging: {
                enabled: true,
                pageSize: 24
            },
            pager: {
                visible: true,
                allowedPageSizes: [24, 30, 35],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            scrolling: {
                mode: 'standard',
                showScrollbar: 'always',
                useNative: false
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowClick: function(e) {
                permissionID = e.data.id;
            },
            columns: columns,
        }).dxDataGrid('instance');
 
    }
    function openModalNewRateCodeAuthor(){
        $('#modalOpenNewRateCodeAuthor').modal('show');
    }
    function closeModalNewRateCodeAuthor(){
        $('#userNew').val(0);
        $('#rateCodeNew').val(0);
        $('#modalOpenNewRateCodeAuthor').modal('hide');
    }
    var permissionID = 0;
    function saveRateCodeAuthor(){
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        var formData = new FormData();
        formData.append('userID', $('#userNew').val());
        formData.append('rateCodeID', $('#rateCodeNew').val());
        formData.append('userName', userName);
        $.ajax({
            url: '/Reservation/SaveRateCodeAuthor',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalNewRateCodeAuthor();
                    showToast('Success', data.msg, true);
                    searchRateCodeAuthor();
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });
    }
    function deleteRateCodeAuthor(){
        var formData = new FormData();

        formData.append('id', permissionID);
        $.ajax({
            url: '/Reservation/DeleteRateCodeAuthor',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    showToast('Success', data.msg, true);
                    searchRateCodeAuthor();
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });
    }
</script>