@* <link href="~/css/pages/reservation.css" rel="stylesheet" asp-append-version="true" /> *@
<style>
</style>
<div class="header mt-2" style="border-bottom:none;justify-content:center">
    <h3 id="content-title">
        Search Reservation
    </h3>
</div>
<div class="mt-1">
    <div class="row">
        <!-- Menu trái -->
        <div class="col-md-3 mb-2" id="leftMenu">
            <div class="mui-card">
                <div class="header" style="justify-content:space-between">
                    <div class="header2">
                        <i class="fa-solid fa-sliders" style="background-color:#2b6cb0;color:white;padding:4px"></i>
                        <h3 id="content-title">
                            Filter
                        </h3>
                        <i class="fa-solid fa-caret-down" id="caretDownFilter" onclick="clickCaretDownFilter();" title="Click to show filter"></i>
                        <i class="fa-solid fa-caret-up" id="caretUpFilter" onclick="clickCaretUpFilter();" title="Click to hide ffilter"></i>
                    </div>
                    <div class="header2">
                        <i class="fa-solid fa-magnifying-glass" onclick="searchReservation();"></i>
                    </div>
                </div>
                <div id="filter" class="tab-pane">
                    <div class="row">

                        <div class="form-group-new-reservation col-md-6">
                            <label>
                                Arr.From
                            </label>
                            <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                                <input type="checkbox" id="chooseFromDate" checked class="col-md-2">

                                <input type="date" id="arrivalForm" class="col-md-10">
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Arr.To</label>
                            <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                                <input type="checkbox" id="chooseToDate" checked class="col-md-2">
                                <input type="date" id="departureForm" class="col-md-10">
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6" style="display:none">
                            <label>First Name</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <input type="text" id="firstName">
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Name</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <input type="text" id="name">
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Owner</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <select id="owner">
                                    <option value="">--All--</option>
                                    <option value="--Hotel--">--Hotel--</option>
                                    <option value="--Owner--">--Owner--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Conf. No</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <input type="text" id="confirmationNo">

                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Resv. No</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <input type="text" id="resvHolder">
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>CRS No/GC</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <input type="text" id="crsNo">
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Search Type</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <select id="searchType">
                                    <option value="0">General</option>
                                    <option value="1">Guest In House</option>
                                    <option value="2">Reservation</option>
                                    <option value="3">Due In</option>
                                    <option value="4">Checked In</option>
                                    <option value="5">Due Out</option>
                                    <option value="6">Checked Out</option>
                                    <option value="7">Cancellations</option>
                                    <option value="8">No show</option>
                                    <option value="9">Wait List</option>
                                    <option value="10">Day use</option>
                                    <option value="11">Complementary</option>
                                    <option value="12">Arrival & Checked In Today</option>
                                    <option value="13">Checked Out Today</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Package</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <input type="text" id="package">
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Zone</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <select id="zone" asp-items="ViewBag.cboZone">
                                </select>
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Room No</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <input type="text" id="roomNo">
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6">
                            <label>Room Type</label>
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <select id="roomType" asp-items="ViewBag.cboRoomType">
                                </select>
                            </div>
                        </div>
                        <div class="form-group-new-reservation col-md-6 mt-1"  style="display:flex">
                            <div class="row" style="margin-left:1px;margin-right:2px">
                                <input type="checkbox" id="reservationOnline" name="reservationOnline" value="1">
                            </div>
                            <label>Rsv Online</label>
                        </div>
                        <div class="form-group-new-reservation col-md-6 mt-1" style="display:flex">
                            <div  style="margin-left:1px;margin-right:2px">
                                <input type="checkbox" id="roomShare" name="roomShare" value="IncludeRS" checked>
                            </div>
                            <label >Room Sharer</label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="mui-card mt-2">
                <div class="header">
                    <i class="fa-solid fa-sliders" style="background-color:#2b6cb0;color:white;padding:4px"></i>
                    <h3 id="content-title">
                        Functions & Options
                    </h3>
                    <i class="fa-solid fa-caret-down" id="caretDownFunctionAndOption" onclick="clickCaretDownFunctionAndOption();" title="Click to show funtions and options"></i>
                    <i class="fa-solid fa-caret-up" id="caretUpFunctionAndOption" onclick="clickCaretUpFunctionAndOption();" title="Click to hide funtions and options"></i>
                </div>
                <div class="toolbar-menu mt-2 row text-start" id="functionAndOption" >
@*                     <div class="dropdown relative col-md-4 mb-1" style="padding:0">
                        <a href="#" class="menu-toggle font-semibold">CO</a>
                        <div class="submenu absolute z-10 mt-2">
                            <a href="#" onclick="openModalCheckOutAll(1);" id="assignRoom">C/O All</a>
                            <a href="#" onclick="openModalCheckOutAll(2);" id="unAssignRoom">C/O Zero</a>
                            <a href="#" onclick="openModalCheckOut();" id="unAssignRoom">C/O</a>
                        </div>
                    </div> *@
@*                     <div class="dropdown relative col-md-4 mb-1" style="padding:0">
                        <a href="#" class="menu-toggle font-semibold">Rm.Assg</a>
                        <div class="submenu absolute z-10 mt-2">
                            <a href="#" onclick="openRoomAssignment();" id="assignRoom">Assignment</a>
                            <a href="#" onclick="openConfirmRoomUnAssign();" id="unAssignRoom">UnAssign</a>
                        </div>
                    </div> *@
                    <a href="#" class="font-semibold col-md-4 mb-1  text-start" onclick="openModalCheckOutAll(1);" id="assignRoom">C/O All</a>
                    <a href="#" class="font-semibold col-md-4 mb-1  text-start" onclick="openModalCheckOutAll(2);" id="unAssignRoom">C/O Zero</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openModalCheckOut();" id="unAssignRoom">C/O</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openRoomAssignment();" id="assignRoom">Assignment</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openConfirmRoomUnAssign();" id="unAssignRoom">UnAssign</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start">Advance</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start">Clear</a>
                    <a href="#" onclick="editBooking();" class="font-semibold col-md-4 mb-1 text-start">Edit</a>
                    <a href="#" onclick="openModalCancel()" class="font-semibold col-md-4 mb-1 text-start">Cancel</a>
                    <a href="#" onclick="openConfirmReinstate();" class="font-semibold col-md-4 mb-1 text-start">Reinstate</a>
                    <a href="#" onclick="checkIn();" class="font-semibold col-md-4 mb-1 text-start">Check In</a>
                    <a href="#" onclick="openModalViewProfile();" class="font-semibold col-md-4 mb-1 text-start">Profile</a>
                    <a href="#" id="groupAdmin" class="font-semibold col-md-4 mb-1 text-start" onclick="redirectGroupAdmin();">Grp Admin</a>
                    <a href="#" onclick="openModalSplit();" class="font-semibold col-md-4 mb-1 text-start">Split</a>
                    <a href="#" onclick="openModalAccompanying();" class="font-semibold col-md-4 mb-1 text-start">Accompany</a>
                    <a href="#" onclick="openModalAddOn();" class="font-semibold col-md-4 mb-1 text-start">Add On</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openModalAlerts()">Alerts</a>
                    <a href="#" onclick="openModalBilling();" class="font-semibold col-md-4 mb-1 text-start">Billing</a>
                    <a onclick="openModalInvoicing();" class="font-semibold col-md-4 mb-1 text-start">Invoicing</a>
                    <a href="#" class="font-semibold col-md-4 mb-1 text-start" onclick="openModalChanges();">Changes</a>
                    <a href="#" onclick="openModalShare();" class="font-semibold col-md-4 mb-1 text-start">Share</a>
                    <a href="#" onclick="openModalDeposit();" class="font-semibold col-md-4 mb-1 text-start">Dep/DXL</a>
                    <a href="#" onclick="openModalFixedCharges();" class="font-semibold col-md-4 mb-1 text-start">FixedCharges</a>
                    <a href="#" onclick="openConfirm();" class="font-semibold col-md-4 mb-1 text-start">Delete</a>
                    <a href="#" onclick="openModalMessage();" class="font-semibold col-md-4 mb-1 text-start">Message</a>
                    <a href="#" onclick="openModalRegistrationCard();" class="font-semibold col-md-4 mb-1 text-start">Regis.Card</a>
                    <a href="#" onclick="openRoomMove();" class="font-semibold col-md-4 mb-1 text-start">Room Move</a>
                    <a href="#" onclick="openModalRouting();" class="font-semibold col-md-4 mb-1 text-start">Routing</a>
                    <a href="#" onclick="openModalWaitList();" class="font-semibold col-md-4 mb-1 text-start">WaitList</a>
                    <a href="#" onclick="openModalTraces();" class="font-semibold col-md-4 mb-1 text-start">Traces</a>
                    <a href="#" onclick="exportExcel();" class="font-semibold col-md-4 mb-1 text-start">Export Excel</a>
                    <a href="#" onclick="LoadConfirmationLetter();" class="font-semibold col-md-4 mb-1 text-start">Confirmation Letter</a>
                    <a href="#" onclick="openVisibleColumns();" class="font-semibold col-md-4 mb-1 text-start">Columns</a>


                </div>
            </div>
        </div>
        <!-- Nội dung bên phải -->
        <div class="col-md-9" id="rightContent">
            <div class="content-right">
                <div class="mui-card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="header" style="border:none">
                                <h3 id="content-title">
                                    <i class="fa-solid fa-bars" id="toggleLeftMenu" onclick="toggleLeftMenu();" title="Toggle left menu"></i>
                                    Booking Data
                                </h3>
                            </div>

                            <div class="toolbar-menu max-w-7xl row" id="functionAndOptionTable" style="display:none;column-gap:4px">
                                <a href="#" class="font-semibold col-md-2 mb-2" style="background-color:#0055b8;color:white" onclick="openModalBilling();">Billing</a>
                                <a href="#" class="font-semibold col-md-2 mb-2" style="background-color:#0055b8;color:white" onclick="openModalDeposit();">Packages</a>
                                <a href="#" class="font-semibold col-md-2 mb-2" style="background-color:#0055b8;color:white" onclick="openModalDeposit();">Dep/DXL</a>
                                <a href="#" class="font-semibold col-md-2 mb-2" style="background-color:#0055b8;color:white" onclick="editBooking();">Edit</a>
                                <a href="#" id="groupAdmin" class="font-semibold col-md-2 mb-2" onclick="redirectGroupAdmin();" style="background-color:#0055b8;color:white">Gr.Admin</a>
                                <a href="#" class="font-semibold col-md-2 mb-2" onclick="openRoomAssignment();" id="assignRoom" style="background-color:#0055b8;color:white">Assign</a>
                                <a href="#" onclick="openModalSplit();" class="font-semibold col-md-2 mb-2" style="background-color:#0055b8;color:white">Split</a>
                                <a href="#" onclick="checkIn();" class="font-semibold col-md-2 mb-2" style="background-color:#0055b8;color:white">Check In</a>
                                <a href="#" class="font-semibold col-md-2 mb-2" onclick="openModalCheckOut();" id="unAssignRoom" style="background-color:#0055b8;color:white">C/O</a>


                            </div>
                        </div>
                        <div class="col-md-4" id="cmt_wrapper">
                        </div>
                    </div>

                    <div id="loadingSpinnerForm" style="display: none; text-align: center; padding: 20px;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <!-- DevExtreme DataGrid -->
                    <div id="gridContainer" class="gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="columnOffcanvas" aria-labelledby="columnOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="columnOffcanvasLabel">Select column to add into grid</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="background-color:#f5f5f5;margin:0 5px">
        <div class="d-flex justify-content-end mb-2">
            <button type="button" class="submit-button-clear-reservation" id="addSelectedColumns">Add</button>
            <button type="button" class="submit-button-new-reservation" id="clearSelectedColumns">Clear</button>
        </div>
        <div id="columnList" class="row">
            <!-- Các cột sẽ được tạo động -->
        </div>
    </div>
</div>
<!-- Modal cancel-->
<div class="modal fade modal" id="modalCancel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cancel</h5>
                <button type="button" class="btn-close" onclick="closeModalCancel()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="mui-button mui-button-search" onclick="CancelReservation();"><i class="fa-solid fa-magnifying-glass"></i> OK</button>
                    <button class="mui-button mui-button-clear"><i class="fa-solid fa-file"></i>Close</button>
                </div>
                <div class="row mt-2">
                    <label class="col-md-2">Reason</label>
                    <select id="reasonCancel" class="col-md-10" asp-items="ViewBag.cboReason"></select>
                </div>
                <div class="mt-2">
                    <textarea class="form-control" id="descriptionCancel" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9999; pointer-events: auto;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 24px;">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span>Processing</span>
    </div>
</div>
@await Html.PartialAsync("Options/Deposit")
@await Html.PartialAsync("Options/RoomMove")
@await Html.PartialAsync("Options/Message")
@await Html.PartialAsync("Options/Accompanying")
@await Html.PartialAsync("Options/FixedCharges")
@await Html.PartialAsync("Options/RegistrationCard")
@await Html.PartialAsync("Options/CheckIn")
@await Html.PartialAsync("Options/Billing")
@await Html.PartialAsync("Options/Invoicing")
@await Html.PartialAsync("Options/AddOn")
@await Html.PartialAsync("Options/Routing")
@await Html.PartialAsync("Options/Cancel")
@await Html.PartialAsync("Options/Delete")
@await Html.PartialAsync("Options/Share")
@await Html.PartialAsync("Options/Reinstate")
@await Html.PartialAsync("Options/Split")
@await Html.PartialAsync("Options/RoomAssignment")
@await Html.PartialAsync("Options/ViewProfile")
@await Html.PartialAsync("Options/WaitList")
@await Html.PartialAsync("Options/CheckOutAll")
@await Html.PartialAsync("Options/CheckOutZero")
@await Html.PartialAsync("Options/CheckOut")
@await Html.PartialAsync("Options/Alerts")
@await Html.PartialAsync("Options/Traces")
@await Html.PartialAsync("Options/Changes")
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>

<script>
    function toggleLeftMenu() {
        const leftMenu = $('#leftMenu');
        const rightContent = $('#rightContent');
        const toggleIcon = $('#toggleLeftMenu');
        if (leftMenu.is(':visible')) {
            leftMenu.hide();
            rightContent.removeClass('col-md-9 col-md-8').addClass('col-md-12');
            toggleIcon.removeClass('fa-bars').addClass('fa-arrow-left');
            toggleIcon.attr('title', 'Show left menu');
        } else {
            leftMenu.show();
            rightContent.removeClass('col-md-12 col-md-8').addClass('col-md-9');
            toggleIcon.removeClass('fa-arrow-left').addClass('fa-bars');
            toggleIcon.attr('title', 'Hide left menu');
        }
    }
    function setupDefaultCaret() {
        $('#caretDownFunctionAndOption').hide();
        $('#caretDownFilter').hide();
    }
    function clickCaretDownFunctionAndOption() {
        $('#caretUpFunctionAndOption').show();
        $('#caretDownFunctionAndOption').hide();
        $('#functionAndOption').show();
    }
    function clickCaretUpFunctionAndOption() {
        $('#caretUpFunctionAndOption').hide();
        $('#caretDownFunctionAndOption').show();
        $('#functionAndOption').hide();
    }
    function clickCaretDownFilter() {
        $('#caretUpFilter').show();
        $('#caretDownFilter').hide();
        $('#filter').show();
    }
    function clickCaretUpFilter() {
        $('#caretUpFilter').hide();
        $('#caretDownFilter').show();
        $('#filter').hide();
    }
    function openVisibleColumns() {
        // Call updateColumnList from within initializeDataGridSearch when grid is initialized
        const offcanvasElement = document.getElementById('columnOffcanvas');
        const offcanvas = new bootstrap.Offcanvas(offcanvasElement);
        offcanvas.show();
    }
    $(document).ready(async function () {
        setupDefaultCaret();
        searchReservation();
        await setTomSelect();
        $('#listFunction').hide();
        $('#searchType, #name, #firstName, #resvHolder, #confirmationNo, #crsNo, #roomNo, #roomType, #package, #zone, #arrivalForm, #departureForm, #roomShare, #owner').on('keypress', function (e) {
            if (e.which === 13) {
                e.preventDefault();
                searchReservation();
            }
        });
    });
    function getBusinessDate() {
        return $.ajax({
            url: '/Reservation/GetBusinessDate',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                const businessDate = new Date(result);
                const formattedBusinessDate = result.split('T')[0];
                $('#dateTraces').val(formattedBusinessDate);
                $('#fromDateAddNewTrace').val(formattedBusinessDate);
                $('#toDateAddNewTrace').val(formattedBusinessDate);
                // Chỉ set giá trị nếu các trường ngày trống
                if (!$('#arrivalForm').val()) {
                    $('#arrivalForm').val(formattedBusinessDate);
                    $('#expDatePaymentBilling').val(formattedBusinessDate);
                    $('#transDatePaymentBilling').val(formattedBusinessDate);
                    $('#fromDateSelectOption').val(formattedBusinessDate);
                    $('#toDateSelectOption').val(formattedBusinessDate);
                }
                if (!$('#departureForm').val()) {
                    const departureDate = new Date(businessDate);
                    departureDate.setDate(businessDate.getDate() + 7);
                    const formattedDepartureDate = departureDate.toISOString().split('T')[0];
                    $('#departureForm').val(formattedDepartureDate);
                }
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }

    function searchReservation() {
        $('#cmt_wrapper').hide();
        $("#loadingSpinnerForm").show();

        const checkboxValue = $('#roomShare').is(':checked') ? $('#roomShare').val() : '';

        // Kiểm tra xem các trường ngày có giá trị hợp lệ hay không
        const arrivalDate = $('#arrivalForm').val();
        const departureDate = $('#departureForm').val();
        const isValidDate = (dateStr) => {
            return dateStr && !isNaN(Date.parse(dateStr));
        };

        // Nếu cả hai trường ngày đều có giá trị hợp lệ, không gọi getBusinessDate
        if (isValidDate(arrivalDate) && isValidDate(departureDate)) {
            $.ajax({
                url: '/Reservation/SearchReservation2',
                type: 'get',
                dataType: 'json',
                data: {
                    searchType: $('#searchType').val(),
                    name: $('#name').val(),
                    firstName: $('#firstName').val(),
                    reservationHolder: $('#resvHolder').val(),
                    confirmationNo: $('#confirmationNo').val(),
                    crsNo: $('#crsNo').val(),
                    roomNo: $('#roomNo').val(),
                    roomType: $('#roomType').find('option:selected').text(),
                    package: $('#package').val(),
                    zone: $('#zone').find('option:selected').text(),
                    arrivalFrom: arrivalDate,
                    chooseFromDate:$('#chooseFromDate').is(':checked') ? 1 : 0,
                    chooseToDate:$('#chooseToDate').is(':checked') ? 1 : 0,
                    arrivalTo: departureDate,
                    roomSharer: checkboxValue,
                    owner: $('#owner').val()
                },
                crossDomain: false,
                headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                success: function (result) {
                    listData = result;
                    initializeDataGridSearch(result);
                },
                error: function (xhr, statusText, err) {
                    if (xhr.status == 401) {
                        sessionTimeout();
                    }
                },
                complete: function () {
                    $("#loadingSpinnerForm").hide();
                }
            });
        } else {
            // Gọi getBusinessDate nếu ngày không hợp lệ hoặc trống
            getBusinessDate().then(function () {
                $.ajax({
                    url: '/Reservation/SearchReservation2',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        searchType: $('#searchType').val(),
                        name: $('#name').val(),
                        firstName: $('#firstName').val(),
                        reservationHolder: $('#resvHolder').val(),
                        confirmationNo: $('#confirmationNo').val(),
                        crsNo: $('#crsNo').val(),
                        roomNo: $('#roomNo').val(),
                        roomType: $('#roomType').find('option:selected').text(),
                        package: $('#package').val(),
                        zone: $('#zone').find('option:selected').text(),
                        arrivalFrom: $('#arrivalForm').val(),
                        chooseFromDate:$('#chooseFromDate').is(':checked') ? 1 : 0,
                        chooseToDate:$('#chooseToDate').is(':checked') ? 1 : 0,
                        arrivalTo: $('#departureForm').val(),
                        roomSharer: checkboxValue,
                        owner: $('#owner').val()
                    },
                    crossDomain: false,
                    headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                    success: function (result) {
                        listData = result;
                        initializeDataGridSearch(result);
                    },
                    error: function (xhr, statusText, err) {
                        if (xhr.status == 401) {
                            sessionTimeout();
                        }
                    },
                    complete: function () {
                        $("#loadingSpinnerForm").hide();
                    }
                });
            }).catch(function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
                $("#loadingSpinnerForm").hide();
            });
        }
    }
    
    var idReservation = 0;
    var status = '';
    var roomStatus = '';
    var roomNo = '';
    var roomID = 0;
    var arivalDate = '';
    var departureDate = '';
    var confirmationNo = '';
    var night = 0;
    var rateAmount = 0;
    var lastname = '';
    var listData = [];
    var roomType = '';
    var listReservationByConfirmationNo = [];
    var profileID = 0;
    var folioNoID = 0;
    var reservationStatus = 0;
    function initializeDataGridSearch(data) {
        const columns = [
            { dataField: 'ID', caption: 'ID', visible: false },
            { dataField: 'ConfirmationNo', caption: 'Confirmation No', visible: true },
            { dataField: 'CRSNo', caption: 'CRS No', visible: true },
            { dataField: 'MG', caption: 'MG', visible: true },
            { dataField: 'Nationality', caption: 'Nationality', visible: true },
            { dataField: 'GuestName', caption: 'Guest Name', visible: true },
            { dataField: 'RoomNo', caption: 'Room No', visible: true, alignment: 'right' },
            { dataField: 'RoomStatus', caption: 'Rm Status', visible: true },
            { dataField: 'RoomType', caption: 'Room Type', visible: true },
            { dataField: 'Arrival', caption: 'Arrival', visible: true
                ,customizeText: function(cellInfo) {
                // Assuming cellInfo.value is a string like "16/10/2024 00:00:00"
                return cellInfo.value.split(" ")[0]; // Returns only "16/10/2024"
                }
            },
            { dataField: 'ETA', caption: 'ETA', visible: true },
            { dataField: 'NoOfNight', caption: 'No of Nights', visible: true, alignment: 'right' },
            { dataField: 'Departure', caption: 'Departure', visible: true 
                ,customizeText: function(cellInfo) {
                // Assuming cellInfo.value is a string like "16/10/2024 00:00:00"
                return cellInfo.value.split(" ")[0]; // Returns only "16/10/2024"
                }
            },
            { dataField: 'ETD', caption: 'ETD', visible: true },
            { dataField: 'Adults', caption: 'Adults', visible: true, alignment: 'right' },
            { dataField: 'Child', caption: 'Child', visible: true, alignment: 'right' },
            { dataField: 'Child1', caption: 'Child 1', visible: true, alignment: 'right' },
            { dataField: 'Child2', caption: 'Child 2', visible: true, alignment: 'right' },
            { dataField: 'Status', caption: 'Status', visible: true },
            { dataField: 'Packages', caption: 'Packages', visible: true },
            { dataField: 'PriceNet', caption: 'Price Net', visible: true, alignment: 'right', format: {
                type: 'fixedPoint',
                precision: 0,
                thousandsSeparator: ','
            } },
            { dataField: 'ReservationHolder', caption: 'Reservation Holder', visible: true },
            { dataField: 'BalanceVND', caption: 'Balance (VND)', visible: false },
            { dataField: 'ARNo', caption: 'AR No', visible: false },
            { dataField: 'AllotmentCode', caption: 'Allotment Code', visible: false },
            { dataField: 'BalanceUSD', caption: 'Balance (USD)', visible: false },
            { dataField: 'BookerName', caption: 'Booker Name', visible: false },
            { dataField: 'CI', caption: 'Check-in Time', visible: false },
            { dataField: 'CO', caption: 'Check-out Time', visible: false },
            { dataField: 'Color', caption: 'Color', visible: false },
            { dataField: 'Comment', caption: 'Comment', visible: false },
            { dataField: 'CommentGroup', caption: 'Comment Group', visible: false },
            { dataField: 'Contact', caption: 'Contact', visible: false },
            { dataField: 'CreateBy', caption: 'Created By', visible: false },
            { dataField: 'CreateDate', caption: 'Create Date', visible: false },
            { dataField: 'Currency', caption: 'Currency', visible: false },
            { dataField: 'DepositPayment', caption: 'Deposit Payment', visible: false },
            { dataField: 'DepositRequest', caption: 'Deposit Request', visible: false },
            { dataField: 'DiscountAmount', caption: 'Discount Amount', visible: false },
            { dataField: 'DiscountRate', caption: 'Discount Rate', visible: false },
            { dataField: 'DropOffDescription', caption: 'Drop-off Description', visible: false },
            { dataField: 'DropOffReqdID', caption: 'Drop-off Request ID', visible: false },
            { dataField: 'DropOffTransportNo', caption: 'Drop-off Transport No', visible: false },
            { dataField: 'DropOffTransportType', caption: 'Drop-off Transport Type', visible: false },
            { dataField: 'FixedCharge', caption: 'Fixed Charge', visible: false },
            { dataField: 'GroupCode', caption: 'Group Code', visible: false },
            { dataField: 'MainGuest', caption: 'Main Guest', visible: false },
            { dataField: 'MarketCode', caption: 'Market Code', visible: false },
            { dataField: 'MemberNo', caption: 'Member No', visible: false },
            { dataField: 'MemberType', caption: 'Member Type', visible: false },
            { dataField: 'NoOfRoom', caption: 'No of Rooms', visible: false },
            { dataField: 'OriginCode', caption: 'Origin Code', visible: false },
            { dataField: 'PM', caption: 'PM', visible: false },
            { dataField: 'PersonInChargeID', caption: 'Person In Charge ID', visible: false },
            { dataField: 'PickupDescription', caption: 'Pickup Description', visible: false },
            { dataField: 'PickupReqdID', caption: 'Pickup Request ID', visible: false },
            { dataField: 'PickupTransportNo', caption: 'Pickup Transport No', visible: false },
            { dataField: 'PickupTransportType', caption: 'Pickup Transport Type', visible: false },
            { dataField: 'Price', caption: 'Price', visible: false },
            { dataField: 'PrintRate', caption: 'Print Rate', visible: false },
            { dataField: 'ProfileCode', caption: 'Profile Code', visible: false },
            { dataField: 'ProfileComment', caption: 'Profile Comment', visible: false },
            { dataField: 'ProfileGroupID', caption: 'Profile Group ID', visible: false },
            { dataField: 'ProfileIndividualID', caption: 'Profile Individual ID', visible: false },
            { dataField: 'RateCode', caption: 'Rate Code', visible: false },
            { dataField: 'ReservationStatus', caption: 'Reservation Status', visible: false },
            { dataField: 'ReservationTypeCode', caption: 'Reservation Type Code', visible: false },
            { dataField: 'RoomID', caption: 'Room ID', visible: false },
            { dataField: 'ShareRoom', caption: 'Share Room', visible: false },
            { dataField: 'SourceCode', caption: 'Source Code', visible: false },
            { dataField: 'SpecialUpdateBy', caption: 'Special Update By', visible: false },
            { dataField: 'SpecialUpdateDate', caption: 'Special Update Date', visible: false },
            { dataField: 'Specials', caption: 'Specials', visible: false },
            { dataField: 'Title', caption: 'Title', visible: false },
            { dataField: 'UpdateBy', caption: 'Updated By', visible: false },
            { dataField: 'UpdateDate', caption: 'Update Date', visible: false },
            { dataField: 'VIP', caption: 'VIP', visible: false },
            { dataField: 'VoucherNo', caption: 'Voucher No', visible: false }
        ];
        function updateColumnList() {
            const columnList = $('#columnList');
            columnList.empty();
            columns.forEach(column => {
                const isChecked = column.visible ? 'checked' : '';
                const blockHtml = `
                    <div class="column-block d-flex align-items-center mb-1" style="margin-right: 10px;padding: 6px 12px;background: #ffffff;color: #1f2937;font-weight:500">
                        <input type="checkbox" class="column-checkbox" data-column="${column.dataField}" style="margin-right: 5px;" ${isChecked}>
                        <span>${column.caption}</span>
                    </div>`;
                columnList.append(blockHtml);
            });
        }
        const grid = $("#gridContainer").dxDataGrid({
            dataSource: data,
            allowColumnResizing: true,
            columnAutoWidth: true,
            paging: {
                enabled: true,
                pageSize: 24
            },
            pager: {
                visible: true,
                allowedPageSizes: [24, 30, 35],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            scrolling: {
                mode: 'standard',
                showScrollbar: 'always',
                useNative: false
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            columns: columns,
            onRowDblClick: function(e) {
                editBooking();
            },
            onRowClick: function(e) {
                $('#functionAndOptionTable').show();
                $('#listFunction').show();
                idReservation = e.data.ID;
                $('#moreInfo').empty();
                let html = ``;
                if (e.data.ProfileComment) {
                    html += `<span style="margin:0;padding:0">-${e.data.ProfileComment}</span>`;
                }
                if (e.data.CommentGroup) {
                    html += `<span style="margin:0;padding:0">-${e.data.CommentGroup}</span>`;
                }
                if (e.data.DepositRequest) {
                    html += `<span style="margin:0;padding:0">-${e.data.DepositRequest}</span>`;
                }
                if (e.data.FixedCharge) {
                    html += `<span style="margin:0;padding:0">-${e.data.FixedCharge}</span>`;
                }
                if (e.data.ItemInventory) {
                    html += `<span style="margin:0;padding:0">-${e.data.ItemInventory}</span>`;
                }
                if (e.data.Specials) {
                    html += `<span style="margin:0;padding:0">-${e.data.Specials}</span>`;
                }
                reservationStatus = e.data.ReservationStatus;
                getFolioNo();
                listReservationByConfirmationNo = listData.filter(item => item.ConfirmationNo === e.data.ConfirmationNo);
                rateAmount = e.data.PriceNet;
                night = e.data.NoOfNight;
                roomID = e.data.RoomID;
                status = e.data.Status;
                roomStatus = e.data.RoomStatus;
                roomType = e.data.RoomType;
                roomNo = e.data.RoomNo;
                arivalDate = e.data.Arrival;
                departureDate = e.data.Departure;
                confirmationNo = e.data.ConfirmationNo;
                lastname = e.data.GuestName;
                profileID = e.data.ProfileIndividualID;
                $('#rsvStatusBilling').text(e.data.Status);
                $('#conNoBilling').text(e.data.ConfirmationNo);
                $('#groupBillingg').text('');
                $('#companyBilling').text('');
                $('#arivalBilling').text(e.data.Arrival.split(' ')[0]);
                $('#departureBilling').text(e.data.Departure.split(' ')[0]);
                $('#balanceBilling').text(formatNumberBilling(e.data.BalanceVND.split('.')[0]));
                $('#totalBilling').text(formatNumberBilling(e.data.BalanceVND.split('.')[0]));
                if (e.data.NoOfRoom != '1') {
                    ['assignRoom', 'unAssignRoom'].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'none';
                            el.style.color = 'gray';
                            el.style.cursor = 'not-allowed';
                        }
                    });
                } else {
                    ['assignRoom', 'unAssignRoom'].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'auto';
                            el.style.color = '';
                            el.style.cursor = 'pointer';
                        }
                    });
                }
                if (e.data.roomID == 0) {
                    ['unAssignRoom'].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'none';
                            el.style.color = 'gray';
                            el.style.cursor = 'not-allowed';
                        }
                    });
                } else {
                    ['unAssignRoom'].forEach(id => {
                        const el = document.getElementById(id);
                        if (el) {
                            el.style.pointerEvents = 'auto';
                            el.style.color = '';
                            el.style.cursor = 'pointer';
                        }
                    });
                }
                $('#moreInfo').append(html);
                $('#cmt_wrapper').empty();

                $('#cmt_wrapper').append(`<span><b>Comment:</b> <i>${e.data.Comment}</i></span>`);

                $('#cmt_wrapper').show();

            }
        }).dxDataGrid('instance');
        // Update column list when opening offcanvas
        updateColumnList();
        // Handle "Add" button in offcanvas
        $('#addSelectedColumns').on('click', function() {
            $('.column-checkbox').each(function() {
                const columnName = $(this).attr('data-column');
                const isChecked = $(this).is(':checked');
                grid.columnOption(columnName, 'visible', isChecked);
                columns.find(col => col.dataField === columnName).visible = isChecked;
            });
            const offcanvasElement = document.getElementById('columnOffcanvas');
            const offcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
            offcanvas.hide();
        });
        // Handle "Clear" button in offcanvas
        $('#clearSelectedColumns').on('click', function() {
            $('.column-checkbox').prop('checked', false);
        });
    }
    function formatNumberBilling(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }
    function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }
          
      
    function exportExcel() {
        const grid = $("#gridContainer").dxDataGrid("instance"); 


          const workbook = new ExcelJS.Workbook();
          const companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
          const worksheet = workbook.addWorksheet("Sheet 1");

          // === Tạo header công ty (dòng 1) ===
          worksheet.addRow([companyName]);
          worksheet.mergeCells('A1:E1');
          worksheet.getRow(1).font = { bold: true };
          worksheet.getRow(1).alignment = { vertical: 'middle', horizontal: 'left' };

          // === Dòng 2: Thời gian xuất (phải) ===
          const now = new Date();
          const exportDate = now.toLocaleString("vi-VN");
          worksheet.addRow(['', '', '', '', ' ' + exportDate]);
          worksheet.mergeCells('E2:H2');
          worksheet.getRow(2).alignment = { vertical: 'middle', horizontal: 'right' };

          // === Dòng 3–4: Trống
          worksheet.addRow([]);
          worksheet.addRow([]);

          // === Dòng 5: Tên báo cáo ở giữa ===
          const reportRow = worksheet.addRow(['', '', 'Booking List']);
          worksheet.mergeCells('C5:F5');
          reportRow.font = { bold: true, size: 14 };
          reportRow.alignment = { vertical: 'middle', horizontal: 'center' };

          // === Dòng 6: Trống trước khi xuất dữ liệu
          worksheet.addRow([]);

          // === Export dữ liệu từ DevExtreme (bắt đầu từ dòng 7)
          DevExpress.excelExporter.exportDataGrid({
              component: grid,
              worksheet: worksheet,
              autoFilterEnabled: true,
              topLeftCell: { row: 7, column: 1 } // dữ liệu bắt đầu từ dòng 7
          }).then(function () {
              // Footer
              const lastRow = worksheet.lastRow.number + 2;
              worksheet.mergeCells(`A${lastRow}:F${lastRow}`);
              worksheet.getCell(`A${lastRow}`).alignment = { horizontal: 'center' };
              worksheet.getCell(`A${lastRow}`).font = { italic: true };

              // Ghi file
              let fileName = "ReservationData" + ".xlsx";
              workbook.xlsx.writeBuffer().then(function (buffer) {
                  saveAs(new Blob([buffer], { type: "application/octet-stream" }), fileName);
              });
          });
    }
    function redirectGroupAdmin() {
        $.ajax({
            url: '/Reservation/EncryptId',
            type: 'POST',
            data: { id: confirmationNo },
            success: function(response) {
                if (response.success) {
                    window.location.href = '/Reservation/GroupAdmin?key=' + encodeURIComponent(response.encryptedId);
                } else {
                    alert('Lỗi khi mã hóa ID');
                }
            },
            error: function() {
                alert('Lỗi khi gọi API mã hóa');
            }
        });
    }
    async function setTomSelect() {
        const ids = [
            "#txtName", "#txtItemInventory", "#transactionRouting", "#userSelectOption"
        ];
        for (const id of ids) {
            if ($(id).length) {
                new TomSelect(id, {
                    allowEmptyOption: true,
                    create: true
                });
            }
        }
    }
    
    function editBooking() {
        // Hiển thị lớp phủ để vô hiệu hóa tương tác
        $('#overlay').show();

        // Vô hiệu hóa tất cả các phần tử tương tác trên trang
        $('body').css('pointer-events', 'none');

        $.ajax({
            url: '/Reservation/EncryptId',
            type: 'POST',
            data: { id: idReservation },
            success: function(response) {
                if (response.success) {
                    // Chuyển hướng đến trang chỉnh sửa
                    window.location.href = '/Reservation/NewReservation?key=' + encodeURIComponent(response.encryptedId);
                } else {
                    // Nếu mã hóa thất bại, hiển thị thông báo và xóa lớp phủ
                    alert('Lỗi khi mã hóa ID');
                    $('#overlay').hide();
                    $('body').css('pointer-events', 'auto');
                }
            },
            error: function() {
                // Nếu API thất bại, hiển thị thông báo và xóa lớp phủ
                alert('Lỗi khi gọi API mã hóa');
                $('#overlay').hide();
                $('body').css('pointer-events', 'auto');
            }
        });
    }
    function getSelectedCheckboxes(name) {
        const checkboxes = document.querySelectorAll(`input[type="checkbox"][name="${name}"]:checked`);
        const values = Array.from(checkboxes).map(checkbox => checkbox.value);
        return values.join(","); // Trả về chuỗi dạng 'a,c,v,c'
    }



    function getSelectedRadio(name) {
        const radio = document.querySelector(`input[type="radio"][name="${name}"]:checked`);
        return radio ? radio.value : null;
    }

    function LoadConfirmationLetter() {
        if (!idReservation || idReservation <= 0) {
            console.error('ID không hợp lệ.');
            return;
        }

        return $.ajax({
            url: '/Reservation/ReadDoc?id=' + idReservation,
            type: 'GET',
            xhrFields: {
                responseType: 'blob' // Nhận phản hồi dưới dạng blob để tải tệp
            },
            headers: { "X-CSRF-TOKEN-HEADERNAME": $("input[name='__RequestVerificationToken']").val() },
            success: function (data, status, xhr) {
                // Lấy tên tệp từ header Content-Disposition hoặc sử dụng tên mặc định
                var filename = xhr.getResponseHeader('Content-Disposition')?.match(/filename="(.+)"/)?.[1] || 'confirmation_letter.docx';

                // Tạo URL tạm thời cho blob
                var blob = new Blob([data]);
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = filename;

                // Kích hoạt tải xuống
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                // Giải phóng URL
                window.URL.revokeObjectURL(link.href);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                    console.error('Lỗi khi tải tài liệu:', err);
                    alert('Không thể tải tài liệu. Vui lòng thử lại sau.');
                }
            }
        });
    }
</script>