<!-- Modal search market-->
<div class="modal fade modal-xl" id="modalMarket" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Search Market</h5>
                <button type="button" class="btn-close" onclick="closeModalSearchMarket()"></button>
            </div>
            <div class="modal-body">
                <div id="treeListMarket" class="mt-2 gridContainer"></div>
            </div>

        </div>
    </div>
</div>
<script>
    function openModalSearchMarket(){
        getDataMarket();
        $('#modalMarket').modal('show');

    }
    function closeModalSearchMarket(){
        $('#modalMarket').modal('hide');
    }
    function getDataMarket(){
        $.ajax({
            url: '/Reservation/GetAllMarket',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                treeListMarket(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                    informBox(TOAST_STATUS.DANGER, "Lỗi tải chi tiết danh sách danh mục dịch vụ hoặc bạn không có quyền tải");
                }
            }
            // ,
            // complete: function () {
            //     $("#loadingSpinnerRoom").hide();
            // }
        });
    }
    function treeListMarket(data) {
        $("#treeListMarket").dxTreeList({
            dataSource: data,
            keyExpr: "id", // Khóa duy nhất cho mỗi node
            parentIdExpr: "parentId", // Trường xác định quan hệ cha-con
            columns: [
                {
                    dataField: "code",
                    caption: "Mã"
                },
                {
                    dataField: "name",
                    caption: "Tên"
                }
                // Thêm các cột khác nếu cần
            ],
            expandedRowKeys: [], // Mở rộng tất cả node theo mặc định
            showRowLines: true,
            showBorders: true,
            columnAutoWidth: true,
            onRowDblClick: function(e) {
                // Kiểm tra nếu node là node con (có parentId)
                    if (e.data.parentId !== null && e.data.parentId !== undefined && e.data.parentId!= 0) {
                    // // Xử lý sự kiện double-click cho node con
                    // console.log("Đã nhấp đúp vào node con:", e.data);
                    // // Thêm logic của bạn tại đây, ví dụ: hiển thị thông tin node, mở form, v.v.
                    // alert("Node con được nhấp đúp: " + e.data.name);
                    $('#txtMarket').val(e.data.name);
                    $('#txtMarketID').val(e.data.id);

                    $('#modalMarket').modal('hide');
                }
            }
        });
    }
</script>