<!-- Modal search preference-->
<div class="modal fade modal-xl" id="modalPreference" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Search Preference</h5>
                <button type="button" class="btn-close" onclick="closeModalSearchPreference()"></button>
            </div>
            <div class="modal-body">
                <div class="row mui-card mb-2">
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <label for="input1" class="form-label">Code</label>
                            <input type="text" class="form-control" id="codePreferenceSearch" oninput="getDataPreference();" />
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="input2" class="form-label">Group Preference</label>
                            <select type="text" class="form-control" id="groupPreferenceSearch" asp-items="ViewBag.cboGroupPreferenceProvider" onchange="getDataPreference();">
                            </select>
                        </div>

                    </div>

                </div>
                <div class="mui-card">
                    <div id="gridContainerSearchPreference" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getDataPreference(){
        $.ajax({
            url: '/Reservation/GetAllPreference',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data:{
                code : $('#codePreferenceSearch').val(),
                preferenceGroup: $('#groupPreferenceSearch').val(),
            },
            success: function (result) {
                initializeDataGridSearchPreference(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                    informBox(TOAST_STATUS.DANGER, "Lỗi tải chi tiết danh sách danh mục dịch vụ hoặc bạn không có quyền tải");
                }
            }

        });
    }
    function initializeDataGridSearchPreference(data) {
        $("#gridContainerSearchPreference").dxDataGrid({

            dataSource: data,   allowColumnResizing: true,
                    columns: [
                        { dataField: "ID", caption: "ID",  visible: false},
                        { dataField: "code", caption: "Code", },
                        { dataField: "description", caption: "Description",  },
                    ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single" // Allows only one row to be selected at a time
            },
            onRowDblClick: function(e) {
                $('#modalPreference').modal('hide');
                $('#codePreferenceSearch').val(e.data.code);
                $('#txtPreference').val(e.data.code);
                $('#clearSpecial').show();

            }
        });
    }
    function clearSpecial(){
        $('#codePreferenceSearch').val('');
        $('#txtPreference').val('');
        $('#clearSpecial').hide();
    }
    function openModalSearchPreference(){
        getDataPreference();
        $('#modalPreference').modal('show');

    }
    function closeModalSearchPreference(){
        $('#modalPreference').modal('hide');
    }
</script>