<!-- Modal more fields-->
<div class="modal fade modal-xl" id="modalMoreFields" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">More Fields</h5>
                <button type="button" class="btn-close" onclick="closeModalMoreFields()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button class="submit-button-clear-reservation" onclick="closeModalMoreFields();"> OK</button>
                    <button class="submit-button-clear-reservation" onclick="clearModalMoreFields();"> Clear</button>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- Guest Information -->
                        <div class="section-new-reservation">
                            <h3>Pick up</h3>
                            <div class="form-grid-new-reservation row">
                                <div class="form-group-new-reservation col-md-6">
                                    <label>Picked Reqd</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <select id="pickedID">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group-new-reservation col-md-6" >
                                    <label>Transport Type </label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <select asp-items="ViewBag.cboTransportType" id="pickUpTransportType">
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group-new-reservation  col-md-6">
                                    <label>Station Code</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input type="text" id="pickUpStationCode" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6" >
                                    <label>Carrier Code</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="pickUpCarrierCode" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6">
                                    <label>Transport No.</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="pickUpTransportNo" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6" >
                                    <label>Arrival Date</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input type="date" id="pickUpDate" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6">
                                    <label>Pickup Time</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="pickUpTime" value="@ViewBag.configETA" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6">
                                    <label>Description</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="pickUpDescription" />
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <!-- Membership Information -->
                        <div class="section-new-reservation">
                            <h3>Drop off</h3>
                            <div class="form-grid-new-reservation row">
                                <div class="form-group-new-reservation col-md-6" >
                                    <label>Dropoff Reqd</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <select id="dropOffId">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
  
                                </div>
                                <div class="form-group-new-reservation col-md-6" >
                                    <label>Transport Type</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <select asp-items="ViewBag.cboTransportType" id="dropOffTransportType">
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6">
                                    <label>Station Code</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="dropOffStationCode" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6">
                                    <label>Carrier Code</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="dropOffCarrierCode" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6">
                                    <label>Transport No.</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="dropOffTransportNo" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6">
                                    <label>Departure Date</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input type="date" id="dropOffDate" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6" >
                                    <label for="txtCardNo">DropOff Time</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="dropOffTime" value="@ViewBag.configETD" />
                                    </div>
                                    
                                </div>
                                <div class="form-group-new-reservation col-md-6">
                                    <label for="txtCardNo">Description</label>
                                    <div class="row" style="margin-left:1px;margin-right:2px">
                                        <input id="dropOffDescription" />
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
<script>
    function openModalMoreFields(){
        $('#modalMoreFields').modal('show');

    }
    function closeModalMoreFields(){
        $('#modalMoreFields').modal('hide');
    }
    function clearModalMoreFields(){
        $('#pickedID').val(0);
        $('#pickUpTransportType').val(0);
        $('#pickUpStationCode').val('');
        $('#pickUpCarrierCode').val('');
        $('#pickUpTransportNo').val('');
        $('#pickUpDescription').val('');

        $('#dropOffId').val(0);
        $('#dropOffTransportType').val(0);

        $('#dropOffStationCode').val('');
        $('#dropOffCarrierCode').val('');
        $('#dropOffTransportNo').val('');
        $('#dropOffDescription').val('');
    }
</script>