<!-- Modal search profile-->
<div class="modal fade modal-xl" id="modalProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Search Profile</h5>
                <button type="button" class="btn-close" onclick="closeModalSearchProfle()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2" style="margin-top:0px">
                    <button class="submit-button-clear-reservation" onclick="getAllProfiles(3);"><i class="fas fa-search"></i> Search</button>
                </div>
                <div class="row mui-card mb-2 mx-1" >
                    <div class="col-md-2 mb-2">
                        <label for="input1" >Full Name</label>
                        <input type="text"  id="nameProfileSearch" placeholder="Enter name">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="input2" >First Name</label>
                        <input type="text"  id="firstNameProfileSearch" placeholder="Enter first name">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="input3" >View By</label>
                        <select type="text"  id="viewByProfileSearch" disabled style="line-height:1.28">
                            <option selected value="3">Individual</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="input4" >City</label>
                        <select type="text"  id="cityProfileSearch" placeholder="Enter value" asp-items="ViewBag.cboCity" style="line-height:1.28"></select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="input5" >Key word</label>
                        <input type="text"  id="keywordProfileSearch" placeholder="Enter value">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="input6" >Code</label>
                        <input type="text"  id="codeProfileSearch" placeholder="Enter value">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="input4" >Property</label>
                        <select type="text"  id="propertyProfileSearch" disabled style="line-height:1.28">
                            <option selected>PMSh TheArena</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label>Sale in charge</label>
                        <div>
                            <input type="checkbox" id="sale" name="myCheckbox">
                        </div>
                    </div>
                </div>

                <div class="mui-card">
                    <div id="gridContainerSearchProfile" class="mt-2 gridContainer"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    function openModalSearchProfile(){
        getAllProfiles(3);
        $('#modalProfile').modal('show');
    }
    function closeModalSearchProfle(){
        $('#nameProfileSearch').val('');
        $('#firstNameProfileSearch').val('');
        $('#cityProfileSearch').val(0);

        $('#modalProfile').modal('hide');

    }
    function getAllProfiles(type) {
        $('#viewByProfileSearch').val(type || 3); // Đặt giá trị mặc định nếu không có type
        initializeDataGridSearchProfile();
    }

    function initializeDataGridSearchProfile() {
        $("#gridContainerSearchProfile").dxDataGrid({
            dataSource: {
                load: function (loadOptions) {
                    var d = $.Deferred();
                    var params = {
                        code: $('#codeProfileSearch').val(),
                        account: $('#nameProfileSearch').val(),
                        firstName: $('#firstNameProfileSearch').val(),
                        keyWord: $('#keywordProfileSearch').val(),
                        city: $('#cityProfileSearch').val(),
                        type: $('#viewByProfileSearch').val(),
                        showSaleInCharge: $("#sale").is(":checked"),
                        page: loadOptions.skip / loadOptions.take + 1, // Tính số trang
                        pageSize: loadOptions.take // Kích thước trang
                    };

                    $.ajax({
                        url: '/Profile/GetAllProfiles2',
                        type: 'GET',
                        dataType: 'json',
                        data: params,
                        headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
                        success: function (result) {
                            d.resolve(result.data, {
                                totalCount: result.totalCount // Tổng số bản ghi
                            });
                        },
                        error: function (xhr, statusText, err) {
                            if (xhr.status == 401) {
                                sessionTimeout();
                            } else {
                                informBox(TOAST_STATUS.DANGER, "Lỗi tải chi tiết danh sách danh mục dịch vụ hoặc bạn không có quyền tải");
                                d.reject();
                            }
                        },
                        complete: function () {
                        }
                    });
                    return d.promise();
                }
            },
            remoteOperations: {
                paging: true,
                filtering: true
            },
            columns: [
                { dataField: "id", caption: "ID", width: 70, visible: false },
                { dataField: "code", caption: "Code", width: 70 },
                { dataField: "account", caption: "Account", width: 300 },
                { dataField: "taxCode", caption: "Tax Code", width: 150 },
                { dataField: "city", caption: "City", width: 150 },
                { dataField: "nationality", caption: "Nat", width: 150 },
                { dataField: "address", caption: "Address", width: 150 },
                { dataField: "homeAddress", caption: "Business Address", width: 150 },
                { dataField: "company", caption: "Company", width: 150 },
                { dataField: "handPhone", caption: "HandPhone", width: 150 },
                { dataField: "telephone", caption: "Telephone", width: 150 },
                { dataField: "email", caption: "Email", width: 150 },
                { dataField: "website", caption: "Website", width: 150 },
                { dataField: "aRNo", caption: "ARNo", width: 150 },
                { dataField: "postalCode", caption: "Postal Code", width: 150 },
                { dataField: "keyword", caption: "Keyword", width: 150 },
                { dataField: "description", caption: "Description", width: 150 },
                { dataField: "personInChargeID", caption: "Sale In Charge", width: 150 },
            ],
            paging: { pageSize: 15 },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowDblClick: function (e) {
                getInfoByProfileID(e.data.id);
                $('#modalProfile').modal('hide');
            }
        });
    }
    function getInfoByProfileID(id){
        $.ajax({
            url: '/Reservation/GetInfoProfile',
            type: 'get',
            dataType: 'json',
            data:{
                profileID: id
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#txtID').val(result.id);
                $('#nameProfileSearch').val(result.account);
                $('#firstNameProfileSearch').val(result.firstname);
                $('#cityProfileSearch').val(result.city);
                $('#txtName').val(result.account);
                $('#txtItemInventory').prop('disabled', false); // Enable the select element
                $('#txtFirstName').val(result.firstname);
                $('#txtTitle').val(result.titleID);
                $('#txtPhone').val(result.handPhone);
                $('#txtEmail').val(result.email);
                $('#txtIdentityCard').val(result.identityCard);
                $('#txtPassport').val(result.passPort);
                $('#txtAddress').val(result.address);
                const formattedDate = result.dateOfBirth.split("T")[0];
                $('#txtDob').val(formattedDate);
                $('#txtNationality').val(result.nationalityID);
                $('#txtCity').val(result.city);
                $('#txtVIP').val(result.vipID);
                $('#txtCardNo').val(result.memberNo);
                $('#txtMemberType').val(result.memberType);
                $('#txtPrefRoom').val(result.prefRoom);


          },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            }
        });
    }
</script>