<link href="~/css/pages/setup-email.css" rel="stylesheet" asp-append-version="true" />
<div>
    <div class="header mt-2" style="border-bottom:none;justify-content:center">
        <h3 id="content-title">
            Email Sending History
        </h3>
    </div>
    <div class="mb-2">
        <button class="mui-button mui-button-search" onclick="searchEmailSendingHistory();"> Search</button>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>From Date</label>
            <input type="date" id="fromDate">
        </div>
        <div class="col-md-2">
            <label>To Date</label>
            <input type="date" id="toDate">
        </div>

    </div>
    <div class="mui-card mt-2">
        <div id="gridContainer" class="gridContainer mt-2"></div>
    </div>
</div>

<div class="modal fade" id="modalTemplateEmail" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border: 1px solid #bcbcbc">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionModalLabel">Choose Template</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="button-group">
                <button type="button" class="mui-button mui-button-search" onclick="SendEmailGuest();">Post</button>
                <button type="button" class="mui-button mui-button-clear" data-bs-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <div id="gridContainer" class="gridContainer mt-2"></div>

            </div>
        </div>
    </div>
</div>
<script>

    function searchEmailSendingHistory() {

        $.ajax({
            url: '/Email/GetHistorySendEmail',
            type: 'get',
            dataType: 'json',
            data: {
                fromDate: $('#fromDate').val(),
                toDate: $('#toDate').val()
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridSearch(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            },

        });

    }
    function initializeDataGridSearch(data) {
        // Kiểm tra dữ liệu đầu vào

        // Nếu cần giới hạn tổng số bản ghi, ví dụ 100 bản ghi
        const limitedData = data.slice(0, 100);

        $("#gridContainer").dxDataGrid({
            dataSource: limitedData, // Sử dụng dữ liệu đã giới hạn
            allowColumnResizing: true,
            columnMinWidth: 90,
            columns: [

                { dataField: "id", caption: "ID", visible: false },
                { dataField: "subject", caption: "Subject" },
                { dataField: "content", caption: "Content" },
                { dataField: "sendTo", caption: "Send To" },
                { dataField: "sendDate", caption: "Send Date" },
            ],
            paging: {
                enabled: true, // Bật phân trang
                pageSize: 15 // Mỗi trang 15 bản ghi       
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 30], // Chỉ các kích thước trang cố định
                showPageSizeSelector: true,
                showInfo: true, // Hiển thị thông tin phân trang
                showNavigationButtons: true
            },
            scrolling: {
                mode: 'standard', // Thay 'virtual' bằng 'standard' để kiểm tra
                showScrollbar: 'always',
                useNative: false
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },


        });
    }
    $(document).ready(function() {
        let today = new Date().toISOString().split('T')[0];

        // Set default value for both date inputs
        $('#fromDate').val(today);
        $('#toDate').val(today);
        searchEmailSendingHistory();
    });
 
</script>