<!-- Modal cancel-->
<div class="modal fade modal" id="modalAddOn" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" >Add On</h5>
                <button type="button" class="btn-close" onclick="closeModalAddOn()"></button>
            </div>
            <div class="modal-body" style="padding-top:0">
                <div class="mb-2" style="padding-top:0;margin-top:0">
                    <button class="submit-button-clear-reservation" onclick="openModalAddOnSave()">New</button>
                    <button class="submit-button-new-reservation" onclick="closeModalAddOn()">Close</button>
                </div>
                <div class="bg-light border rounded  row" style="margin:4px">
                    <p class="mt-2">Which of these reservation attributes do you want to coppy?</p>

                    <label class="checkbox-label">
                        <input type="checkbox" name="col1[]"> Payment Method
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" name="col1[]"> Specials
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" name="col1[]"> Windown/Room Routing Instructions
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" name="col2[]"> Comment
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" name="col2[]"> Packages
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" name="col2[]"> Item Inventory
                    </label>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal  modal-xl" id="modalAddOnSave" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add On</h5>
                <button type="button" class="btn-close" onclick="closeModalAddOn()"></button>
            </div>
            <div class="modal-body" style="padding-top:0">
                <div class="container-new-reservation body">
                    <!-- Guest Information -->
                    <div class="section-new-reservation">
                        <h3>Guest Information</h3>
                        <div class="form-grid-new-reservation">
                            <div class="form-group-new-reservation">
                                <label for="txtNameAddOn">Name</label>
                                <select id="txtNameAddOn"></select>
                            </div>
                            <div class="form-group-new-reservation" style="margin-right: 20px;">
                                <label for="txtFirstNameAddOn">First Name</label>
                                <input type="text" id="txtFirstNameAddOn" readonly>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtTitleAddOn">Title</label>
                                <select id="txtTitleAddOn" asp-items="ViewBag.cboTitle"></select>
                            </div>
                            <div class="form-group-new-reservation" style="margin-right: 20px;">
                                <label for="txtPhoneAddOn">Phone</label>
                                <input type="text" id="txtPhoneAddOn">
                            </div>
                            <div class="form-group-new-reservation" style="margin-right:20px;">
                                <label for="txtPassportAddOn">Passport</label>
                                <input type="text" id="txtPassportAddOn">
                            </div>
                            <div class="form-group-new-reservation" style="margin-right: 20px;">
                                <label for="txtIdentityCardAddOn">Identity Card</label>
                                <input type="text" id="txtIdentityCardAddOn">
                            </div>
                            <div class="form-group-new-reservation full-width-new-reservation" style="margin-right: 20px;">
                                <label for="txtEmailAddOn">Email</label>
                                <input type="email" id="txtEmailAddOn">
                            </div>
                            <input type="hidden" id="txtIDAddOn" />
                        </div>
                    </div>

                    <!-- Membership Information -->
                    <div class="section-new-reservation">
                        <h3>Membership Information</h3>
                        <div class="form-grid-new-reservation">
                            <div class="form-group-new-reservation full-width-new-reservation">
                                <label for="txtAddressAddOn">Address</label>
                                <input type="text" id="txtAddressAddOn">
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtDobAddOn">Date of Birth</label>
                                <input type="date" id="txtDobAddOn">
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtNationalityAddOn">Nationality</label>
                                <select id="txtNationalityAddOn" asp-items="ViewBag.cboNationality"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtCityAddOn">City</label>
                                <select id="txtCityAddOn" asp-items="ViewBag.cboCity"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtVIPAddOn">VIP</label>
                                <select id="txtVIPAddOn" asp-items=" ViewBag.cboVIP "></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtMemberTypeAddOn">Member Type</label>
                                <select id="txtMemberTypeAddOn" asp-items="ViewBag.cboMemberType"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtCardNoAddOn">Card No.</label>
                                <input type="text" id="txtCardNoAddOn">
                            </div>
                        </div>
                    </div>

                    <!-- Agent Information -->
                    <div class="section-new-reservation">
                        <h3>Agent Information</h3>
                        <div class="form-grid-new-reservation">
                            <div class="form-group-new-reservation">
                                <label for="txtAgentAddOn">Agent</label>
                                <select id="txtAgentAddOn" asp-items="ViewBag.cboProfileAgent"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtCompanyAddOn">Company</label>
                                <select id="txtCompanyAddOn" asp-items=" ViewBag.cboProfileCompany"></select>
                            </div>
                            <div class="form-group-new-reservation" style="margin-right: 20px;">
                                <label for="txtGroupCodeAddOn">Group Code</label>
                                <input type="text" id="txtGroupCodeAddOn">
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtContactAddOn">Contact</label>
                                <select id="txtContactAddOn" asp-items="ViewBag.cboProfileContact"></select>
                            </div>
                            <div class="form-group-new-reservation" style="margin-right: 20px;">
                                <label for="txtContactPhoneAddOn">Contact Phone</label>
                                <input type="text" id="txtContactPhoneAddOn">
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtPrefRoomAddOn">Preferred Room</label>
                                <input type="text" id="txtPrefRoomAddOn">
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtLastStayAddOn">Last Stay</label>
                                <input type="text" id="txtLastStayAddOn" value="1">
                            </div>
                            <div class="form-group-new-reservation">
                                <button onclick="openModalMoreFields()">More Fields</button>
                            </div>
                        </div>
                    </div>

                    <!-- Stay Details -->
                    <div class="section-new-reservation">
                        <h3>Stay Details</h3>
                        <div class="stay-details-grid-new-reservation">
                            <div class="form-group-new-reservation">
                                <label for="arrivalAddOn">Arrival</label>
                                <div class="action-button-new-reservation">
                                    <input type="date" id="arrivalAddOn">
                                    <button onclick="changeDate('arrivalAddOn', -1)">-</button>
                                    <button onclick="changeDate('arrivalAddOn', 1)">+</button>
                                    <span style="font-size:12px;color:#c53030;display:none" id="arrival-dayAddOn"></span>
                                </div>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="departureAddOn">Departure</label>
                                <div class="action-button-new-reservation">
                                    <input type="date" id="departureAddOn">
                                    <button onclick="changeDate('departureAddOn', -1)">-</button>
                                    <button onclick="changeDate('departureAddOn', 1)">+</button>
                                    <span style="font-size:12px;color:#c53030;display:none" id="departure-dayAddOn"></span>
                                </div>
                            </div>
                            <div class="form-group-new-reservation" style="width: 100px;">
                                <label for="nightsAddOn">Nights</label>
                                <input type="text" id="nightsAddOn" readonly style="text-align:right">
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="numRoomsAddOn">No. of Rooms</label>
                                <div class="action-button-new-reservation">
                                    <input type="number" id="numRoomsAddOn" value="1" min="1" style="text-align:right">
                                    <button onclick="decreaseRooms()">-</button>
                                    <button onclick="increaseRooms()">+</button>
                                </div>
                            </div>
                            <div class="guest-count-row-new-reservation">
                                <div class="form-group-new-reservation">
                                    <label for="adultsAddOn">Adults</label>
                                    <input type="number" value="2" id="adultsAddOn" style="text-align:right">
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="cAddOn">Child (C)</label>
                                    <input type="number" value="0" id="cAddOn" style="text-align:right">
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="c1AddOn">Child (C1)</label>
                                    <input type="number" value="0" id="c1AddOn" style="text-align:right">
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="c2AddOn">Child (C2)</label>
                                    <input type="number" value="0" id="c2AddOn" style="text-align:right">
                                </div>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtRoomTypeAddOn">Room Type</label>
                                <select id="txtRoomTypeAddOn" asp-items="ViewBag.cboRoomType"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtRTCAddOn">RTC</label>
                                <select id="txtRTCAddOn" asp-items="ViewBag.cboRoomType"></select>
                            </div>
                            <div class="form-group-new-reservation" style="margin-right:20px;">
                                <label for="roomSelectAddOn">Room</label>
                                <div class="action-button-new-reservation">
                                    <input id="roomSelectAddOn" readonly />
                                    <input id="roomIDAddOn" style="display:none" />
                                    <button id="btnRoomAddOn" onclick="openModalSearchRoom()"><i class="fa-solid fa-ellipsis"></i></button>
                                </div>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtRNAddOn">RN</label>
                                <input id="txtRNAddOn" />
                            </div>
                            <div class="rate-row-new-reservation">
                                <div class="form-group-new-reservation">
                                    <label for="txtRateCodeAddOn">Rate Code</label>
                                    <div class="action-button-new-reservation">
                                        <input id="txtRateCodeAddOn" style="text-align:right" readonly />
                                        <input id="txtRateCodeIDAddOn" style="display:none" readonly />
                                        <button onclick="openModalRateCode()"><i class="fa-solid fa-ellipsis"></i></button>
                                    </div>
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="txtRateAmountAddOn">Rate</label>
                                    <input value="0" id="txtRateAmountAddOn" style="text-align:right">
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="txtNetAmountAddOn">Net</label>
                                    <input value="0" id="txtNetAmountAddOn" style="text-align:right">
                                </div>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtPackageAddOn">Packages</label>
                                <select id="txtPackageAddOn" asp-items="ViewBag.cboPackage"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtAllotmentAddOn">Allotment</label>
                                <div class="action-button-new-reservation">
                                    <input id="txtAllotmentAddOn" readonly />
                                    <input id="txtAllotmentIDAddOn" readonly style="display:none" />
                                    <button onclick="openModalSearchAllotment()"><i class="fa-solid fa-ellipsis"></i></button>
                                </div>
                            </div>
                            <div class="form-group-new-reservation" style="margin-right:20px;">
                                <label for="txtDiscountAmountAddOn">Disc. Amt</label>
                                <input type="text" value="0" id="txtDiscountAmountAddOn" style="text-align:right">
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtDiscountPercentAddOn">Disc. %</label>
                                <input type="text" value="0" id="txtDiscountPercentAddOn" style="text-align:right">
                            </div>
                        </div>
                    </div>

                    <!-- Rate & Packages -->
                    <div class="section-new-reservation">
                        <h3>Rate Summary</h3>
                        <div class="form-grid-new-reservation">
                            <div class="form-group-new-reservation">
                                <label for="txtResTypeAddOn">Res. Type</label>
                                <select id="txtResTypeAddOn" asp-items="ViewBag.cboReservationType"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtMarketAddOn">Market</label>
                                <div class="action-button-new-reservation">
                                    <input id="txtMarketAddOn" />
                                    <input id="txtMarketIDAddOn" style="display:none" />
                                    <button onclick="openModalSearchMarket()"><i class="fa-solid fa-ellipsis"></i></button>
                                </div>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtSourceAddOn">Source</label>
                                <select id="txtSourceAddOn" asp-items="ViewBag.cboSource"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtPersonInChargeAddOn">Sale</label>
                                <select id="txtPersonInChargeAddOn" asp-items="ViewBag.cboPersonInCharge "></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtPaymentAddOn">Payment</label>
                                <select id="txtPaymentAddOn" asp-items="ViewBag.cboPaymentMethod"></select>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtCRSNoAddOn">CRS No</label>
                                <input type="text" id="txtCRSNoAddOn">
                            </div>
                            <div class="form-group-new-reservation full-width-new-reservation">
                                <label for="txtBookerAddOn">Booker</label>
                                <div class="action-button-new-reservation">
                                    <input id="txtBookerAddOn" />
                                    <input id="txtBookerIDAddOn" style="display:none" />
                                    <button onclick="openModalSearchBooker()"><i class="fa-solid fa-ellipsis"></i></button>
                                </div>
                            </div>
                            <div class="form-group-new-reservation" style="margin-right: 20px;">
                                <label for="txtETAAddOn">ETA</label>
                                <input type="time" value="06:00" id="txtETAAddOn" style="text-align:right">
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtETDAddOn">ETD</label>
                                <input type="time" value="12:00" id="txtETDAddOn" style="text-align:right">
                            </div>
                            <div class="form-group-new-reservation full-width-new-reservation">
                                <label for="txtRateAfterDiscountAddOn">Rate After Discount</label>
                                <div class="action-button-new-reservation">
                                    <input value="0" id="txtRateAfterDiscountAddOn" readonly style="text-align:right">
                                    <span style="font-size:12px">+ net</span>
                                    <input value="0" id="txtNetAfterDiscountAddOn" readonly style="text-align:right">
                                </div>
                                <span style="font-size:12px;color:#c53030">Rate amount after discount</span>
                            </div>
                            <div class="form-group-new-reservation full-width-new-reservation">
                                <label for="txtTotalAddOn">Total</label>
                                <div class="action-button-new-reservation">
                                    <input type="number" value="0" id="txtTotalAddOn" readonly style="text-align:right">
                                    <span style="font-size:12px">+ net</span>
                                    <input type="number" value="0" id="txtTotalNetAddOn" readonly style="text-align:right">
                                </div>
                            </div>
                            <div class="form-group-new-reservation full-width-new-reservation">
                                <label for="txtReasonAddOn">Reason</label>
                                <select id="txtReasonAddOn" asp-items=" ViewBag.cboReason"></select>
                            </div>
                        </div>
                    </div>

                    <!-- Booking & Special Requests -->
                    <div class="section-new-reservation">
                        <h3>Booking & Special Requests</h3>
                        <div class="form-grid-new-reservation">
                            <div class="form-group-new-reservation">
                                <label for="txtPreferenceAddOn">Specials</label>
                                <div class="action-button-new-reservation">
                                    <input id="txtPreferenceAddOn" />
                                    <button onclick="openModalSearchPreference()"><i class="fa-solid fa-ellipsis"></i></button>
                                </div>
                            </div>
                            <div class="form-group-new-reservation">
                                <label for="txtPromotionAddOn">Promotions</label>
                                <select id="txtPromotionAddOn" asp-items="ViewBag.cboPromotion"></select>
                            </div>
                            <div class="form-group-new-reservation full-width-new-reservation">
                                <label for="txtItemInventoryAddOn">Item Inventory</label>
                                <select id="txtItemInventoryAddOn" disabled multiple asp-items="ViewBag.cboItem"></select>
                            </div>
                            <div class="currency-row-new-reservation">
                                <div class="form-group-new-reservation">
                                    <label for="txtColorAddOn">Set Color</label>
                                    <input type="color" id="txtColorAddOn">
                                </div>
                                <div class="form-group-new-reservation" style="margin-right: 20px;">
                                    <label for="txtFolioBalAddOn">Folio Balance</label>
                                    <input type="number" value="0" id="txtFolioBalAddOn" style="text-align:right">
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="txtCurrencyAddOn">$</label>
                                    <input type="number" value="0" id="txtCurrencyAddOn">
                                    <span style="font-size:12px;color:#c53030">VND</span>
                                </div>
                            </div>
                            <div class="checkbox-row-new-reservation">
                                <div class="form-group-new-reservation">
                                    <label for="txtPrintRateAddOn">Print Rate</label>
                                    <input type="checkbox" id="txtPrintRateAddOn">
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="txtVideoCheckoutAddOn">Video CO</label>
                                    <input type="checkbox" id="txtVideoCheckoutAddOn">
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="txtNoPostAddOn">No Post</label>
                                    <input type="checkbox" id="txtNoPostAddOn">
                                </div>
                                <div class="form-group-new-reservation">
                                    <label for="txtConfirmationAddOn">Confirmation</label>
                                    <input type="checkbox" id="txtConfirmationAddOn">
                                </div>
                            </div>
                            <div class="form-group-new-reservation full-width-new-reservation">
                                <label for="txtCommentAddOn">Comments</label>
                                <textarea rows="3" class="specials-section-new-reservation" id="txtCommentAddOn"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     function openModalAddOn(){
         if (idReservation === 0) {
             showToast('Error', 'Please choose booking', false);
             return;
         }
          getInfoByProfileIDAccompanying(idReservation);
         $('#modalAddOn').modal('show');
     }
     function closeModalAddOn(){
         $('#modalAddOn').modal('hide');
     }
    function openModalAddOnSave(){
            // getProfileIndividualAddOn();
        $('#modalAddOnSave').modal('show');
    }
    function closeModalAddOnSave(){
        $('#modalAddOnSave').modal('hide');
    }
    function getProfileIndividualAddOn(){
    $.ajax({
            url: '/Reservation/GetProfileIndividual',
        type: 'get',
        dataType: 'json',
        crossDomain: false,
        headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
        success: function (result) {
            if (result.length > 0) {
                let select = $('#txtNameAddOn')[0].tomselect; // Lấy instance của TomSelect
                select.clear(); // Xóa giá trị hiện tại
                select.clearOptions(); // Xóa tất cả option cũ

                select.addOption({ value: '0', text: '' });
                result.forEach(item => {
                    select.addOption({ value: item.id, text: `${item.account}` });
                });

                select.setValue('0'); // Chọn giá trị mặc định


            }
            else{
                    let select = $('#txtNameAddOn')[0].tomselect; // Lấy instance của TomSelect
                select.clear(); // Xóa giá trị hiện tại
                select.clearOptions(); // Xóa tất cả option cũ
                select.addOption({ value: '0', text: '' });
                select.setValue('0');

            }
        },
        error: function (xhr, statusText, err) {
            if (xhr.status == 401) {
                sessionTimeout();
            } else {
            }
        }
    });
}
</script>