<div class="modal fade modal-xl" id="modalAlerts" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Alerts </h5>
                <button type="button" class="btn-close" onclick="closeModalAlerts()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="submit-button-clear-reservation" onclick="openModalNewAlert();">New</button>
                    <button class="submit-button-clear-reservation" onclick="openModalOption();" id="btnEditAlert">Edit</button>
                    <button class="submit-button-clear-reservation" onclick="openModalMoreFields();" id="btnDeleteAlert">Delete</button>
                    <button class="submit-button-clear-reservation" onclick="window.location.href='/Home/Index'">Close</button>
                </div>
                <div class="mui-divider"></div>
                <div class="mui-card mt-2">
                    <div id="gridContainerAlerts" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal" id="modalNewAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="border:1px solid #bcbcbc">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Alert</h5>
                <button type="button" class="btn-close" onclick="closeModalNewAlert()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="submit-button-clear-reservation" onclick="SaveAlert();"> OK</button>
                    <button class="submit-button-clear-reservation" onclick="closeModalNewAlert();">Close</button>
                </div>
                <div class="row mt-2">
                    <div class="form-group-new-reservation col-md-6">
                        <label>Code</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="codeAlertNew" class="col-md-10"/>
                            <button id="btnSearchAlert" onclick="openModalAlertSetUp()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>

                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-6">
                        <label>Area</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <select id="areaNewAlert">
                                <option value="Reservation">Reservation</option>
                                <option value="Check-In">Check-In</option>
                                <option value="Check-Out">Check-Out</option>
                                <option value="Billing">Billing</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-5 mt-1">
                        <label>
                            <input id="includeAlert" type="checkbox" />
                            Include Roomsharer
                        </label>

                    </div>

                    <div class="form-group-new-reservation col-md-3 mt-1">
                        <label>
                            <input id="activeAlert" type="checkbox" />
                            Is Active
                        </label>

                    </div>
                    <div class="form-group-new-reservation col-md-3">
                        <label>Warning Day</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="warningDayAlert" type="number" style="text-align:right"/>
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-12">
                        <label>Description</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="descriptionAlert" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal" id="modalAlertSetUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border:1px solid #bcbcbc">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Search Alert Setup</h5>
                <button type="button" class="btn-close" onclick="closeModalAlertSetUp();"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="submit-button-clear-reservation" onclick="SaveAlert();"> OK</button>
                    <button class="submit-button-clear-reservation" onclick="closeModalAlertSetUp();">Close</button>
                </div>
                <div class="mui-card mt-2">
                    <div id="gridContainerAlertsSetUp" class="mt-2 gridContainer"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    function openModalNewAlert(){
        clearAlert();
        $('#modalNewAlert').modal('show');
    }
    function closeModalNewAlert(){
        $('#modalNewAlert').modal('hide');
    }
    function openModalAlerts(){
        if(idReservation == 0){
            showToast("Error", "Please choose booking", false);
            return;
        }
        GetAlertSetUp();
        setHideButtonAlerts();
        GetAlertsByReservationID();
        $('#modalAlerts').modal('show');
    }
    function closeModalAlerts(){
        $('#modalAlerts').modal('hide');

    }
    function setHideButtonAlerts(){
        $('#btnEditAlert').hide();
        $('#btnDeleteAlert').hide();
    }
    function setShowButtonAlerts(){
        $('#btnEditAlert').show();
        $('#btnDeleteAlert').show();
    }

    function GetAlertsByReservationID() {
        
        $.ajax({
            url: '/Reservation/GetAlertsByReservationID',
            type: 'get',
            dataType: 'json',
            data: {
                reservationID: idReservation
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridAlerts(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridAlerts(data) {
        $("#gridContainerAlerts").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [
                { dataField: "ID", caption: "ID",  visible: false},
                { dataField: "Code", caption: "Code"},
                { dataField: "Area", caption: "Area"},
                { dataField: "Description", caption: "Description"},
                { dataField: "ReservationID", caption: "ReservationID", visible: false},
                { dataField: "OriginAlertID", caption: "OriginAlertID", visible: false},

            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowClick: function(e) {
                setShowButtonAlerts();
            }
        });
    }
    function SaveAlert() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('reservationID',idReservation);
        formData.append('code', $('#codeAlertNew').val());
        formData.append('area', $('#areaNewAlert').val());
        formData.append('description', $('#descriptionAlert').val());
        formData.append('warningDay', $('#warningDayAlert').val());
        formData.append('actice', $('#activeAlert').is(':checked') ? 1 : 0);
        formData.append('userName', userName);
        formData.append('userID',userID);
        $.ajax({
            url: '/Reservation/SaveAlert',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalNewAlert();
                    setHideButtonAlerts();
                    GetAlertsByReservationID();
                    clearAlert();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
    function clearAlert(){
         $('#codeAlertNew').val('');
         $('#areaNewAlert').val('Reservation');
         $('#descriptionAlert').val('');
         $('#warningDayAlert').val('0');
    }

    function openModalAlertSetUp(){
        GetAlertSetUp();
        $('#modalAlertSetUp').modal('show');
    }
    function closeModalAlertSetUp(){
        $('#modalAlertSetUp').modal('hide');
    }
    function GetAlertSetUp() {
        $.ajax({
            url: '/Reservation/GetSetUpAlert',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridAlertsSetUp(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridAlertsSetUp(data) {
        $("#gridContainerAlertsSetUp").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [
                { dataField: "id", caption: "ID",  visible: false},
                { dataField: "code", caption: "Code"},
                { dataField: "description", caption: "Description"},


            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowDblClick: function(e) {
                $('#codeAlertNew').val(e.data.code);
                closeModalAlertSetUp();
            }
        });
    }
</script>