<div class="modal fade modal-xl" id="modalChanges" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">User Activity Log Reservation </h5>
                <button type="button" class="btn-close" onclick="closeModalChanges()"></button>
            </div>
            <div class="modal-body">

                <div class="mui-card mt-2">
                    <div id="gridContainerChanges" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalChanges() {
        searchChanges();
        $('#modalChanges').modal('show');
    }
    function closeModalChanges(){
        $('#modalChanges').modal('hide');

    }
    function searchChanges() {
        $.ajax({
            url: '/Reservation/SearchChanges',
            type: 'get',
            dataType: 'json',
            data: {

                id: idReservation
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                console.log(result);
                initializeDataGridChanges(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridChanges(data) {
        $("#gridContainerChanges").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [
                { dataField: "UserName", caption: "UserName"},
                { dataField: "Time", caption: "Time"},
                { dataField: "Date", caption: "Date"},
                { dataField: "Change", caption: "Change"},
                { dataField: "OldValue", caption: "Old Value"},
                { dataField: "NewValue", caption: "New Value"},
                { dataField: "Description", caption: "Description"},

            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowClick: function(e) {
                setShowButtonAlerts();
            }
        });
    }
</script>