<div>

</div>
<script>
    function checkIn(){
        if(idReservation == 0){
            showToast('Error', 'Please choose booking', false);
            return;
        }
        checkInBooking(roomStatus,roomNo,status);
    }
    function checkInBooking(roomStatus, roomNo, status){
        if(roomNo == ''){
            showToast('ERROR', 'Booking has not room No', false);
            return;
        }
        if (status != 'RESVED' && status != 'DUE IN' ) {
            return;
        } 
        if(roomStatus != 'VC'){
            showToast('ERROR', 'Room Status not in VC status', false);
            return;
        }
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();

        formData.append('rsvID', idReservation);
        formData.append('status', status);
        formData.append('roomStatus', roomStatus);
        formData.append('roomNo', roomNo);
        formData.append('userName', userName);
        formData.append('userID', userID);
        $.ajax({
            url: '/Reservation/CheckInBooking',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    showToast('Success', data.msg, true);
                    searchReservation();
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
</script>