
<div class="modal fade modal-xl" id="modalFixedCharges" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Fixed charges information</h5>
                <button type="button" class="btn-close" onclick="closeModalFixedCbarges()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="mui-button mui-button-search" onclick="openNewFixedCharges();"><i class="fa-solid fa-plus"></i> New</button>
                    <button class="mui-button mui-button-edit"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                    <button class="mui-button mui-button-delete"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button class="mui-button mui-button-clear"><i class="fa-solid fa-arrows-rotate"></i> Refresh</button>
                    <button class="mui-button mui-button-export" onclick="AddReservationFixedChargeDefault('fc1');"><i class="fa-solid fa-file"></i> EB-TA</button>
                    <button class="mui-button mui-button-export" onclick="AddReservationFixedChargeDefault('fc2');"><i class="fa-solid fa-file"></i> EB-IND</button>
                    <button class="mui-button mui-button-export" onclick="AddReservationFixedChargeDefault('fc3');"><i class="fa-solid fa-file"></i> CS-TA</button>
                    <button class="mui-button mui-button-export" onclick="AddReservationFixedChargeDefault('fc4');"><i class="fa-solid fa-file"></i> CS-IND</button>
                    <button class="mui-button mui-button-close" onclick="closeModalFixedCbarges();"><i class="fas fa-times"></i> Close</button>
                </div>
                <div class="mui-divider"></div>
                <div class="bg-light border rounded" style="display:none;padding: 0 12px 12px 12px" id="filterFixedChargeWrapper">
                    <div class="row">
                        <div class="col-md-5 mb-2 row">
                            <label for="input1" class="form-label col-md-2" style="min-width:0;text-align:left">Name</label>
                            <input type="text" class="form-control col-md-10" id="nameProfileFixedcharge" disabled>
                        </div>
                        <div class="col-md-2 mb-2 row">

                            <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">Arrival</label>
                            <input type="text" class="form-control col-md-5" id="arrivalProfileFixedCharge" disabled>
                        </div>
                        <div class="col-md-2 mb-2 row">
                            <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">Departure</label>
                            <input type="text" class="form-control col-md-5" id="departureFixedCharge" disabled>
                        </div>
                        <div class="col-md-2 mb-2 row">
                            <label for="input1" class="form-label col-md-4" style="min-width:0;text-align:left">Nights</label>
                            <input type="text" class="form-control col-md-8" id="nightFixedCharge" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="radio-group col-md-2">
                            <input type="radio" id="everyday" name="optionFixedCharge" checked value="1">
                            <label for="everyday" style="text-align:left">Everyday</label>
                        </div>
                        <div class="radio-group col-md-2 row">
                            <input type="radio" id="date" name="optionFixedCharge" class="col-md-1" style="flex:0" value="2">
                            <label for="date" style="text-align:left;min-width:0px" class="col-md-3">Date</label>
                            <input type="date" id="dateInput"  class="col-md-7" disabled>
                        </div>
                        <div class="radio-group col-md-2 row">
                            <input type="radio" id="day" name="optionFixedCharge" class="col-md-1" style="flex:0" value="3">
                            <label for="day" style="text-align:left;min-width:0px" class="col-md-3">Day</label>
                            <input type="date" id="dayInput" class="col-md-7" disabled>
                        </div>
                        <div class="radio-group col-md-2">
                            <input type="radio" id="atCheckIn" name="optionFixedCharge" value="4">
                            <label for="atCheckIn" style="text-align:left">At Check In</label>
                        </div>
                        <div class="radio-group col-md-2">
                            <input type="radio" id="atCheckOut" name="optionFixedCharge" value="5">
                            <label for="atCheckOut" style="text-align:left">At Check Out</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 row">
                            <div class="col-md-12 mb-2 row">
                                <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">Begin Date</label>
                                <input type="date" class="form-control col-md-7" id="beginDateFixedCharge" alt="">
                            </div>
                            <div class="col-md-12 mb-2 row">
                                <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">Nights</label>
                                <input type="text" class="form-control col-md-7" id="nightFixedChargeAdd" disabled>
                            </div>
                            <div class="col-md-12 mb-2 row">
                                <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">End Date</label>
                                <input type="date" class="form-control col-md-7" id="endDateFixedCharge">
                            </div>
                        </div>
                        <div class="col-md-8 row">
                            <div class="col-md-6 mb-2 row">
                                <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">Trans. Code</label>
                                <select type="text" class="form-control col-md-7" id="transCodeFixedCharge" asp-items="ViewBag.cboTransaction"></select>

                            </div>
                            <div class="col-md-2 mb-2 row">
                                <label for="input1" class="form-label col-md-7" style="min-width:0;text-align:left">Quantity</label>
                                <input type="text" class="form-control col-md-5" id="quantityFixedCharge" value="1">
                            </div>
                            <div class="col-md-6 mb-2 row">
                                <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">Price</label>
                                <input type="text" class="form-control col-md-7" id="priceFixedCharge" value="0">
                            </div>
                            <div class="col-md-4 mb-2 row">
                                <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">++net</label>
                                <input type="text" class="form-control col-md-7" id="netFixedCharge" value="0">
                            </div>
                            <div class="col-md-3 mb-2 row">
                                <label for="input1" class="form-label col-md-5" style="min-width:0;text-align:left">Currency</label>
                                <input type="text" class="form-control col-md-7" id="currencyFixedChargeAdd" disabled value="VND">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="mui-button mui-button-new" onclick="SaveReservationFixedCharge();"><i class="fa-solid fa-plus"></i> Save</button>
                        <button class="mui-button mui-button-cancel" onclick="cancelFixedCharges();"><i class="fa-solid fa-pen-to-square"></i> Cancel</button>
                    </div>
                </div>
                <div class="mui-card mt-2">
                    <div id="gridContainerFixedCharge" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalFixedCharges(){
        if (idReservation === 0) {
            showToast('Error', 'Please choose booking', false);
            return;
        }

        GetFixedChargesByReservationID(idReservation);
        $('#modalFixedCharges').modal('show');
    }
    function closeModalFixedCbarges(){
        $('#modalFixedCharges').modal('hide');
    }

    function openNewFixedCharges(){
        $('#arrivalProfileFixedCharge').val(arivalDate.split(' ')[0]);
        $('#departureFixedCharge').val(departureDate.split(' ')[0]);
        $('#nameProfileFixedcharge').val(lastname);
        $('#nightFixedCharge').val(night);
        document.getElementById('filterFixedChargeWrapper').style.display = 'block';

    }
    function cancelFixedCharges(){
        document.getElementById('filterFixedChargeWrapper').style.display = 'none';
    }
    function GetFixedChargesByReservationID(id) {
        $.ajax({
            url: '/Reservation/GetFixedChargesByReservationID',
            type: 'get',
            dataType: 'json',
            data: {
                reservationID: id
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridFixedCharges(result.reservationFixedCharge);
                setInfoNewFixedCharges(result.reservation);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridFixedCharges(data) {
        var columnWidth = 150;
        $("#gridContainerFixedCharge").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [
                { dataField: "id", caption: "ID",  visible: false},
                { dataField: "transactionCode", caption: "Code",width:columnWidth-70},
                { dataField: "description", caption: "Description",width:columnWidth + 70  },
                { dataField: "quantity", caption: "Qty",width:columnWidth- 100},
                { dataField: "amount", caption: "Amount",width:columnWidth- 50},
                { dataField: "amountAfterTax", caption: "Amount Net",width:columnWidth- 50},
                { dataField: "currencyID", caption: "Currency",width:columnWidth- 50},
                { dataField: "beginDate", caption: "Begin Date",width:columnWidth- 20,},
                { dataField: "endDate", caption: "End Date",width:columnWidth- 20},
                { dataField: "postingDate", caption: "Posting Date",width:columnWidth- 20},
                { dataField: "postingDay", caption: "Posting Day",width:columnWidth- 20},
                { dataField: "articlesCode", caption: "Article Code",width:columnWidth- 50},
            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowClick: function(e) {
            }
        });
    }
    function setInfoNewFixedCharges(reservation){
        $('#nameProfileFixedcharge').val(reservation.lastName);
        var arrivalDate = reservation.arrivalDate.split('T')[0];
        $('#arrivalProfileFixedCharge').val(arrivalDate.split('-')[2] + '/' + arrivalDate.split('-')[1] + '/' + arrivalDate.split('-')[0]);
        var departureDate = reservation.departureDate.split('T')[0];
        $('#departureFixedCharge').val(departureDate.split('-')[2] + '/' + departureDate.split('-')[1] + '/' + departureDate.split('-')[0]);
        $('#nightFixedCharge').val(reservation.noOfNight);
        $('#beginDateFixedCharge').val(reservation.arrivalDate.slice(0, 10));
        $('#endDateFixedCharge').val(reservation.departureDate.slice(0, 10));
        $('#nightFixedChargeAdd').val(reservation.noOfNight);
        $('#nameProfileFixedcharge').val('');
        $('#arrivalProfileFixedCharge').val('');
        $('#departureFixedCharge').val('');
        $('#nightFixedCharge').val('');
        $('#priceFixedCharge').val('0');
        $('#netFixedCharge').val('0');
        $('#quantityFixedCharge').val('1');
    }
    $('#transCodeFixedCharge').on('change', function() {
        $('#priceFixedCharge').val('0');
        $('#netFixedCharge').val('0');
    });
    $('#priceFixedCharge').blur(function() {
        CaculateNetFixedCharge($('#transCodeFixedCharge').val(),$('#priceFixedCharge').val());
    });

    function CaculateNetFixedCharge(transactionCode, price) {
        $.ajax({
            url: '/Reservation/CaculateNetFixedCharge',
            type: 'get',
            dataType: 'json',
            data: {
                transactionCode: transactionCode,
                price: price
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#netFixedCharge').val(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    const $radioButtons = $('input[name="optionFixedCharge"]');
    const $dateInput = $('#dateInput');
    const $dayInput = $('#dayInput');
    const $beginDateFixedCharge = $('#beginDateFixedCharge');
    const $endDateFixedCharge = $('#endDateFixedCharge');

    function handleRadioChange() {
        const selectedValue = $('input[name="optionFixedCharge"]:checked').val();

        // Bật/tắt disabled dựa trên giá trị
        $dateInput.prop('disabled', selectedValue !== '2');
        $dayInput.prop('disabled', selectedValue !== '3');
        $beginDateFixedCharge.prop('disabled', selectedValue !== '1');
        $endDateFixedCharge.prop('disabled', selectedValue !== '1');
    }

    $radioButtons.on('change', handleRadioChange);

    handleRadioChange();

    function SaveReservationFixedCharge() {
        const userID = JSON.parse(localStorage.getItem("userID"));
        var postingRhythmlID = $('input[name="optionFixedCharge"]:checked').val();
        var beginDate = $('#beginDateFixedCharge').val();
        var endDate = $('#endDateFixedCharge').val();
        if(postingRhythmlID == '2'){
            beginDate = $('#dateInput').val();
            endDate = $('#dateInput').val();
        }
        if(postingRhythmlID == '3'){
            beginDate = $('#dayInput').val();
            endDate = $('#dayInput').val();
        }
        var formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('transCode', $('#transCodeFixedCharge').val());
        formData.append('quantity', $('#quantityFixedCharge').val());
        formData.append('currency', $('#currencyFixedChargeAdd').val());
        formData.append('amount', $('#priceFixedCharge').val());
        formData.append('net', $('#netFixedCharge').val());
        formData.append('postingRhythmlID',postingRhythmlID);
        formData.append('beignDate',beginDate);
        formData.append('endDate',endDate);

        formData.append('userID',userID);

        $.ajax({
            url: '/Reservation/SaveReservationFixedCharge',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    GetFixedChargesByReservationID(idReservation);
                    showToast('Success', data.msg, true);
                } else {
                        showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
    function AddReservationFixedChargeDefault(keyName){
        $.ajax({
            url: '/Reservation/SaveReservationFixedChargeDefault',
            type: 'POST',

            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: {
                keyName: keyName,
                reservationID : idReservation
            },
            success: function (data) {
                if (data.code == 0) {
                    GetFixedChargesByReservationID(idReservation);
                    showToast('Success', data.msg, true);
                } else {
                        showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });
    }
</script>