<!-- Modal message-->
<div class="modal fade modal-xl" id="modalMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Message Information</h5>
                <button type="button" class="btn-close" onclick="closeModalMessage()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button class="mui-button mui-button-search" onclick="searchMessage();">Search</button>
                </div>
                <div class="row" style="margin:0 10px;justify-content:space-between">
                    <div class="row col-md-6 row bg-light border rounded" >
                        <label style="text-align:left">Info</label>

                        <div class="col-md-6 row">
                            <div class="col-md-12 row">
                                <label class="form-label col-md-4" style="text-align:left">Conf.No</label>
                                <input id="confirmationNoMessage" class="col-md-8" style="width:100%">

                            </div>
                            <div class="col-md-12 row">
                                <label class="form-label col-md-4" style="text-align:left">CRS No</label>
                                <input id="crsNoMessage" class="col-md-8">
                            </div>
                            <div class="col-md-12 row">
                                <label class="form-label col-md-4" style="text-align:left">Room No</label>
                                <input id="roomNoMessage" class="col-md-8">
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="col-md-12 row">
                                <label class="form-label col-md-4" style="text-align:left">Zone</label>
                                <select id="zoneMessage" class="form-select col-md-8" asp-items="ViewBag.cboZone">

                                </select>
                            </div>
                            <div class="col-md-12 row">
                                <label class="form-label col-md-4" style="text-align:left">Name</label>
                                <input id="nameMessage" class="col-md-8">
                            </div>
                            <div class="col-md-12 row">
                                <label class="form-label col-md-4" style="text-align:left">R.Holder</label>
                                <input id="holderMessage" class="col-md-8">
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-2 row bg-light border rounded" >
                        <label style="text-align:left">Message Status</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="messageView" value="1">
                            <label class="form-check-label"style="text-align:left">Received</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="messageView" value="0" checked>
                            <label class="form-check-label"  style="text-align:left" >Not Received</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="printMessageView" value="1">
                            <label class="form-check-label"  style="text-align:left">Printed</label>
                        </div>
                    </div>
                    <div class="row col-md-3 row bg-light border rounded">
                        <label style="text-align:left">Status</label>
                        <div style="display:flex;justify-content:space-between">
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statusMessageView" value="0" checked>
                                    <label class="form-check-label"style="text-align:left">Reservation</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statusMessageView" value="5" checked>
                                    <label class="form-check-label" style="text-align:left">Due In</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statusMessageView" value="1" checked>
                                    <label class="form-check-label"  style="text-align:left">In House</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statusMessageView" value="6" checked>
                                    <label class="form-check-label"  style="text-align:left">Due Out</label>
                                </div>
                             </div>
                            <div >
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statusMessageView" value="2" checked>
                                    <label class="form-check-label"  style="text-align:left">Checked Out</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statusMessageView" value="4">
                                    <label class="form-check-label"  style="text-align:left">Waitlist</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statusMessageView" value="7">
                                    <label class="form-check-label"  style="text-align:left">No Show</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statusMessageView" value="3">
                                    <label class="form-check-label"  style="text-align:left">Cancellations</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rs-content-box row" style="gap:0">

                    <div id="gridContainerMessage" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalMessage(){
        searchMessage();
        $('#modalMessage').modal('show');
    }
    function closeModalMessage(){
        $('#modalMessage').modal('hide');
    }
    function getSelectedStatuses() {
        const checkboxes = document.querySelectorAll('input[name="statusMessageView"]:checked');
        const selectedStatuses = Array.from(checkboxes).map(cb => cb.value).join(',');
        return selectedStatuses;
    }
    function searchMessage() {
        // Lấy và xử lý giá trị trước khi gán vào data
        const name = $('#nameMessage').val() ?? '';
        const reservationHolder = $('#holderMessage').val() ?? '';
        const confirmationNo = $('#confirmationNoMessage').val() ?? '';
        const crsNo = $('#crsNoMessage').val() ?? '';
        const roomNo = $('#roomNoMessage').val() ?? '';
        const zone = $('#zoneMessage').val() ?? '';
        const checkboxValue = $('#printMessageView').is(':checked') ? '1' : '0';

        $.ajax({
            url: '/Reservation/SearchMessage',
            type: 'get',
            dataType: 'json',
            data: {
                Name: name,
                ReservationHolder: reservationHolder,
                ConfirmationNo: confirmationNo,
                CRSNo: crsNo,
                RoomNo: roomNo,
                Zone: zone,
                Status: getSelectedStatuses(),
                Receive: getSelectedCheckboxes('messageView'),
                Print: checkboxValue
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridSearchMessage(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                    console.error('Error:', err);
                }
            }
        });
    }
    function initializeDataGridSearchMessage(data) {
        $("#gridContainerMessage").dxDataGrid({
            dataSource: data,
            paging: { pageSize: 15 },
            columnMinWidth: 90,
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            scrolling: {
                mode: 'virtual',
                showScrollbar: 'always',
                useNative: false,
            },
            selection: {
                mode: "single"
            },
        });
    }
</script>