<div class="modal fade modal-xl" id="modalPackage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Package </h5>
                <button type="button" class="btn-close" onclick="closeModalPackage()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="submit-button-clear-reservation" onclick="openModalNewPackage();">New</button>
                    <button class="submit-button-clear-reservation" onclick="openModalOption();" id="btnEditPackage">Edit</button>
                    <button class="submit-button-clear-reservation" onclick="openModalMoreFields();" id="btnDeletePackage">Delete</button>
                    <button class="submit-button-clear-reservation" onclick="window.location.href='/Home/Index'">Close</button>
                </div>
                <div class="mui-divider"></div>
                <div class="mui-card mt-2">
                    <div id="gridContainerPackage" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal" id="modalNewPackage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border:1px solid #bcbcbc">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Package</h5>
                <button type="button" class="btn-close" onclick="closeModalNewPackage()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="submit-button-clear-reservation" onclick="SavePackage();"> OK</button>
                    <button class="submit-button-clear-reservation" onclick="closeModalNewPackage();">Close</button>
                </div>
                <div class="row mt-2">
                    <div class="form-group-new-reservation col-md-6">
                        <label>Code</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="codePackageNew" class="col-md-10" />
                            <button id="btnSearchPackage" onclick="openModalPackageetUp()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>

                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-6">
                        <label>Area</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <select id="areaNewPackage">
                                <option value="Reservation">Reservation</option>
                                <option value="Check-In">Check-In</option>
                                <option value="Check-Out">Check-Out</option>
                                <option value="Billing">Billing</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-5 mt-1">
                        <label>
                            <input id="includePackage" type="checkbox" />
                            Include Roomsharer
                        </label>

                    </div>

                    <div class="form-group-new-reservation col-md-3 mt-1">
                        <label>
                            <input id="activePackage" type="checkbox" />
                            Is Active
                        </label>

                    </div>
                    <div class="form-group-new-reservation col-md-3">
                        <label>Warning Day</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="warningDayPackage" type="number" style="text-align:right" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-12">
                        <label>Description</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="descriptionPackage" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal" id="modalPackageetUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border:1px solid #bcbcbc">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Search Package Setup</h5>
                <button type="button" class="btn-close" onclick="closeModalPackageetUp();"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="submit-button-clear-reservation" onclick="SavePackage();"> OK</button>
                    <button class="submit-button-clear-reservation" onclick="closeModalPackageetUp();">Close</button>
                </div>
                <div class="mui-card mt-2">
                    <div id="gridContainerPackageSetUp" class="mt-2 gridContainer"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function openModalNewPackage(){
        clearPackage();
        $('#modalNewPackage').modal('show');
    }
    function closeModalNewPackage(){
        $('#modalNewPackage').modal('hide');
    }
    function openModalPackage(){
        if(idReservation == 0){
            showToast("Error", "Please choose booking", false);
            return;
        }
        GetPackageetUp();
        setHideButtonPackage();
        GetPackageByReservationID();
        $('#modalPackage').modal('show');
    }
    function closeModalPackage(){
        $('#modalPackage').modal('hide');

    }
    function setHideButtonPackage(){
        $('#btnEditPackage').hide();
        $('#btnDeletePackage').hide();
    }
    function setShowButtonPackage(){
        $('#btnEditPackage').show();
        $('#btnDeletePackage').show();
    }

    function GetPackageByReservationID() {

        $.ajax({
            url: '/Reservation/GetPackageByReservationID',
            type: 'get',
            dataType: 'json',
            data: {
                reservationID: idReservation
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridPackage(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridPackage(data) {
        $("#gridContainerPackage").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [
                { dataField: "ID", caption: "ID",  visible: false},
                { dataField: "Code", caption: "Code"},
                { dataField: "Area", caption: "Area"},
                { dataField: "Description", caption: "Description"},
                { dataField: "ReservationID", caption: "ReservationID", visible: false},
                { dataField: "OriginPackageID", caption: "OriginPackageID", visible: false},

            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowClick: function(e) {
                setShowButtonPackage();
            }
        });
    }
    function SavePackage() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('reservationID',idReservation);
        formData.append('code', $('#codePackageNew').val());
        formData.append('area', $('#areaNewPackage').val());
        formData.append('description', $('#descriptionPackage').val());
        formData.append('warningDay', $('#warningDayPackage').val());
        formData.append('actice', $('#activePackage').is(':checked') ? 1 : 0);
        formData.append('userName', userName);
        formData.append('userID',userID);
        $.ajax({
            url: '/Reservation/SavePackage',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalNewPackage();
                    setHideButtonPackage();
                    GetPackageByReservationID();
                    clearPackage();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
    function clearPackage(){
         $('#codePackageNew').val('');
         $('#areaNewPackage').val('Reservation');
         $('#descriptionPackage').val('');
         $('#warningDayPackage').val('0');
    }

    function openModalPackageetUp(){
        GetPackageetUp();
        $('#modalPackageetUp').modal('show');
    }
    function closeModalPackageetUp(){
        $('#modalPackageetUp').modal('hide');
    }
    function GetPackageetUp() {
        $.ajax({
            url: '/Reservation/GetSetUpPackage',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridPackageSetUp(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridPackageSetUp(data) {
        $("#gridContainerPackageSetUp").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [
                { dataField: "id", caption: "ID",  visible: false},
                { dataField: "code", caption: "Code"},
                { dataField: "description", caption: "Description"},


            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowDblClick: function(e) {
                $('#codePackageNew').val(e.data.code);
                closeModalPackageetUp();
            }
        });
    }
</script>