
<div id="confirmBoxRoomAssignment" class="confirm-overlay">
    <div class="confirm-box">
        <h2>Confirmation Action</h2>
        <p id="titleSplitReservation">Are you sure you want to Unassign this room?</p>
        <div class="confirm-buttons">
            <button class="mui-button mui-button-search" onclick="UnAssignRoom()">OK</button>
            <button class="mui-button mui-button-clear" onclick="closeConfirmRoomUnAssign()">Cancel</button>
        </div>
    </div>
</div>

<!-- Modal search room assignment-->
<div class="modal fade modal-xl" id="modalRoomAssignment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Available Room Search</h5>
                <button type="button" class="btn-close" onclick="closeRoomAssignment();"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button class="mui-button mui-button-search" onclick="getAllRoomsAssignment();"><i class="fas fa-search"></i> Search</button>
                </div>
                <div class=" mb-2">
                    <div style="display:flex;column-gap:12px" class="mb-1">
                        <div class ="form-group-new-reservation">
                            <label for="input1" >RoomType</label>
                            <select type="text"  id="roomTypeSearchAssignment" asp-items="ViewBag.cboRoomType">
                            </select>
                        </div>
                        <div class="form-group-new-reservation">
                            <label for="input2" >Smoking</label>
                            <select type="text" id="smokingSearchAssignment">
                                <option value="2">---Select all ---</option>
                                <option value="1">Smoking</option>
                                <option value="0">No Smoking</option>

                            </select>
                        </div>
                        <div class="form-group-new-reservation">
                            <label for="input3" >RoomNo</label>
                            <input type="text"  id="roomNoSearchAssignment" />
                        </div>
                        <div class="form-group-new-reservation">
                            <label for="input4">Floor</label>
                            <input type="text"  id="floorSearchAssignment">
                        </div>
                        <div class="form-group-new-reservation">
                            <label for="input5" >From</label>
                            <input type="date"  id="fromSearchAssignment">
                        </div>
                        <div class="form-group-new-reservation">
                            <label for="input6" >To</label>
                            <input type="date"  id="toSearchAssignment">
                        </div>
                    </div>
                    <div class="form-group mb-1" style="display:flex;column-gap:12px">
                        <label>FO Status</label>
                        <div class="form-group-new-reservation">
                            <input  type="radio" name="foStatusAssignment" checked value="0">
                            <label >Vacant</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input  type="radio" name="foStatusAssignment" value="1" disabled>
                            <label  >Occupied</label>
                        </div>
                    </div>
                    <div class="form-groupmb-1" style="display:flex;column-gap:12px">
                        <label>HK Status</label>
                        <div class="form-group-new-reservation">
                            <input type="checkbox" name="hkStatusAssignment" value="1">
                            <label >Clean Non-checked Rooms</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input  type="checkbox" name="hkStatusAssignment" value="2">
                            <label >Dirty Rooms</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input  type="checkbox" name="hkStatusAssignment" value="4">
                            <label >Clean Rooms</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input type="checkbox" name="hkStatusAssignment" value="5">
                            <label  >OOC Rooms</label>
                        </div>
                        <div class ="form-group-new-reservation">
                            <input type="checkbox" name="hkStatusAssignment" value="6">
                            <label >OOS Rooms</label>
                        </div>
                        <div class="form-group-new-reservation">
                            <input  type="checkbox" name="hkDummyAssignment">
                            <label >Pseudo (Dummy) Roóm</label>
                        </div>
                    </div>
                </div>
                <div id="loadingSpinnerRoomAssignment" style="display: none; text-align: center; padding: 20px;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="mui-card">
                    <div id="gridContainerSearchRoomAssignment" class="mt-2 gridContainer"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal search room auto assignment-->
<div class="modal fade modal-xl" id="modalAutoRoomAssignment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Automatic Room Assignment</h5>
                <button type="button" class="btn-close" onclick="closeModalAutoRoomAssignment();"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button class="mui-button mui-button-search" onclick="assignAutoRoom();"> Start</button>
                </div>
                <div class="row">
                    <div class="form-group-new-reservation col-md-2">
                        <label>
                            Arrival
                        </label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input type="date" id="arrivalAutoRoom">
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-2" style="display:none">
                        <label>
                            Departure
                        </label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input type="date" id="departureAutoRoom">
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-2" style="display:none">
                        <label>
                            Confirmation
                        </label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input type="text" id="conAutoRoom">
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-2 mt-1" style="display:flex">
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input type="checkbox" id="allDateAutoRoom">
                        </div>
                        <label>All Date</label>
                    </div>
                    <div class="form-group-new-reservation col-md-2">
                        <label>
                            Room Type
                        </label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <select id="roomTypeAutoRoom" asp-items="ViewBag.cboRoomType"></select>
                        </div>
                    </div>
                   
                    <div class="form-group-new-reservation col-md-2">
                        <label>
                            Smoking
                        </label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <select id="smokingAutoRoom">
                                <option value="">ALL</option>
                                <option value="1">Smoking Rooms</option>
                                <option value="0">Non-Smoking Rooms</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-2">
                        <label>
                            Floor
                        </label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <select id="floorAutoRoom" asp-items="ViewBag.cboFloor">
                            </select>
                        </div>
                    </div>
                    <div style="col-md-2 form-group-new-reservation mt-1">
                        <div style="display:flex;column-gap:12px">
                            <div class="form-check">
                                <input type="checkbox" name="statusRoomAuto" value="2">
                                <label style="padding-top:4px">Dirty Rooms</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="statusRoomAuto" value="1">
                                <label style="padding-top:4px">Clean Non-checked Rooms</label>
                            </div>
                            
                            <div class="form-check">
                                <input type="checkbox" name="statusRoomAuto" value="4">
                                <label  style="padding-top:4px">Clean Rooms</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="statusRoomAuto" value="5">
                                <label  style="padding-top:4px">Include Due out Rooms</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="statusRoomAuto" value="6">
                                <label  style="padding-top:4px">Include Out of Service Rooms</label>
                            </div>

                        </div>

                    </div>

                    <div class="form-group-new-reservation col-md-2">
                        <label>
                            Start From Room
                        </label>
                        <div class="row" style="margin-left:1px;margin-right:2px">
                            <input id="startFromRoom" readonly class="col-md-8" />
                            <button onclick="opemFormSearchRoomAuto()" class="col-md-2"><i class="fa-solid fa-arrow-down"></i></button>
                        </div>

                    </div>
                    <div class="form-group-new-reservation col-md-12">
                        <label style="color:red">
                            Not Assign Room: <span id="notAssignRoom"></span>
                        </label>


                    </div>
                    <div class="form-group-new-reservation col-md-12">
                        <label>
                            Status
                        </label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <textarea id="statusAutoRoom" ></textarea>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

<!-- Modal search room auto assignment-->
<div class="modal fade modal-xl" id="modalSearchRoomAuto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Room available to assignment</h5>
                <button type="button" class="btn-close" onclick="closeFormSearchRoomAuto();"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button class="mui-button mui-button-search" onclick="chooseRoomAuto();"> OK</button>
                </div>
                <div class="row">
                    <div id="gridContainerSearchRoomAutoAssignment" class="mt-2 gridContainer"></div>

                </div>

            </div>

        </div>
    </div>
</div>
<script>
    function openConfirmRoomUnAssign() {
        if(idReservation == 0){
            showToast('Error', 'Please choose booking', false);
            return;
        }
       document.getElementById("confirmBoxRoomAssignment").style.display = "flex";
    }
    function closeConfirmRoomUnAssign() {

       document.getElementById("confirmBoxRoomAssignment").style.display = "none";
    }
    function openRoomAssignment(){
        if (idReservation === 0) {
            showToast('Error', 'Please choose booking', false);
            return;
        }


        let parts = arivalDate.split(' ')[0].split('/'); 
        let formattedDate = `${parts[2]}-${parts[1]}-${parts[0]}`; 

        $('#fromSearchAssignment').val(formattedDate);

        let parts2 = departureDate.split(' ')[0].split('/');
        let formattedDate2 = `${parts2[2]}-${parts2[1]}-${parts2[0]}`;
        $('#toSearchAssignment').val(formattedDate2);

        $('#roomTypeSearchAssignment option').each(function () {
            if ($(this).text().trim() === roomType) {
                $('#roomTypeSearchAssignment').val($(this).val()).trigger('change');
                return false; 
            }
        });        
        getAllRoomsAssignment();
        $('#modalRoomAssignment').modal('show');
    }
    function closeRoomAssignment(){
        $('#modalRoomAssignment').modal('hide');
    }
    function getAllRoomsAssignment() {
        $("#loadingSpinnerRoomAssignment").show();
        const selectedHKStatus = getSelectedCheckboxes('hkStatusAssignment');
        const selectedFOStatus = getSelectedRadio('foStatusAssignment');
        var check =  $('#hkDummyAssignment').is(':checked') ? 1 : 0;
        $.ajax({
            url: '/Reservation/GetAllRooms',
            type: 'get',
            dataType: 'json',
            data:{
                fromDate : $('#fromSearchAssignment').val(),
                toDate: $('#toSearchAssignment').val(),
                floor: $('#floorSearchAssignment').val(),
                roomTypeID: $('#roomTypeSearchAssignment').val(),
                smoking: $('#smokingSearchAssignment').val(),
                foStatus:selectedFOStatus,
                hkStatus: selectedHKStatus,
                isDummy:check,
                roomNo:$('#roomNoSearchAssignment').val()
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridSearchRoomAssignment(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            },
            complete: function () {
                $("#loadingSpinnerRoomAssignment").hide();
            }
        });
    }
    function initializeDataGridSearchRoomAssignment(data) {
        var columnWidth = 150;

        $("#gridContainerSearchRoomAssignment").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [


                { dataField: "roomID", caption: "Room ID", width: columnWidth - 80, visible: false},
                { dataField: "roomNo", caption: "Ro.No", width: columnWidth - 80 },
                { dataField: "roomType", caption: "Room Type", width: columnWidth * 2 },
                { dataField: "hkStatus", caption: "HK Status", width: columnWidth },
                { dataField: "fo", caption: "FO", width: columnWidth },
                { dataField: "floor", caption: "Floor", width: columnWidth },
                { dataField: "guestCheckOut", caption: "Back-to-Back", width: columnWidth },
                { dataField: "connecting", caption: "Connecting", width: columnWidth },
                { dataField: "balcony", caption: "Balcony", width: columnWidth },

            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single" // Allows only one row to be selected at a time
            },
            onRowDblClick: function(e) {
                AssignRoom(e.data.roomID,e.data.roomNo);
            }
        });
    }
    function AssignRoom(roomID,roomNo) {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();

        formData.append('rsvID', idReservation);
        formData.append('roomID',roomID);
        formData.append('roomNo', roomNo);
        formData.append('userName', userName);
        formData.append('userID',userID);

        $.ajax({
            url: '/Reservation/AssignRoom',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeRoomAssignment();
                    searchReservation();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
    function UnAssignRoom() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();

        formData.append('rsvID', idReservation);
        formData.append('userName', userName);
        formData.append('userID',userID);

        $.ajax({
            url: '/Reservation/UnAssignRoom',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeConfirmRoomUnAssign();
                    closeRoomAssignment();
                    searchReservation();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }

    function openModalAutoRoomAssignment(){
        var grid = $("#gridContainer").dxDataGrid("instance");
        var dataSource = grid.getDataSource();
        var firstRow = dataSource.items()[0];

        $('#arrivalAutoRoom').val(firstRow.Arrival.split('T')[0]);
        $('#departureAutoRoom').val(firstRow.Departure.split('T')[0]);
        $('#conAutoRoom').val(firstRow.ConfirmationNo);
        $('#roomTypeAutoRoom option').filter(function() {
            return $(this).text().trim() == firstRow.RoomType;
        }).prop('selected', true);
        $('#modalAutoRoomAssignment').modal('show');
    }
    function closeModalAutoRoomAssignment(){
        $('#modalAutoRoomAssignment').modal('hide');
    }
    var listRoomAssignAuto = [];
    function opemFormSearchRoomAuto(){
        $.ajax({
            url: '/Reservation/SearchRoomAssign',
            type: 'get',
            dataType: 'json',
            data:{
                smoking: $('#smokingAutoRoom').val(),
                floor: $('#floorAutoRoom').val(),
                arrivalDate: $('#arrivalAutoRoom').val(),
                departureDate: $('#departureAutoRoom').val(),
                confirmationNo:  $('#conAutoRoom').val(),
                roomTypeID: $('#roomTypeAutoRoom').val(),
                hkStatus: getSelectedCheckboxes('statusRoomAuto')
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                listRoomAssignAuto = result;
                initializeDataGridSearchRoomAutoAssignment(result);
                $('#modalSearchRoomAuto').modal('show');
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                }
            },

        });
    }

    function initializeDataGridSearchRoomAutoAssignment(data) {
        $("#gridContainerSearchRoomAutoAssignment").dxDataGrid({
            dataSource: data,
            keyExpr: "id",
            allowColumnResizing: true,
            columns: [
                {
                    type: "selection",
                    width: 50,
                    allowFiltering: false,
                    allowSorting: false,
                    headerCellTemplate: function() { return $("<div>"); }
                },
                { dataField: "id", caption: "ID", visible: false },
                { dataField: "roomNo", caption: "Room No" },
                { dataField: "roomType", caption: "Room Type" },
                { dataField: "hkStatus", caption: "HK Status" },
                { dataField: "fo", caption: "FO " },
                { dataField: "roomClass", caption: "Room Class" },
                { dataField: "floor", caption: "Floor" },
                { dataField: "smoking", caption: "Smoking" },
                { dataField: "backToBack", caption: "Back To Back" },
                { dataField: "balcony", caption: "Balcony" },
                { dataField: "connecting", caption: "Connecting" },
                { dataField: "description", caption: "Description" },
            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual'
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "multiple",
                showCheckBoxesMode: "always"
            },
            onRowClick: function(e) {

                const grid = $("#gridContainerBilling").dxDataGrid("instance");
                grid.selectRows([e.key], false);
            },
           
        });
    }
    function closeFormSearchRoomAuto(){
        $('#modalSearchRoomAuto').modal('hide');

    }
    var unselectedRows = [];
    function chooseRoomAuto() {
        var grid = $("#gridContainerSearchRoomAutoAssignment").dxDataGrid("instance");
        var selectedRows = grid.getSelectedRowsData(); 
        var selectedIds = selectedRows.map(row => row.roomNo); 
        unselectedRows = listRoomAssignAuto.filter(item => !selectedIds.includes(item.roomNo));
        closeFormSearchRoomAuto(); 
        $('#startFromRoom').val(selectedIds[0]); 
        var text = '';

        if(selectedIds.length > 0){
            for(var i = 0;i<selectedIds.length;i++){
                text += selectedIds[i] + ', ';
            }
        }
        $('#notAssignRoom').text(text);

    }

</script>