<div class="modal fade modal-xl" id="modalRouting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Routing Instructions</h5>
                <button type="button" class="btn-close" onclick="closeModalRouting()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="mui-button mui-button-search" onclick="openModalNewRouting();"><i class="fa-solid fa-code-pull-request"></i> New</button>
                    <button class="mui-button mui-button-edit"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                    <button class="mui-button mui-button-delete"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button class="mui-button mui-button-close" onclick="closeModalRouting();"><i class="fas fa-times"></i> Close</button>
                </div>
                <div class="mui-divider"></div>

                <div class="mui-card mt-2">
                    <div id="gridContainerRouting" class="mt-2 gridContainer"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal new-->
<div class="modal fade modal" id="modalNewRouting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Routing</h5>
                <button type="button" class="btn-close" onclick="closeModalNewRouting()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="mui-button mui-button-search" onclick="SaveRouting();"><i class="fa-solid fa-file-circle-check"></i> OK</button>
                    <button class="mui-button mui-button-clear" onclick="closeModalNewRouting();"><i class="fa-solid fa-file"></i>Close</button>
                </div>

                <div class="mt-2 row bg-light border rounded" style="margin:0 1px">
                    <div class="row">
                        <div class="radio-group col-md-4">
                            <input type="radio" id="everydayTypeRouting" name="typeRouting" checked value="0">
                            <label for="everydayTypeRouting" style="text-align:left">Master Folio</label>
                        </div>
                        <div class="radio-group col-md-4 ">
                            <input type="radio" id="dateTypeRouting" name="typeRouting" style="flex:0" value="1">
                            <label for="dateTypeRouting" style="text-align:left">Window</label>
                        </div>
                        <div class="radio-group col-md-4 ">
                            <input type="radio" id="dayTypeRouting" name="typeRouting" style="flex:0" value="2">
                            <label for="dayTypeRouting" style="text-align:left">Room</label>
                        </div>
                    </div>
                    <div class="mui-divider"></div>
                    <div class="row">
                        <div class="col-md-6 row">
                            <div class="radio-group col-md-12">
                                <input type="radio" id="entireStay" name="dayRouting" checked value="1">
                                <label for="entireStay" style="text-align:left">Entire Stay</label>
                            </div>
                            <div class="radio-group col-md-12 ">
                                <input type="radio" id="otherDate" name="dayRouting" style="flex:0" value="0">
                                <label for="otherDate" style="text-align:left">Other Date</label>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="mb-2">
                                <label class="col-md-2" style="text-align:left;min-width:0">BeginDate</label>
                                <input type="date" class="form-control col-md-10" id="beginDateRouting">
                            </div>
                            <div class="mb-2">
                                <label  class="col-md-2" style="text-align:left;min-width:0">EndDate</label>
                                <input type="date" class="form-control col-md-10" id="endDateRouting">
                            </div>
                        </div>
                    </div>
                    <div class="mui-divider"></div>
                    <div class="row">
                        <div class="col-md-12 mb-2 row">
                            <label for="input1" class="form-label col-md-2" style="min-width:0;text-align:left">Room</label>
                            <select type="text" class="form-control col-md-10" id="roomRouting" disabled></select>
                        </div>
                        <div class="col-md-12 mb-2 row">
                            <label for="input1" class="form-label col-md-2" style="min-width:0;text-align:left">Transaction</label>
                            <select type="text" class="form-control col-md-10" id="transactionRouting" asp-items="ViewBag.cboTransaction" ></select>
                        </div>
                        <div class="col-md-6 mb-2 row">
                            <label for="input1" class="form-label col-md-4" style="min-width:0;text-align:left">Limit</label>
                            <input type="text" class="form-control col-md-8" id="limitRouting" value="0">
                        </div>
                        <div class="col-md-12 mb-2 row">
                            <label for="input1" class="form-label col-md-2" style="min-width:0;text-align:left">Name</label>
                            <input type="text" class="form-control col-md-10" id="nameRouting" disabled>
                        </div>
                        <div class="col-md-12 mb-2 row">
                            <label for="input1" class="form-label col-md-2" style="min-width:0;text-align:left">Address</label>
                            <input type="text" class="form-control col-md-10" id="addressRouting" disabled>
                        </div>
                        <div class="col-md-6 mb-2 row">
                            <label for="input1" class="form-label col-md-4" style="min-width:0;text-align:left">Window</label>
                            <select type="text" class="form-control col-md-8" id="windowRouting">
                                <option value="1" selected>--Master Folio--</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalRouting(){
        if (idReservation === 0) {
            showToast('Error', 'Please choose booking', false);
            return;
        }
         let formattedDate = arivalDate.split(" ")[0].split("/").reverse().join("-"); // Chuyển thành 2024-08-30
        $('#beginDateRouting').val(formattedDate);
          let formattedDate2 = arivalDate.split(" ")[0].split("/").reverse().join("-"); // Chuyển thành 2024-08-30
        $('#endDateRouting').val(formattedDate2);
        GetRoutingByReservationID(idReservation,confirmationNo);
        $('#modalRouting').modal('show');
    }
    function closeModalRouting(){
        $('#modalRouting').modal('hide');
    }
    function openModalNewRouting() {
        searchReservationMaster();
        clearFormAddRouting();

        if (reservationMaster == 0) {
            console.log('a');
            $('#windowRouting').prop('disabled', true);
            $('#everydayTypeRouting').prop('disabled', true);

            $('#everydayTypeRouting').prop('checked', false);
            $('#dateTypeRouting').prop('checked', true); 
        } else {
            console.log('b');
            $('#windowRouting').prop('disabled', false);
            $('#everydayTypeRouting').prop('disabled', true);

            $('#everydayTypeRouting').prop('checked', true); 
        }

        $('#modalNewRouting').modal('show');
    }
    function closeModalNewRouting(){
        clearFormAddRouting();
        $('#modalNewRouting').modal('hide');
    }
    function GetRoutingByReservationID(id,confirmationNo) {
        $.ajax({
            url: '/Reservation/SearchRouting',
            type: 'get',
            dataType: 'json',
            data: {
                reservationID: id,
                confirmationNo: confirmationNo,
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridRouting(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeDataGridRouting(data) {
        var columnWidth = 150;
        $("#gridContainerRouting").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [
                { dataField: "rsqID", caption: "ID",  visible: false},
                { dataField: "accountName", caption: "Route To Name"},
                { dataField: "transactionCodes", caption: "Routing Instructions"},
                { dataField: "fromDate", caption: "Begin Date"},
                { dataField: "toDate", caption: "End Date"},
                { dataField: "roomNo", caption: "RoomNo"},
                { dataField: "toFolioNo", caption: "Windown"},
                { dataField: "limit", caption: "Limit"},
 
            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowClick: function(e) {
            }
        });
    }

    function SaveRouting() {
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('rsvID', idReservation);
        formData.append('transactionRouting',  $('input[name="typeRouting"]:checked').val());
        formData.append('toFolioNo', $('#windowRouting').val());
        formData.append('toRoom', $('#roomRouting').val());
        formData.append('transactionCodes',  $('#transactionRouting').val());
        formData.append('fromDate', $('#beginDateRouting').val());
        formData.append('toDate', $('#endDateRouting').val());
        formData.append('limit', $('#limitRouting').val());

        formData.append('entireDate', $('input[name="typeRouting"]:checked').val());
        formData.append('userID',userID);

        $.ajax({
            url: '/Reservation/SaveRouting',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    GetRoutingByReservationID(idReservation,confirmationNo);
                    closeModalNewRouting();
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
    function clearFormAddRouting(){
        $('#nameRouting').val(lastname);
        $('#windowRouting').val(1);
        $('#transactionRouting').val(0);
         $('#limit').val('0');
        const parsedDate = moment(arivalDate, ['DD/MM/YYYY', 'MM/DD/YYYY']); // Hỗ trợ cả hai định dạng
        const formattedDate = parsedDate.format('YYYY-MM-DD'); // Chuyển thành yyyy-mm-d        
        $('#beginDateRouting').val(formattedDate);
        const parsedDate2 = moment(departureDate, ['DD/MM/YYYY', 'MM/DD/YYYY']); // Hỗ trợ cả hai định dạng
        const formattedDate2 = parsedDate2.format('YYYY-MM-DD'); // Chuyển thành yyyy-mm-d
        $('#endDateRouting').val(formattedDate2);
    }
    function searchRoomRouting(){
        $.ajax({
            url: '/Reservation/SearchRoomRouting',
            type: 'get',
            dataType: 'json',

            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                console.log(result);
                $('#roomRouting').empty();
                var html = `<option value="0"></option>`;
                if(result.length > 0){
                    for(var i = 0;i<result.length;i++){
                        html += `<option value="${result[i].id}">${result[i].lastName}</option>`
                    }
                }
                $('#roomRouting').append(html);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    $('input[name="typeRouting"]').on('change', function() {
        let selectedValue = $('input[name="typeRouting"]:checked').val();
        if(selectedValue == 2){
            $('#roomRouting').prop('disabled', false);
            $('#amountDepositRequest').prop('disabled', false);
            $('#amountDepositRequest').prop('disabled', false);
            searchRoomRouting();
        }
    });
    var reservationMaster = 0;
    function searchReservationMaster(){
        $.ajax({
            url: '/Reservation/SearchReservationMaster',
            type: 'get',
            dataType: 'json',
            data:{
                reservationID : idReservation
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                reservationMaster= result;
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
</script>