<!-- Modal share-->
<div class="modal fade modal-xl" id="modalShare" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Share Information</h5>
                <button type="button" class="btn-close" onclick="closeModalShare()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button class="mui-button mui-button-search" > Search</button>
                    <button class="mui-button mui-button-clear"> Clear</button>
                </div>
                <div class="row bg-light border rounded mt-2 mb-2" style="margin:0 4px;justify-content:space-between">
                    <div class="col-md-3" style="color:#9F0010"><b>Room Details</b></div>
                    <div class="col-md-8">
                        <div id="gridContainerRoomDetail" class="mb-2 mt-2 gridContainer"></div>

                    </div>
                </div>
                <div class="row bg-light border rounded mt-2 mb-2" style="margin:0 4px;justify-content:space-between">
                    <div class="col-md-3" style="color:#9F0010"><b>Nightly Rate Details</b></div>
                    <div class="col-md-8">
                        <div id="gridContainerRateDetail" class="mt-2 mb-2 gridContainer"></div>

                    </div>
                </div>
                <div class="row bg-light border rounded mt-2 mb-2" style="margin:0 4px;justify-content:space-between">
                    <div class="col-md-12" style="color:#9F0010"><b>Share Reservation Details</b></div>
                    <div class="col-md-12">
                        <div id="gridContainerReservationDetail" class="mt-2 mb-2 gridContainer"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalShare(){
        if (idReservation === 0) {
            showToast('Error', 'Please choose booking', false);
            return;
        }
        $('#modalShare').modal('show');
        searchShare();

    }
    function closeModalShare(){
        $('#modalShare').modal('hide');

    }
    function searchShare() {
        $.ajax({
            url: '/Reservation/SearchShare',
            type: 'get',
            dataType: 'json',
            data:{
               reservationID : idReservation

            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridShareReservationDetail(result.resultReservationDetail);
                initializeDataGridShareRoomDetail(result.resultRoomDetail);
                initializeDataGridShareRateDetail(result.resultRateDetail);
            },
            error: function (xhr, statusText, err) {

            }
        });
    }
    function initializeDataGridShareRateDetail(data) {
        $("#gridContainerRateDetail").dxDataGrid({
            dataSource: data,
            columnMinWidth: 90,
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            scrolling: {
                mode: 'virtual',
                showScrollbar: 'always',
                useNative: false,
            },
            selection: {
                mode: "single"
            },

        });
    }
    function initializeDataGridShareRoomDetail(data) {
        $("#gridContainerRoomDetail").dxDataGrid({
            dataSource: data,
            columnMinWidth: 90,
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            scrolling: {
                mode: 'virtual',
                showScrollbar: 'always',
                useNative: false,
            },
            selection: {
                mode: "single"
            },

        });
    }
    function initializeDataGridShareReservationDetail(data) {
        $("#gridContainerReservationDetail").dxDataGrid({
            dataSource: data,
            columnMinWidth: 90,
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            scrolling: {
                mode: 'virtual',
                showScrollbar: 'always',
                useNative: false,
            },
            selection: {
                mode: "single"
            },

        });
    }
</script>