<div class="modal fade modal-xl" id="modalTraces" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Search Trace </h5>
                <button type="button" class="btn-close" onclick="closeModalTraces()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="submit-button-clear-reservation" onclick="searchTrace();">Search</button>

                    <button class="submit-button-clear-reservation" onclick="openModalNewTrace();">New</button>
                </div>
                <div class="row mt-2">
                    <div class="form-group-new-reservation col-md-3">
                        <label>Name</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="nameTraces" type="text" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-3">
                        <label>Date</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="dateTraces" type="date" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-3">
                        <label>Department</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <select id="departmentTraces"  ></select>
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-3">
                        <label>Resolved</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <select id="resolveTraces" type="text">
                                <option value="" selected>All</option>
                                <option value="0">Resolved</option>
                                <option value="1">UnResolved</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mui-card mt-2">
                    <div id="gridContainerTraces" class="mt-2 gridContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal" id="modalNewTrace" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border:1px solid #bcbcbc">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Alert</h5>
                <button type="button" class="btn-close" onclick="closeModalNewTrace()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="submit-button-clear-reservation" onclick="SaveTrace();"> OK</button>
                    <button class="submit-button-clear-reservation" onclick="closeModalNewTrace();">Close</button>
                </div>
                <div class="row mt-2">
                    <div class="form-group-new-reservation col-md-4">
                        <label>From Date</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="fromDateAddNewTrace" type="date" />
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-4">
                        <label>To Date</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="toDateAddNewTrace" type="date"  />
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-3">
                        <label>Time</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="timeAddNewTrace" type="text"  />

                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-6">
                        <label>Department</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <select id="departmentAddNewTraces"></select>
                        </div>
                    </div>
                    <div class="form-group-new-reservation col-md-6">
                        <label>Trace text</label>
                        <div class="row" style="margin-left:1px;margin-right:2px;justify-content:space-between">
                            <input id="textAddNewTrace" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalTraces(){
        $('#modalTraces').modal('show');
        getDepartmentTrace();
    }
    function closeModalTraces(){
        $('#modalTraces').modal('hide');
    }
    function getDepartmentTrace(){
        $.ajax({
            url: '/Reservation/GetDepartmentTraces',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                // Clear existing options
                $('#departmentTraces').empty();

                // Add a default option (optional)
                $('#departmentTraces').append('<option value="">Select an department</option>');

                // Populate select with options
                $.each(result, function (index, item) {
                    $('#departmentTraces').append(
                        $('<option></option>').val(item.id).text(item.name)
                    );
                    $('#departmentAddNewTraces').append(
                        $('<option></option>').val(item.id).text(item.name)
                    );
                });
                searchTrace();
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function searchTrace() {

        $.ajax({
            url: '/Reservation/SearchTrace',
            type: 'get',
            dataType: 'json',
            data: {
                departmentID :$('#departmentTraces').val(),
                resolved: $('#resolveTraces').val(),
                date: $('#dateTraces').val(),
                name:$('#nameTraces').val(),
                reservationID: idReservation
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                initializeDataGridTraces(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
     function initializeDataGridTraces(data) {
        $("#gridContainerTraces").dxDataGrid({

        dataSource: data, allowColumnResizing: true,
            columns: [
                { dataField: "ID", caption: "ID",  visible: false},
                { dataField: "Account", caption: "Name"},
                { dataField: "RoomNo", caption: "Room No"},
                { dataField: "ConfirmationNo", caption: "Confirm.No"},
                { dataField: "FromDate", caption: "From Date"},
                { dataField: "ToDate", caption: "To Date"},
                { dataField: "TracesTime", caption: "Time"},
                { dataField: "Department", caption: "Department"},
                { dataField: "Rsv", caption: "Resolved"},
                { dataField: "RsvDate", caption: "Resolved Date"},
                { dataField: "ResolvedBy", caption: "Resolved By"},
                { dataField: "Status", caption: "Status"},
                { dataField: "CreateBy", caption: "Create By"},
                { dataField: "CreateDate", caption: "Create On"},
                { dataField: "UpdateBy", caption: "Update By"},
                { dataField: "UpdateDate", caption: "Update On"},
            ],
            paging: { pageSize: 15 },
            scrolling: {
                rowRenderingMode: 'virtual',
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true,
            },
            filterRow: {
                    visible: true,
                    applyFilter: "auto"
            },
            selection: {
                mode: "single"
            },
            onRowClick: function(e) {
                setShowButtonAlerts();
            }
        });
    }
    function openModalNewTrace(){
        clearNewTrace();
        $('#modalNewTrace').modal('show');
    }
    function closeModalNewTrace(){
        clearNewTrace();
        $('#modalNewTrace').modal('hide');
    }
    function clearNewTrace(){
        $('#timeAddNewTrace').val('00:00');
        $('#departmentAddNewTraces').val('');
        $('#textAddNewTrace').val('');
    }
    function SaveTrace() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();
        formData.append('reservationID',idReservation);
        formData.append('fromDate', $('#fromDateAddNewTrace').val());
        formData.append('toDate', $('#toDateAddNewTrace').val());
        formData.append('time', $('#timeAddNewTrace').val());
        formData.append('department', $('#departmentAddNewTraces').val());
        formData.append('traceText', $('#textAddNewTrace').val());
        formData.append('profileID', profileID);

        formData.append('userName', userName);
        formData.append('userID',userID);
        $.ajax({
            url: '/Reservation/SaveTrace',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalNewTrace();
                    searchTrace();
                    showToast('Success', data.msg, true);
                } else {
                    showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
</script>