<!-- Modal wait list-->
<div class="modal fade modal" id="modalWaitList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">WaitList</h5>
                <button type="button" class="btn-close" onclick="closeModalWaitList()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="mui-button mui-button-search" onclick="SaveWaitList();"><i class="fa-solid fa-magnifying-glass"></i> OK</button>
                    <button class="mui-button mui-button-clear"><i class="fa-solid fa-file"></i>Close</button>
                </div>
                <div class="row mt-2">
                    <label class="col-md-2">Reason</label>
                    <select  id="reasonWaitList" class="col-md-10"></select>
                </div>
                <div class="row mt-2">
                    <label class="col-md-2">Piority</label>
                    <select id="priorityWaitList" class="col-md-10" asp-items="ViewBag.cboReason"></select>
                </div>
                <div class="row mt-2">
                    <label class="col-md-2">Telephone No.</label>
                    <input id="telephoneWaitList" class="col-md-10"  />
                </div>
                <div class="mt-2">
                    <label >Description</label>
                    <textarea class="form-control"  rows="3" id="desWaitList"></textarea>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openModalWaitList(){
        if (reservationStatus != 0 && reservationStatus != 5) {
            showToast('Error', 'Please choose booking has status Reserevation or Due In', false);
            return;
        }
        getReasonWaitList();
        getPriority();
        $('#modalWaitList').modal('show');
    }
    function closeModalWaitList(){
        $('#modalWaitList').modal('hide');

    }

    function getReasonWaitList(){
        $.ajax({
            url: '/Reservation/GetReasonWaitList',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                var html = `<option value='0'></option>`;
                $('#reasonWaitList').empty();
                if(result.length > 0){
                    for(var i = 0;i< result.length;i++){
                        html+= `<option value='${result[i].id}'>${result[i].description}</option>`;
                    }
                }
                $('#reasonWaitList').append(html);

            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                    showToast('Error', 'Error', false);
                }
            }

        });
    }

    function getPriority(){
        $.ajax({
            url: '/Reservation/GetPriority',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                var html = `<option value='0'></option>`;
                $('#priorityWaitList').empty();
                if(result.length > 0){
                    for(var i = 0;i< result.length;i++){
                        html+= `<option value='${result[i].id}'>${result[i].name}</option>`;
                    }
                }
                $('#priorityWaitList').append(html);

            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                } else {
                    showToast('Error', 'Error', false);
                }
            }

        });
    }
    function SaveWaitList() {
        const userName = JSON.parse(localStorage.getItem("Loginname"));
        const userID = JSON.parse(localStorage.getItem("userID"));
        var formData = new FormData();

        formData.append('reasoneID', $("#reasonWaitList").val());
        formData.append('priorityID', $("#priorityWaitList").val());
        formData.append('telephone', $("#telephoneWaitList").val());
        formData.append('description', $("#desWaitList").val());
        formData.append('rsvID', idReservation);

        formData.append('userName', userName);
        formData.append('userID',userID);

        $.ajax({
            url: '/Reservation/SaveWaitList',
            type: 'POST',
            processData: false,
            contentType: false,
            // headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            data: formData,
            success: function (data) {
                if (data.code == 0) {
                    closeModalWaitList();
                    searchReservation();
                    showToast('Success', data.msg, true);
                } else {
                        showToast('Error', data.msg, false);
                }

            },
            error: function (xhr, statusText, err) {

            }
        });

    }
</script>