<div class="modal fade profile-modal" id="modalProfileIndividual" tabindex="-1"
    aria-labelledby="modalProfileIndividualLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="content-title-ind">New Profile - Individual</h5>
                @*   <button type="button" class="btn-close" onclick="closeFormProfile()" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button id="btnView" onclick="openModalSearch()" class="mui-button mui-button-new">Search</button>
                    <button type="button" class="mui-button mui-button-new" onclick="saveProfile();">Save</button>
                    <button type="button" class="mui-button mui-button-new" onclick="closeFormProfile()">Change
                        Profile Type</button>
                    <button type="button" class="mui-button mui-button-new" onclick="resetForm()">Clear</button>
                    <button type="button" class="mui-button mui-button-new" onclick="closeFormProfile();">Close</button>
                </div>

                <div class="profile_input">
                    <div style="display:flex">
                        <div
                            style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;padding:4px;background-color:#ececec">
                            Stats Infor
                        </div>
                        <div
                            style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;padding:4px;background-color:#ececec;margin-left:4px">
                            Contact
                        </div>
                    </div>

                    <div class="main-infor mt-2" id="profile_individual">
                        <div class="row justify-content-center">
                            <div class="d-flex justify-content-center">
                                <ul class="nav nav-tabs mb-2 " role="tablist">
                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#tab-ind-address" type="button">
                                            Address & Communications
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-ind-internal"
                                            type="button">
                                            Tax / Internal / Status
                                        </button>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content ">
                                <div class="tab-pane fade show active " id="tab-ind-address">
                                    <div class="row ">
                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1">
                                                <input hidden id="idIndividual" />
                                                <label class="col-sm-4 col-form-label text-sm-end">
                                                    Code <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" class="form-control" id="txtCodeIndividual"
                                                        name="codeIndividual" data-bs-toggle="tooltip"
                                                        title="The contact code will have a fixed length of 13 characters."
                                                        data-bs-placement="right">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-sm-end">Full Name <span
                                                        class="text-danger">*</span></label>
                                                <div class="col-sm-6 position-relative">
                                                    <input type="text" class="form-control" id="txtFullNameIndividual"
                                                        name="fullNameIndividual" data-bs-toggle="tooltip"
                                                        title="Please typing as below: LastName MiddleName, FirstName, Mr. OR LastName MiddleName, FirstName."
                                                        data-bs-placement="right">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-sm-end">First / Last Name
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="txtFirstNameIndividual"
                                                        name="firstNameIndividual">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="txtLastNameIndividual"
                                                        name="lastNameIndivdual">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-sm-end">Middle Name </label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control"
                                                        id="txtMiddleNameIndividual">
                                                </div>
                                            </div>

                                            <hr class="my-2">

                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-sm-end">Language /
                                                    Title</label>
                                                <div class="col-sm-3">
                                                    <select id="txtLanguageIndividual" class="ms-2"
                                                        data-placeholder="Please select Language"></select>
                                                </div>
                                                <div class="col-sm-3 ">
                                                    <select id="txtTitleIndividual"
                                                        data-placeholder="Please select Title"></select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-end">
                                                    Nationality <span class="text-danger">*</span>/ Country
                                                </label>
                                                <div class="col-sm-3 ">
                                                    <select id="txtNationalityIndividual" class="ms-2"
                                                        name="nationalityIndividual"
                                                        data-placeholder="Please select Nationality"></select>
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                                <div class="col-sm-3 ">
                                                    <select id="txtCountryIndividual"
                                                        data-placeholder="Please select Country"></select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-end">City</label>
                                                <div class="col-sm-6">
                                                    <select id="txtCityIndividual" class="ms-2"
                                                        data-placeholder="Please select City"></select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-end">Postal /
                                                    State</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="txtPostalIndividual">
                                                </div>
                                                <div class="col-sm-3 ">
                                                    <select id="txtStateIndividual"
                                                        data-placeholder="Please select State"></select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-end">Religion /
                                                    Nation</label>
                                                <div class="col-sm-6 d-flex gap-1">
                                                    <input type="text" class="form-control" id="txtReligionIndividual">
                                                    <input type="text" class="form-control" id="txtNationIndividual">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-4 col-form-label text-end">Purpose Of
                                                    Stay</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="txtPurposeIndividual">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- RIGHT COLUMN (Communications) -->
                                        <div class="col-md-4 mui-card">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Address</label>
                                                <div class="col-sm-8"><textarea class="form-control" rows="10"
                                                        id="txtAddressIndividual" style="height: 85px;"></textarea>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Telephone</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="txtTelephoneIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Hand Phone</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="txtHandPhoneIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Fax</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="txtFaxIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Email</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="txtEmailIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Website</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="txtWebsiteIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Company</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="txtCompany2Individual"></div>
                                            </div>
                                            <div class="row align-items-center"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Business
                                                    Title</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="txtBusinessTitleIndividual"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 mui-card">
                                            <div class="mb-2 d-flex justify-content-center">
                                                <label>Image</label>
                                            </div>
                                            <div class="mb-4 d-flex justify-content-center">
                                                <img id="selectedImage"
                                                    src="https://scontent.fhan17-1.fna.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=dst-png_s200x200&_nc_cat=1&ccb=1-7&_nc_sid=136b72&_nc_ohc=G84eH8GGiWgQ7kNvwE83FZy&_nc_oc=AdkGZKo_VUsRFqDslroz75QLB3Dsqx1BeohdoUOZ6zkLarvZ9pxrPuqg-y7FG7kBPmI&_nc_zt=24&_nc_ht=scontent.fhan17-1.fna&oh=00_Afo1Syqr5y_VZWchyn3cKinAvCYq8vQueUv0Rf2qAV7nyw&oe=6984227A"
                                                    alt="example placeholder" style="width: 140px;" />
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <div data-mdb-ripple-init class="mui-button mui-button-new">
                                                    <label class="form-label text-black m-1" for="customFile1">
                                                        Upload
                                                    </label>
                                                    <input type="file" class="form-control d-none" id="customFile1"
                                                        onchange="displaySelectedImage(event, 'selectedImage')" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ================= TAB 2 ================= -->


                                <div class="tab-pane fade" id="tab-ind-internal">
                                    <div class="row">
                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Company</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtCompanyIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Tax Code</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtTaxIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Bus.
                                                    Address</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtBusAddressIndividual"></div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Salutation</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtSalutationIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">VIP</label>
                                                <div class="col-sm-6">
                                                    <select id="txtVIPIndividual"
                                                        data-placeholder="Please select Language" class="ms-2"></select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">VIP
                                                    Reason</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtReasonIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Passport</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtPassportIndividual"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Identity
                                                    Card</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtCardIndividual"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Date of
                                                    Birth</label>
                                                <div class="col-sm-4"><input type="date" class="form-control"
                                                        id="txtDobIndividual" disabled data-business-date></div>
                                                <div class="col-sm-2"><input type="checkbox" class="form-check-input"
                                                        id="txtCheckboxDobIndividual" checked></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-md-2 col-form-label text-sm-end">Active</label>
                                                <div class="col-md-2"><input type="checkbox" class="form-check-input"
                                                        id="txtActiveIndividual" checked>
                                                </div><label class="col-md-2 col-form-label text-sm-end">Contact</label>
                                                <div class="col-md-2"><input type="checkbox" class="form-check-input"
                                                        id="txtContactIndividual">
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Keyword</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtKeywordIndividual"></div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Black
                                                    list</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="blackListReasonIndividual" name="blackListReasonIndividual"
                                                        disabled>
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                                <div class="col-sm-1"><input type="checkbox" class="form-check-input"
                                                        id="blackListIndividual" name="blackListIndividual"></div>
                                            </div>
                                            <div class="row align-items-start"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Notes</label>
                                                <div class="col-sm-6"><textarea
                                                        class="form-control form-control-sm note-textarea" rows="3"
                                                        id="txtNoteIndividual"></textarea></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-search" id="modalIndividualSearch" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h6 class="modal-title mb-0">Search</h6>
            </div>
            <div class="modal-body pt-2">
                <button type="button" class="mui-button mui-button-close " onclick="closeModalSearch()">  Close</button>

                <div class="row mb-1 align-items-center">
                    <label class="col-sm-2 col-form-label text-end">Search Name</label>
                    <div class="col-sm-3">
                        <input type="text" id="nameIndividual" class="form-control form-control-sm"
                            placeholder="Enter user name" />
                    </div>
                    <label class="col-sm-1 col-form-label text-end">First</label>
                    <div class="col-sm-4">
                        <input type="text" id="firstNameIndividual" class="form-control form-control-sm"
                            placeholder="Enter user name" />
                    </div>
                    <div class="col-sm-1">
                        <button id="btnViewIndividual" class="mui-button mui-button-search">
                            
                        </button>
                    </div>
                </div>
                <div id="profileIndividualGrid" class="gridContainer"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(async function () {
        await setSelectIndividual();
    });

    const tomSelectInstances = {};
    async function setSelectIndividual() {
        const configs = [
            "#select-beast-empty",
            "#txtLanguageIndividual",
            "#txtTitleIndividual",
            "#txtNationalityIndividual",
            "#txtCountryIndividual",
            "#txtStateIndividual",
            "#txtCityIndividual",
            "#txtVIPIndividual",
        ];

        for (const id of configs) {
            const el = document.querySelector(id);
            if (!el) continue;

            // Destroy nếu đã tồn tại (tránh duplicate khi mở modal nhiều lần)
            if (tomSelectInstances[id]) {
                tomSelectInstances[id].destroy();
            }

            tomSelectInstances[id] = new TomSelect(el, {
                valueField: 'value',
                labelField: 'text',
                searchField: 'text',
                create: false,
                allowEmptyOption: true,
                plugins: ['clear_button']
            });
        }
    }

    $(document).on('keydown', '#nameIndividual, #firstNameIndividual', async function (e) {
        if (e.key === 'Enter') {
            e.preventDefault();
            await blindValue();
        }
    });

    // Blacklist Logic
    $('#blackListIndividual').on('change', function () {
        const isChecked = this.checked;
        $('#blackListReasonIndividual').prop('disabled', !isChecked).toggleClass('is-invalid', false);
        if (isChecked) { $('#blackListReasonIndividual').css({ 'background-color': 'black', 'color': 'white' }); }
        else { $('#blackListReasonIndividual').css({ 'background-color': '', 'color': '' }); }
    });
    $('#txtCheckboxDobIndividual').on('change', function () { $('#txtDobIndividual').prop('disabled', $(this).is(':checked')); });

    // --- UI HELPERS ---
    function openModalSearch() {
        $('#modalIndividualSearch').modal('show');
    }

    function closeModalSearch() {
        clearIndividualSearchModal();
        $('#modalIndividualSearch').modal('hide');
    }

    //Fill dữ liệu cho Individual
    function selectGroup(selectedRowData) {
        if (!selectedRowData) return;

        $('#idIndividual').val(selectedRowData.id ?? '');

        // ===== BASIC INFO =====
        $('#txtCodeIndividual').val(selectedRowData.code ?? '');
        $('#txtFullNameIndividual').val(selectedRowData.account ?? '');
        $('#txtFirstNameIndividual').val(selectedRowData.firstname ?? '');
        $('#txtLastNameIndividual').val(selectedRowData.lastName ?? '');
        $('#txtMiddleNameIndividual').val(selectedRowData.middleName ?? '');

        // ===== TOMSELECT =====
        setTomSelectValue('#txtLanguageIndividual',
            selectedRowData.languageID,
            selectedRowData.languageName
        );

        setTomSelectValue('#txtTitleIndividual',
            selectedRowData.titleID,
            selectedRowData.titleName
        );

        setTomSelectValue('#txtNationalityIndividual',
            selectedRowData.nationalityID,
            selectedRowData.nationalityName
        );

        setTomSelectValue('#txtCountryIndividual',
            selectedRowData.countryID,
            selectedRowData.countryName
        );

        setTomSelectValue('#txtStateIndividual',
            selectedRowData.stateID,
            selectedRowData.stateName
        );

        setTomSelectValue('#txtCityIndividual',
            selectedRowData.cityID,
            selectedRowData.cityName
        );

        setTomSelectValue('#txtVIPIndividual',
            selectedRowData.vipid,
            selectedRowData.vipName
        );

        // ===== TEXT FIELDS =====
        $('#txtPostalIndividual').val(selectedRowData.postalCode ?? '');
        $('#txtReligionIndividual').val(selectedRowData.religion ?? '');
        $('#txtNationIndividual').val(selectedRowData.nation ?? '');
        $('#txtPurposeIndividual').val(selectedRowData.purposeOfStay ?? '');

        $('#txtAddressIndividual').val(selectedRowData.address ?? '');
        $('#txtBusAddressIndividual').val(selectedRowData.homeAddress ?? '');

        $('#txtTelephoneIndividual').val(selectedRowData.telephone ?? '');
        $('#txtHandPhoneIndividual').val(selectedRowData.handPhone ?? '');
        $('#txtFaxIndividual').val(selectedRowData.fax ?? '');
        $('#txtEmailIndividual').val(selectedRowData.email ?? '');
        $('#txtWebsiteIndividual').val(selectedRowData.website ?? '');

        $('#txtCompany2Individual').val(selectedRowData.company ?? '');
        $('#txtBusinessTitleIndividual').val(selectedRowData.businessTitle ?? '');
        $('#txtCompanyIndividual').val(selectedRowData.company ?? '');

        $('#txtTaxIndividual').val(selectedRowData.taxCode ?? '');
        $('#txtPassportIndividual').val(selectedRowData.passPort ?? '');
        $('#txtCardIndividual').val(selectedRowData.identityCard ?? '');

        $('#txtSalutationIndividual').val(selectedRowData.salutation ?? '');
        $('#txtReasonIndividual').val(selectedRowData.vipReason ?? '');

        // ===== DOB =====
        if (selectedRowData.dateOfBirth && !selectedRowData.dateOfBirth.startsWith('1900')) {
            $('#txtDobIndividual').val(selectedRowData.dateOfBirth.substring(0, 10)).prop('disabled', false);
            $('#txtCheckboxDobIndividual').prop('checked', true);
        } else {
            $('#txtDobIndividual').val('').prop('disabled', true);
            $('#txtCheckboxDobIndividual').prop('checked', false);
        }

        // ===== STATUS =====
        $('#txtActiveIndividual').prop('checked', !!selectedRowData.active);
        $('#txtContactIndividual').prop('checked', !!selectedRowData.contact);

        $('#txtKeywordIndividual').val(selectedRowData.keyword ?? '');
        $('#txtNoteIndividual').val(selectedRowData.description ?? '');

        // ===== BLACKLIST =====
        $('#blackListIndividual').prop('checked', !!selectedRowData.isBlackList);
        $('#blackListReasonIndividual')
            .val(selectedRowData.blackListReason ?? '')
            .prop('disabled', !selectedRowData.isBlackList);

        closeModalSearch();
    }

    async function selectIndividual(id) {
        try {
            $("#loadingSpinner").show();
            const res = await $.ajax({ url: 'FindIndividualByID/', method: "GET", data: { id: id } });
            if (!res?.success) { showToast('Error', res?.message || 'Failed.', false); return; }
            const pkg = res.data;
            selectGroup(pkg);
            $("#loadingSpinner").hide();
        } catch (error) { console.error(error); $("#loadingSpinner").hide(); }
    }

    async function initializeProfileIndividualGrid(data) {
        $("#profileIndividualGrid").dxDataGrid({
            dataSource: data || [],
            showBorders: true,
            selection: { mode: "single" },
            paging: { pageSize: 20 },
            height: "300px",
            pager: { showPageSizeSelector: true, allowedPageSizes: [5, 10, 20], showInfo: true },
            filterRow: { visible: true },
            columns: [{ dataField: "id", caption: "ID", visible: false }, { dataField: "name", caption: "Name" }],
            scrolling: { mode: "standard", showScrollbar: "always", scrollByContent: true },
            onRowClick: async function (e) {
                selectedRowData = e.data.id;
                await selectIndividual(selectedRowData);
            },
            noDataText: "No records to display"
        });
    }

    async function getProfileIndividualSreach(value) {
        try {
            $("#loadingSpinner").show();
            const res = await $.ajax({ url: '/ProfileIndividualSreach/', method: "GET", data: { LastName: value.name, FirstName: value.firstName } });
            if (!res?.success) { showToast('Error', res?.message || 'Failed.', false); return; }
            initializeProfileIndividualGrid(res.data);
            $("#loadingSpinner").hide();
        } catch (error) { console.error(error); $("#loadingSpinner").hide(); }
    }

    async function blindValue() {
        const searchModel = {
            name: document.getElementById('nameIndividual').value.trim(),
            firstName: document.getElementById('firstNameIndividual').value.trim()
        };
        await getProfileIndividualSreach(searchModel);
    }

    function bindIndividualSearch() {
        const inputs = ['nameIndividual', 'firstNameIndividual'];
        inputs.forEach(id => {
            const el = document.getElementById(id);
            if (!el) return;
            el.addEventListener('keydown', async function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    await blindValue();
                }
            });
        });
    }

    async function bindIndividualSearchButton() {
        const btn = document.getElementById('btnViewIndividual');
        if (btn) {
            btn.addEventListener('click', async function () {
                await blindValue();
            });
        }
    }

    bindIndividualSearch();

    function clearIndividualSearchModal() {
        // Clear input
        $('#nameIndividual').val('');
        $('#firstNameIndividual').val('');

        // Clear grid (DevExtreme)
        const grid = $('#profileIndividualGrid').dxDataGrid('instance');
        if (grid) {
            grid.option('dataSource', []);
            grid.clearSelection();
        }
    }


</script>
