<div class="modal fade profile-modal" id="modalProfileCompany" tabindex="-1" aria-labelledby="modalProfileCompanyLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Profile - Company / TA / Source</h5>
                <button type="button" class="btn-close" onclick="closeFormProfile()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button type="button" class="submit-button-clear-reservation" onclick="saveProfile();">Save</button>
                    <button type="button" class="submit-button-clear-reservation" onclick="closeFormProfile()">Change
                        Profile Type</button>
                    <button type="button" class="submit-button-new-reservation" onclick="resetForm()">Clear</button>
                </div>

                <div class="profile_input">
                    <div style="display:flex">
                        <div
                            style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;padding:4px;background-color:#ececec">
                            Stats Infor
                        </div>
                        <div
                            style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;padding:4px;background-color:#ececec;margin-left:4px">
                            Contact
                        </div>
                    </div>
                    <div class="main-infor mt-2" id="profile_com_ta_source">
                        <div class="row justify-content-center">
                            <div class="d-flex justify-content-center">
                                <ul class="nav nav-tabs mb-2" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-main"
                                            type="button" role="tab">
                                            Address & Communications
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-internal"
                                            type="button" role="tab">
                                            Tax / Internal / Status
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-main" role="tabpanel">
                                    <div class="row">
                                        <!-- Left column : Address -->
                                        <div class="col-md-6 mui-card">

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end fw-semibold">
                                                    Code <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control " id="txtCodeCOM"
                                                        name="codeCOM" data-bs-toggle="tooltip"
                                                        title="The contact code will have a fixed length of 13 characters."
                                                        data-bs-placement="right">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Account</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control " id="txtAccountCOM"
                                                        name="accountCOM">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Address</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control " id="txtAddressCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">
                                                    City / Country <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-md-3">
                                                    <select id="txtCityCOM" class="form-select-sm"
                                                        data-placeholder="Please select City">

                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <select id="txtCountryCOM" class="form-select-sm"
                                                        data-placeholder="Please select Country">

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Postal / State</label>
                                                <div class="col-md-2">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtPostalCOM">
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="txtStateCOM" class="form-select-sm"
                                                        data-placeholder="Please select State">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Right column : Communications -->
                                        <div class="col-md-6 mui-card">

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Telephone</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtTelephoneCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Hand Phone</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtHandPhoneCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Contact Name</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtContactNameCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Email</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtEmailCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Website</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtWebsiteCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Company</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtCompany2COM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center">
                                                <label class="col-md-2 col-form-label text-sm-end">Business Title</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtBusTitleCOM">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-internal" role="tabpanel">
                                    <div class="row">
                                        <!-- Left column : Tax + Internal -->
                                        <div class="col-md-6 mui-card">

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Company</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtCompanyCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Tax Code</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtTaxCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-2">
                                                <label class="col-md-4 col-form-label text-sm-end">Bus. Address</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtBusAddressCOM">
                                                </div>
                                            </div>

                                            <hr class="my-2">

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Owner</label>
                                                <div class="col-md-6">
                                                    <select id="txtOwnerCOM" class="form-select-sm"
                                                        data-placeholder="Please select Owner">

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Territory</label>
                                                <div class="col-md-6">
                                                    <select id="txtTerritoryCOM" class="form-select-sm"
                                                        data-placeholder="Please select Territory">

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Type</label>
                                                <div class="col-md-6">
                                                    <select id="txtCompanyTypeCOM" class="form-select-sm"
                                                        data-placeholder="Please select Type">

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">A/R No</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="txtARCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Currency</label>
                                                <div class="col-md-6">
                                                    <select id="txtCurrencyCOM" class="form-select-sm"
                                                        data-placeholder="Please select Currency">

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-4 col-form-label text-sm-end">Sale In Charge</label>
                                                <div class="col-md-6">
                                                    <select id="txtSaleInChargeCOM" class="form-select-sm"
                                                        data-placeholder="Please select Sale In Charge">

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row align-items-center">
                                                <label class="col-md-4 col-form-label text-sm-end">Market Type</label>
                                                <div class="col-md-6">
                                                    <select id="txtMarketTypeCOM" class="form-select-sm"
                                                        data-placeholder="Please select Market Type">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Right column : Status + Notes -->
                                        <div class="col-md-6 mui-card">

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Market</label>
                                                <div class="col-md-6">
                                                    <select id="txtMarketCOM" class="form-select-sm"
                                                        data-placeholder="Please select Market">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Active</label>
                                                <div class="col-md-6">
                                                    <input type="checkbox" class="form-check-input" id="txtActiveCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-center mb-1">
                                                <label class="col-md-2 col-form-label text-sm-end">Black list</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="blackListReasonCOM" name="blackListReasonCOM" disabled>
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                                <div class="col-md-1">
                                                    <input type="checkbox" class="form-check-input" id="blackListCOM">
                                                </div>
                                            </div>

                                            <div class="row align-items-start">
                                                <label class="col-md-2 col-form-label text-sm-end">Notes</label>
                                                <div class="col-md-10">
                                                    <textarea id="txtNoteCOM"
                                                        class="form-control form-control-sm note-textarea"
                                                        rows="20"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
