<div class="modal fade profile-modal" id="modalProfileGroup" tabindex="-1" aria-labelledby="modalProfileGroupLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Profile - Group</h5>
@*                 <button type="button" class="btn-close" onclick="closeFormProfile()" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button type="button" class="submit-button-clear-reservation" onclick="saveProfile();">Save</button>
                    <button type="button" class="submit-button-clear-reservation" onclick="closeFormProfile()">Change
                        Profile Type</button>
                    <button type="button" class="submit-button-new-reservation" onclick="resetForm()">Clear</button>
                    <button type="button" class="submit-button-clear-reservation" onclick="closeFormProfile();">Close</button>
                </div>
                <div class="profile_input">
                    <div style="display:flex">
                        <div
                            style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;padding:4px;background-color:#ececec">
                            Stats Infor
                        </div>
                        <div
                            style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;padding:4px;background-color:#ececec;margin-left:4px">
                            Contact
                        </div>
                    </div>
                    <div class="main-infor mt-2" id="profile_group">
                        <div class="row justify-content-center">
                            <div class="d-flex justify-content-center">
                                <ul class="nav nav-tabs mb-2">
                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#group-tab-address" type="button">
                                            Address Information
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#group-tab-internal" type="button">
                                            Internal / Communications / Attributes
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="group-tab-address">
                                    <div class="row">
                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Code <span
                                                        class="text-danger">*</span></label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtCodeGroup" name="codeGroup" data-bs-toggle="tooltip"
                                                        title="The contact code will have a fixed length of 13 characters."
                                                        data-bs-placement="right">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Group Name <span
                                                        class="text-danger">*</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtGroupNameGroup" name="groupNameGroup">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Language</label>
                                                <div class="col-sm-6"><select id="txtLanguageGroup"
                                                        data-placeholder="Please select Language"
                                                        class="ms-2 "></select></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Address</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtAddressGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Home
                                                    Address</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtHomeAddressGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">City</label>
                                                <div class="col-sm-6"><select id="txtCityGroup"
                                                        data-placeholder="Please select City" class="ms-2 "></select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Postal Code</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtPostalCodeGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Country / State
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-sm-3"><select id="txtCountryGroup" class="ms-2"
                                                        data-placeholder="Please select Country"></select></div>
                                                <div class="col-sm-3"><select id="txtStateGroup"
                                                        data-placeholder="Please select State"></select></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-2 col-form-label text-sm-end">Search
                                                    Name</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="searchName"></div>
                                            </div>
                                            <div class="row align-items-start">
                                                <label class="col-sm-2 col-form-label text-sm-end"></label>
                                                <div class="col-md-8">
                                                    <div id="profileGroupGrid" class="gridContainer"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="group-tab-internal">
                                    <div class="row">
                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Acct
                                                    .Contact</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtContactGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Pref .Curr</label>
                                                <div class="col-sm-6"><select id="txtCurrencyGroup" class="ms-2"
                                                        data-placeholder="Please select Currency"></select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Account
                                                    Type</label>
                                                <div class="col-sm-6"><select class="form-select"></select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">VIP</label>
                                                <div class="col-sm-6"><select id="txtVIPGroup" class="ms-2"
                                                        data-placeholder="Please select VIP"></select></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">VIP Reason</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtVIPReasonGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Notes</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtNotesGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-2"><label
                                                    class="col-sm-4 col-form-label text-sm-end">History</label>
                                                <div class="col-sm-6"><input type="checkbox" class="form-check-input"
                                                        id="txtHistory"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Telephone</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtTelephongGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Email</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtEmailGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Website</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtWebsiteGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-2"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Hand Phone</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtHandPhoneGroup"></div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Rate Code</label>
                                                <div class="col-sm-6"><input type="text" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="row align-items-center"><label
                                                    class="col-sm-2 col-form-label text-sm-end">A/R No</label>
                                                <div class="col-sm-6"><input type="text" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
