<div class="modal fade profile-modal" id="modalProfileContact" tabindex="-1" aria-labelledby="modalProfileContactLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profile - Contact</h5>
                @*   <button type="button" class="btn-close" onclick="closeFormProfile()" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button type="button" class="mui-button mui-button-new" onclick="saveProfile();">Save</button>
                    <button type="button" class="mui-button mui-button-new" id="changeTypeCON"
                        data-bs-dismiss="modal">Change
                        Profile Type</button>
                    <button type="button" class="mui-button mui-button-new" onclick="resetForm()">Clear</button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="main-infor mt-2" id="profile_contact">
                    <div class="row justify-content-center">
                        <div class="d-flex justify-content-center">
                            <ul class="nav nav-tabs mb-2">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#contact-tab-address" type="button">
                                        Address Information
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact-tab-other"
                                        type="button">
                                        Other Information
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="contact-tab-address">
                                <div class="row ">
                                    <div class="col-md-6 mui-card">
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Code <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-sm-5"><input type="text" class="form-control"
                                                    id="txtCodeContact" name="CodeContact" data-bs-toggle="tooltip"
                                                    title="The contact code will have a fixed length of 13 characters."
                                                    data-bs-placement="right">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Full Name <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtFullNameContact" name="fullNameContact"
                                                    data-bs-toggle="tooltip"
                                                    title="Please typing as below: LastName MiddleName, FirstName, Mr. OR LastName MiddleName, FirstName."
                                                    data-bs-placement="right">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">First / Last Name <span
                                                    class="text-danger">* </span> </label>
                                            <div class="col-sm-3"><input type="text" class="form-control"
                                                    id="txtFirstNameContact" name="firstNameContact">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                            <div class="col-sm-3"><input type="text" class="form-control"
                                                    id="txtLastContact" name="lastNameContact">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Middle Name</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtMiddleNameContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Position / Dept</label>
                                            <div class="col-sm-6 d-flex gap-2"><input type="text" class="form-control"
                                                    id="txtPositionContact"><input type="text" class="form-control"
                                                    id="txtDeptContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Language / Title</label>
                                            <div class="col-sm-3"><select id="txtLanguageContact" class="ms-2"
                                                    data-placeholder="Please select Language"></select></div>
                                            <div class="col-sm-3"><select id="txtTitleContact"
                                                    data-placeholder="Please select Title"></select></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Salutation</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtSalulationContact"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mui-card">
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Address</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtAddressContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Home Address</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtHomeAddressContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">City</label>
                                            <div class="col-sm-6"><select id="txtCityContact" class="ms-2"
                                                    data-placeholder="Please select City"></select></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Postal Code</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtPostalCodeContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Country / State</label>
                                            <div class="col-sm-3"><select id="txtCountryContact" class="ms-2"
                                                    data-placeholder="Please select Country"></select></div>
                                            <div class="col-sm-3"><select id="txtStateContact"
                                                    data-placeholder="Please select State"></select></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="contact-tab-other">
                                <div class="row">
                                    <div class="col-md-6 mui-card">
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Owner</label>
                                            <div class="col-sm-6"><select id="txtOwnerContact" class="ms-2"
                                                    data-placeholder="Please select Owner"></select></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Territory</label>
                                            <div class="col-sm-6"><select id="txtTerritoryContact" class="ms-2"
                                                    data-placeholder="Please select Territory"></select></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">A/R No</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtARContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Date of birth</label>
                                            <div class="col-sm-6"><input type="date" class="form-control"
                                                    id="txtDobContact" disabled data-business-date></div>
                                            <div class="col-sm-2"><input type="checkbox" class="form-check-input mt-2"
                                                    checked id="txtCheckboxDobContact"></div>
                                        </div>
                                        <div class="row mb-2 align-items-center"><label
                                                class="col-sm-4 col-form-label text-sm-end">Active</label>
                                            <div class="col-sm-6">
                                                <div class="form-check"><input type="checkbox" class="form-check-input"
                                                        id="txtActiveContact"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mui-card">
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Telephone</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtTelephoneContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Fax</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtFaxContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Email</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtEmailContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Website</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtWebsiteContact"></div>
                                        </div>
                                        <div class="row mb-1 align-items-center"><label
                                                class="col-sm-2 col-form-label text-sm-end">Hand Phone</label>
                                            <div class="col-sm-6"><input type="text" class="form-control"
                                                    id="txtHandPhoneContact"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(async function () {
        await setSelectContact();
    });

    const tomSelectContact = {};
    async function setSelectContact() {
        const configs = [
            "#select-beast-empty",
            "#txtLanguageContact", "#txtTitleContact", "#txtCityContact",
            "#txtStateContact", "#txtCountryContact",
            "#txtOwnerContact", "#txtTerritoryContact"
        ];

        for (const id of configs) {
            const el = document.querySelector(id);
            if (!el) continue;

            // Destroy nếu đã tồn tại (tránh duplicate khi mở modal nhiều lần)
            if (tomSelectInstances[id]) {
                tomSelectInstances[id].destroy();
            }

            tomSelectInstances[id] = new TomSelect(el, {
                valueField: 'value',
                labelField: 'text',
                searchField: 'text',
                create: false,
                allowEmptyOption: true,
                plugins: ['clear_button']
            });
        }
    }
    $('#txtCheckboxDobContact').on('change', function () { $('#txtDobContact').prop('disabled', $(this).is(':checked')); });

</script>
