<div class="modal fade profile-modal" id="modalProfileGroup" tabindex="-1" aria-labelledby="modalProfileGroupLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profile - Group</h5>
                @*                 <button type="button" class="btn-close" onclick="closeFormProfile()" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <button type="button" class="mui-button mui-button-new" onclick="saveProfile();">Save</button>
                    <button type="button" class="mui-button mui-button-new" id="changeTypeGR"
                        data-bs-dismiss="modal">Change
                        Profile Type</button>
                    <button type="button" class="mui-button mui-button-new" onclick="resetForm()">Clear</button>
                    <button type="button" class="mui-button mui-button-new"data-bs-dismiss="modal">Close</button>
                </div>
                <div class="profile_input">
                    <div class="main-infor mt-2" id="profile_group">
                        <div class="row justify-content-center">
                            <div class="d-flex justify-content-center">
                                <ul class="nav nav-tabs mb-2">
                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#group-tab-address" type="button">
                                            Address Information
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#group-tab-internal" type="button">
                                            Internal / Communications / Attributes
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="group-tab-address">
                                    <div class="row">
                                        <div class="col-md-6 mui-card">
                                            <input hidden id="idGroup" />
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Code <span
                                                        class="text-danger">*</span></label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtCodeGroup" name="codeGroup" data-bs-toggle="tooltip"
                                                        title="The contact code will have a fixed length of 13 characters."
                                                        data-bs-placement="right">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Group Name <span
                                                        class="text-danger">*</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtGroupNameGroup" name="groupNameGroup">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Language</label>
                                                <div class="col-sm-6"><select id="txtLanguageGroup"
                                                        data-placeholder="Please select Language"
                                                        class="ms-2 "></select></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Address</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtAddressGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Home
                                                    Address</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtHomeAddressGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">City</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="txtCityGroup">
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Postal Code</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtPostalCodeGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Country / State
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-sm-3"><select id="txtCountryGroup" class="ms-2"
                                                        data-placeholder="Please select Country"></select></div>
                                                <div class="col-sm-3"><select id="txtStateGroup"
                                                        data-placeholder="Please select State"></select></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1">
                                                <label class="col-sm-2 col-form-label text-sm-end">Search
                                                    Name</label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        id="searchName"></div>
                                            </div>
                                            <div class="row align-items-start">
                                                <label class="col-sm-2 col-form-label text-sm-end"></label>
                                                <div class="col-md-8">
                                                    <div id="profileGroupGrid" class="gridContainer"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="group-tab-internal">
                                    <div class="row">
                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Acct
                                                    .Contact</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtContactGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Rref .Curr</label>
                                                <div class="col-sm-6"><select id="txtCurrencyGroup" class="ms-2"
                                                        data-placeholder="Please select Currency"></select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Account
                                                    Type</label>
                                                <div class="col-sm-6"><select class="form-select"></select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">VIP</label>
                                                <div class="col-sm-6"><select id="txtVIPGroup" class="ms-2"
                                                        data-placeholder="Please select VIP"></select></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">VIP Reason</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtVIPReasonGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-4 col-form-label text-sm-end">Notes</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtNotesGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-2"><label
                                                    class="col-sm-4 col-form-label text-sm-end">History</label>
                                                <div class="col-sm-6"><input type="checkbox" class="form-check-input"
                                                        id="txtHistory"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mui-card">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Telephone</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtTelephoneGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Email</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtEmailGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Website</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtWebsiteGroup"></div>
                                            </div>
                                            <div class="row align-items-center mb-2"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Hand Phone</label>
                                                <div class="col-sm-6"><input type="text" class="form-control"
                                                        id="txtHandPhoneGroup"></div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row align-items-center mb-1"><label
                                                    class="col-sm-2 col-form-label text-sm-end">Rate Code</label>
                                                <div class="col-sm-6"><input type="text" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="row align-items-center"><label
                                                    class="col-sm-2 col-form-label text-sm-end">A/R No</label>
                                                <div class="col-sm-6"><input type="text" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(async function () {
        await setSelectGroup();
        initializeProfileGroupGrid([]);
    }); 

    const tomSelectGroup = {};
    async function setSelectGroup() {
        const configs = [
            "#select-beast-empty", "#txtStateGroup",
            "#txtCountryGroup", "#txtLanguageGroup", "#txtCurrencyGroup",
            "#txtVIPGroup",
        ];

        for (const id of configs) {
            const el = document.querySelector(id);
            if (!el) continue;

            // Destroy nếu đã tồn tại (tránh duplicate khi mở modal nhiều lần)
            if (tomSelectInstances[id]) {
                tomSelectInstances[id].destroy();
            }

            tomSelectInstances[id] = new TomSelect(el, {
                valueField: 'value',
                labelField: 'text',
                searchField: 'text',
                create: false,
                allowEmptyOption: true,
                plugins: ['clear_button']
            });
        }
    }

    // --- GLOBAL EVENT BINDINGS (Unchanged Logic) ---
    document.getElementById("searchName").addEventListener("keydown", async function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            const value = event.target.value;
            await getProfileGroupSreach(value);
        }
    });

    async function getProfileGroupSreach(value) {
        try {
            $("#loadingSpinner").show();
            const res = await $.ajax({ url: '/ProfileGroupSreach/', method: "GET", data: { GroupName: value } });
            if (!res?.success) { showToast('Error', res?.message || 'Failed.', false); return; }
            initializeProfileGroupGrid(res.data);
            $("#loadingSpinner").hide();
        } catch (error) { console.error(error); $("#loadingSpinner").hide(); }
    }


    async function initializeProfileGroupGrid(data) {
        $("#profileGroupGrid").dxDataGrid({
            dataSource: data || [],
            showBorders: true,
            selection: { mode: "single" },
            paging: { pageSize: 20 },
            height: "300px",
            pager: { showPageSizeSelector: true, allowedPageSizes: [5, 10, 20], showInfo: true },
            filterRow: { visible: true },
            columns: [{ dataField: "id", caption: "ID", visible: false }, { dataField: "account", caption: "Group Name" }],
            scrolling: { mode: "standard", showScrollbar: "always", scrollByContent: true },
            onRowClick: function (e) {
                selectedRowData = e.data;
                selectGroupPro(selectedRowData.id);

            },
            noDataText: "No records to display"
        });
    }

    async function selectGroupPro(id) {
        try {
            $("#loadingSpinner").show();
            const res = await $.ajax({ url: 'FindGroupByID/', method: "GET", data: { id: id } });
            if (!res?.success) { showToast('Error', res?.message || 'Failed.', false); return; }
            const pkg = res.data;
            selectGroupGrid(pkg);
            $("#loadingSpinner").hide();
        } catch (error) { console.error(error); $("#loadingSpinner").hide(); }
    }

    function selectGroupGrid(data) {

        $('#idGroup').val(data.id ?? '');

        // --- TAB 1: ADDRESS INFORMATION ---
        $("#txtCodeGroup").val(data.code);
        $("#txtGroupNameGroup").val(data.account);

        setTomSelectValue('#txtLanguageGroup',
            data.languageID,
            data.languageName
        );
        $("#txtAddressGroup").val(data.address);
        $("#txtHomeAddressGroup").val(data.homeAddress);
        // Nếu city là select2/dropdown
        $("#txtCityGroup").val(data.city);
        $("#txtPostalCodeGroup").val(data.postalCode);

        // Country & State
        setTomSelectValue('#txtCountryGroup',
            data.countryID,
            data.countryName
        );
        setTomSelectValue('#txtStateGroup',
            data.stateID,
            data.stateName
        );
        // --- TAB 2: INTERNAL / COMMUNICATIONS / ATTRIBUTES ---
        // Cột bên trái (Internal)
        $("#txtContactGroup").val(data.acctContact);
        setTomSelectValue('#txtCurrencyGroup',
            data.currencyID,
            data.currencyName
        );
        // Account Type: Trong HTML của bạn chưa có ID cụ thể cho select này, 
        // bạn nên thêm id="txtAccountType" để dễ gán data.type
        $(".tab-pane#group-tab-internal select.form-select").val(data.type);

        $("#txtVIPGroup").val(data.vipid).trigger('change');
        setTomSelectValue('#txtVIPGroup',
            data.vipid,
            data.languageName
        );
        $("#txtVIPReasonGroup").val(data.vipReason);
        $("#txtNotesGroup").val(data.description); // Map 'description' vào 'Notes'

        // Checkbox History
        $("#txtHistory").prop('checked', data.history);

        // Cột bên phải (Communications)
        $("#txtTelephoneGroup").val(data.telephone);
        $("#txtEmailGroup").val(data.email);
        $("#txtWebsiteGroup").val(data.website);
        $("#txtHandPhoneGroup").val(data.handPhone);

        // Các trường Disabled (Rate Code / AR No)
        // Giả sử lấy từ dữ liệu cuối cùng
        $("input[disabled]").eq(0).val(data.lastRateCode);
        $("input[disabled]").eq(1).val(data.arNo);

        // Chuyển về tab đầu tiên mặc định (nếu cần)
        // $('.nav-tabs button[data-bs-target="#group-tab-address"]').tab('show');
    }

</script>
