<style>
    .header {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 0px;
        border-bottom: 2px solid #ececec;
    }

    .header h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }

    .header .info-icon {
        color: #6b7280;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .header .info-icon:hover {
        color: var(--main-color);
    }
</style>
<div>
    <div class="header mt-2" style="border-bottom:none;justify-content:center">
        <h3 id="content-title">
            Article Search
        </h3>
    </div>
    <div class="mb-2">
        <button class="mui-button mui-button-search" onclick="searchTransactionGroup();"> Search</button>


    </div>
    <div class="row">
        <div class="col-md-2" style="display:flex">
            <label>Trans Code</label>
            <select id="tranCodeID"></select>

        </div>
        <div class="col-md-2">
            <label>Code</label>
            <input type="text" id="code">
        </div>
        <div class="col-md-6">
            <label>Description</label>
            <input type="text" id="description">
        </div>
        <div class="col-md-6">
            <label>Supplement</label>
            <input type="text" id="supplement">
        </div>
    </div>
    <div class="mui-card mt-2">
        <div id="gridContainer" class="gridContainer mt-2"></div>
    </div>
</div>


<script>

    function getInforServices() {
        $.ajax({
            url: '/Billing/GetInforService',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#tranCodeID').empty();
                var html = `<option value='' selected> Transaction</option>`;
                if (result.transactions.length > 0) {
                    for (var i = 0; i < result.transactions.length; i++) {
                        html += `<option value='${result.transactions[i].code}'>${result.transactions[i].description}</option>`;
                    }
                }
                $('#tranCodeID').append(html);
                searchTransactionGroup();
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
                // Optionally handle error case, e.g., decide whether to call searchTransactionGroup
            }
        });
    }


    function searchTransactionGroup() {

        $.ajax({
            url: '/Article/SearchArticle',
            type: 'get',
            dataType: 'json',
            data: {
                tranCode: $('#tranCodeID').val(),
                articleCode: $('#code').val(),
                articleDescription: $('#description').val(),
                articleSupplement: $('#supplement').val()
            },
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {

                initializeDataGridSearch(result);
            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            },

        });

    }
    function initializeDataGridSearch(data) {
        const limitedData = data.slice(0, 100);

        $("#gridContainer").dxDataGrid({
            dataSource: limitedData,
            allowColumnResizing: true,
            columnMinWidth: 90,
            paging: {
                enabled: true, // Enable paging
                pageSize: 15 // 15 records per page
            },
            pager: {
                visible: true,
                allowedPageSizes: [15, 20, 30], // Fixed page sizes
                showPageSizeSelector: true,
                showInfo: true, // Show paging info
                showNavigationButtons: true
            },
            scrolling: {
                mode: 'standard', // Standard scrolling mode
                showScrollbar: 'always',
                useNative: false
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            selection: {
                mode: "multiple", // Enable multiple row selection
                showCheckBoxesMode: "always" // Always show checkboxes
            },
            columns: [
                { dataField: "ID", caption: "ID", visible: false },

                { dataField: "Code", caption: "Code" },
                { dataField: "Description", caption: "Description" },
                { dataField: "Supplement", caption: "Supplement" },
                { dataField: "TransactionCode", caption: "Transaction Code" },
                { dataField: "Price", caption: "Price" },
                { dataField: "Currency", caption: "Currency" },

            ],
            onRowClick: function (e) {
                const grid = $("#gridContainer").dxDataGrid("instance");
                grid.selectRows([e.key], false);
            },
        });
    }
    $(document).ready(function () {
        getInforServices();
    });



</script>
